<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="football2015week10A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						FAU at Western Kentucky
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Arizona<br />
						FOX Sports Detroit<br />
						FOX Sports Florida<br />
						FOX Sports Midwest<br />
						FOX Sports North<br />
						FOX Sports Ohio<br />
						FOX Sports San Diego<br />
						FOX Sports Southeast<br />
						FOX Sports Southwest<br />
						FOX Sports Wisconsin<br />
						MASN2<br />
						MSG Plus<br />
						Prime Ticket<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week10B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						William &amp; Mary at Elon
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast Network Philadelphia<br />
						Comcast SportsNet Mid Atlantic<br />
						SNY<br />
						WMYV - Greensboro, NC<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week10C">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Virginia at Miami (FL)
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports Midwest PLUS<br />
						FOX Sports South<br />
						FOX Sports Sun<br />
						NESN<br />
						SportsTime Ohio<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week10D">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Marshall at Middle Tennessee
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Arizona<br />
						FOX Sports Detroit<br />
						FOX Sports Midwest<br />
						FOX Sports North<br />
						FOX Sports Ohio<br />
						FOX Sports San Diego<br />
						FOX Sports Southeast<br />
						FOX Sports Southwest<br />
						FOX Sports Wisconsin<br />
						MASN2<br />
						MSG Plus<br />
						Prime Ticket<br />
						ROOT Sports Pittsburgh<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week10E">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Southern Utah at Montana St.
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Audience Network<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
						ROOT Sports Southwest<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	@Html.Partial("Google/GooglePartialAd")
</div>
