<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="football2015week8A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Army at Rice
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Arizona<br />
						FOX Sports Detroit<br />
						FOX Sports Florida<br />
						FOX Sports Midwest<br />
						FOX Sports North<br />
						FOX Sports Ohio<br />
						FOX Sports Southeast<br />
						FOX Sports Southwest<br />
						FOX Sports West<br />
						FOX Sports Wisconsin<br />
						MASN2<br />
						MSG Plus<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week8B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						NC State at Wake Forest
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest PLUS<br />
						FOX Sports North PLUS<br />
						FOX Sports San Diego<br />
						FOX Sports South<br />
						FOX Sports Southwest PLUS<br />
						FOX Sports Sun<br />
						Prime Ticket<br />
						NESN<br />
						ROOT Sports Northwest<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week8C">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						North Texas at Marshall
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Arizona<br />
						FOX Sports Detroit<br />
						FOX Sports Florida<br />
						FOX Sports North PLUS<br />
						FOX Sports Midwest<br />
						FOX Sports Ohio<br />
						FOX Sports Southeast<br />
						FOX Sports Southwest<br />
						FOX Sports West<br />
						MASN2<br />
						ROOT Sports Pittsburgh<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week8D">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Virginia at North Carolina
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest PLUS<br />
						FOX Sports South<br />
						FOX Sports Southwest PLUS<br />
						FOX Sports Sun<br />
						NESN<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week8E">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Richmond at James Madison
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast Network Philadelphia<br />
						CSN California<br />
						CSN Mid Atlantic PLUS<br />
						CSN Northwest<br />
						SNY<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week8F">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Princeton at Harvard
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude2<br />
						CSN Bay Area<br />
						CSN New England<br />
						CSN Philadelphia<br />
						SNY<br />
						and <a href="http://static.psbin.com/l/p/t9dnixf588l97v/ASN_Clearances_10-24-15.pdf">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week8G">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						North Dakota at Montana
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Audience Network<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
						ROOT Sports Southwest Alternate<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week8H">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						New Mexico at San Jose St.
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
						ROOT Sports Southwest<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week8I">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Villanova at Towson
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast Network Philadelphia<br />
						CSN Mid Atlantic<br />
						CSN Northwest<br />
						NESNplus<br />
						SNY<br />
						and <a href="http://caasports.com/documents/2015/10/20//Week_8_Clearances.pdf" target="_blank">local stations</a><br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week8J">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Troy at New Mexico St.
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude2<br />
						FOX Sports Arizona<br />
						FOX Sports Southwest<sup>+</sup><br />
						FOX Sports West<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>
