<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="football2015week1A">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Alcorn St. at Georgia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports North PLUS<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        NESN<br />
                        Prime Ticket<br />
                        SportsTime Ohio<br />
                        Sun Sports<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2015week1B">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        South Dakota St. at Kansas
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<sup>+</sup><br />
						FOX Sports South/SportSouth<sup>+</sup><br />
                        FOX Sports Southwest<br />
	                    FOX Sports West<br />
						FOX Sports Wisconsin PLUS<br/>
                        MASN2<br />
                        MSG Plus<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2015week1C">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Sam Houston St. at Texas Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports North PLUS<br />
                        FOX Sports Ohio<sup>+</sup><br />
						FOX Sports South/SportSouth<sup>+</sup><br />
                        FOX Sports Southwest<br />
	                    FOX Sports West<br />
						FOX Sports Wisconsin PLUS<br/>
                        MASN2<br />
                        MSG Plus<br />
                        Sun Sports<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2015week1D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Georgia Southern at West Virginia
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Midwest PLUS<br />
	                    FOX Sports North PLUS<br />
						FOX Sports Ohio PLUS<br/>
						FOX Sports South/SportSouth<sup>+</sup><br />
                        FOX Sports Southwest PLUS<br />
                        FOX Sports Wisconsin<br />
                        MASN2<br />
                        MSG Plus<br />
                        Prime Ticket<br />
                        ROOT Sports Pittsburgh<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2015week1E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Southeastern Louisiana at Northwestern St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude2<br />
	                    CSN California<br />
						CSN Chicago PLUS<br/>
                        MASN2<br />
                        and <a href="http://southland.org/documents/2014/6/26/clearances.pdf" target="_blank">other affiliates</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2015week1F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Morgan St. at Air Force
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        ROOT Sports Northwest<br />
                        ROOT Sports Rocky Mountain<br />
                        ROOT Sports Southwest alternate<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2015week1G">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Wagner at Rice
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        CSN California<br />
                        CSN Chicago PLUS<br />
                        CST<br />
	                    SNY<br />
	                    NESNplus<br/>
						and <a href="http://grfx.cstv.com/photos/schools/c-usa/sports/m-footbl/auto_pdf/2015-16/misc_non_event/Week1TVListings.pdf">local stations</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
	<div id="football2015week1H">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Wagner at Rice
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN California PLUS<br />
						CSN Chicago PLUS<br />
						NESNplus<br />
						and <a href="http://grfx.cstv.com/photos/schools/c-usa/sports/m-footbl/auto_pdf/2015-16/misc_non_event/Week1TVListings.pdf">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>
