<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="football2015week3A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Central Michigan at Syracuse
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic PLUS<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest PLUS<br />
						FOX Sports North PLUS<br />
						FOX Sports South<br />
						FOX Sports Southwest PLUS<br />
						FOX Sports West<br />
						MSG<br />
						NESN<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
						SportsTime Ohio<br />
						Sun Sports<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week3B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Delaware at Villanova
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN California<br />
						CSN Mid Atlantic<br />
						CSN New England<br />
						CSN Philadelphia<br />
						SNY<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week3C">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Louisiana Tech at Kansas St.
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Arizona PLUS<br />
						FOX Sports Detroit<br />
						FOX Sports Midwest<br />
						FOX Sports North<br />
						FOX Sports Ohio<br />
						FOX Sports San Diego<br />
						FOX Sports Southwest<br />
						MSG Plus<br />
						Prime Ticket<br />
						ROOT Sports Pittsburgh (JIP)<br />
						SportSouth<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week3D">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						SMU at TCU
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Arizona PLUS<br />
						FOX Sports Detroit<br />
						FOX Sports Midwest<br />
						FOX Sports North PLUS<br />
						FOX Sports Ohio<sup>+</sup><br />
						FOX Sports Southwest<br />
						MSG Plus<br />
						Prime Ticket<br />
						SportSouth<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	@Html.Partial("Google/GooglePartialAd")
</div>
