<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="football2015week13A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Southern Miss at Louisiana Tech
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Arizona PLUS<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Florida<br />
						FOX Sports Midwest<br />
						FOX Sports North<br />
						FOX Sports Ohio<br />
						FOX Sports Southeast<br />
						FOX Sports Southwest<br />
						FOX Sports West<br />
						FOX Sports Wisconsin<br />
						MASN2<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week13B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Boston College at Syracuse
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports Midwest PLUS<br />
						FOX Sports North PLUS<br />
						FOX Sports San Diego<br />
						FOX Sports South<br />
						FOX Sports Southwest PLUS<br />
						FOX Sports Sun<br />
						MSG Plus<br />
						NESN<br />
						Prime Ticket<br />
						ROOT Sports Pittsburgh<sup>+</sup><br />
						SportsTime Ohio<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week13C">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						FAU at Old Dominion
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN California<br />
						CSN Chicago PLUS<br />
						MASN<br />
						and <a href="http://americansportsnet.com/schedule/">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week13D">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						UTEP at North Texas
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Arizona PLUS<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Florida<br />
						FOX Sports Midwest<br />
						FOX Sports North<br />
						FOX Sports Ohio<br />
						FOX Sports Southeast<br />
						FOX Sports Southwest<br />
						FOX Sports West<br />
						FOX Sports Wisconsin<br />
						MASN2<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week13E">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						UNLV at Wyoming
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
						ROOT Sports Southwest<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week13F">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Charlotte at Rice
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN California<br />
						CSN Chicago PLUS<br />
						MASN<br />
						and <a href="http://americansportsnet.com/schedule/">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>
