<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="football2015week7A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						FSN 12pm
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Arizona<br />
						FOX Sports Detroit<br />
						FOX Sports Florida<br />
						FOX Sports Midwest<br />
						FOX Sports North<br />
						FOX Sports Ohio<br />
						FOX Sports Southeast<br />
						FOX Sports Southwest<br />
						FOX Sports West<br />
						FOX Sports Wisconsin<br />
						MASN2<br />
						MSG Plus<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week7B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Princeton at Brown
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude2<br />
						CSN Bay Area<br />
						CSN Chicago PLUS<br />
						NESNplus<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week7C">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						New Hampshire at William & Mary
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast Network Philadelphia<br />
						CSN California<br />
						CSN Mid Atlantic<br />
						CSN New England<br />
						SNY<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week7D">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						ACC RSNs 3:30pm
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports Arizona<br />
						FOX Sports Florida<br />
						FOX Sports Midwest<br />
						FOX Sports North<br />
						FOX Sports South<br />
						FOX Sports West<br />
						FOX Sports Wisconsin<br />
						NESN<br />
						ROOT Sports Pittsburgh<br />
						SportsTime Ohio<br />
						Sun Sports<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week7E">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						ACC RSNs 7pm
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic PLUS<br />
						FOX Sports Florida/Sun Sports<sup>+</sup><br />
						FOX Sports Midwest<br />
						FOX Sports North PLUS<br />
						FOX Sports Southwest PLUS<br />
						FOX Sports West<br />
						FOX Sports Wisconsin<br />
						NESNplus<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week7F">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Montana St. at Portland St.
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Audience Network<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
						ROOT Sports Southwest<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week7G">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Hawai'i at New Mexico
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
						ROOT Sports Southwest<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	@Html.Partial("Google/GooglePartialAd")
</div>
