<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="football2015week1A">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Alcorn St. at Georgia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports South<br />
                        YES<br />
                        More to be announced
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2015week1B">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        South Dakota St. at Kansas
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        To be announced
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2015week1C">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Sam Houston St. at Texas Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX College Sports Central<br />
                        More to be announced
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2015week1D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Georgia Southern at West Virginia
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        ROOT Sports Pittsburgh<br />
                        More to be announced
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
