<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball201415week15A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Virginia Tech at Miami (FL)
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Midwest<br />
                        FOX Sports North PLUS<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest PLUS<sup>+</sup><br />
						FOX Sports Wisconsin<br />
                        MSG<br />
                        NESN<br />
                        Prime Ticket<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        SportsTime Ohio<br />
                        Sun Sports<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week15B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Duquesne at La Salle
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude<br />
                        Comcast SportsNet California<br />
                        Comcast SportsNet Chicago PLUS<br />
                        Comcast SportsNet Philadelphia<br />
                        CST<br />
                        MASN<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week15C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Kansas St. at TCU
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports North PLUS<br />
                        FOX Sports Ohio<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        MASN2<br />
                        ROOT Sports Rocky Mountain<br />
                        SportSouth<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week15D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Illinois St. at Bradley
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Chicago<br />
                        FOX College Sports Atlantic<br />
                        FOX Sports Midwest<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week15E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Southern Miss at Old Dominion
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude<br />
                        Comcast SportsNet California<br />
                        Comcast SportsNet Chicago PLUS<br />
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        CST<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week15F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Columbia at Brown
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast Network Philadelphia<br />
                        Comcast SportsNet California<br />
                        CST<br />
                        MASN<br />
                        NESN<br />
						and <a href="http://static.psbin.com/8/f/b9rkki0uezwdkw/ASN_Clearances-Columbia_at_Brown_MBB_02-20-15.pdf" target="_blank">local stations</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week15G">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Elon at Delaware
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast Network Philadelphia<br />
                        Comcast SportsNet California<br />
                        Comcast SportsNet Chicago PLUS<br />
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        CST<br />
                        SNY<br />
						and <a href="http://caasports.com/documents/2015/2/18//TVClearances_0216_0222.pdf" target="_blank">local stations</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week15H">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Butler at Xavier
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Cox-Ocean State Networks<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        MASN2<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        SportSouth<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week15I">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Louisiana Tech at Old Dominion
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude<br />
                        Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Chicago PLUS<br />
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        CST<br />
                        and <a href="http://grfx.cstv.com/photos/schools/latc/sports/m-baskbl/auto_pdf/2014-15/misc_event/TVchannels5.pdf" target="_blank">local stations</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week15J">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Notre Dame at Boston College
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic<br />
                        FOX Sports Detroit<br />
                        FOX Sports Midwest PLUS<sup>+</sup><br />
                        FOX Sports North<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Wisconsin<br />
                        NESN<br />
                        Prime Ticket<br />
                        SportsTime Ohio<br />
                        Sun Sports<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week15K">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Arkansas at Mississippi St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest PLUS<sup>+</sup><br />
                        FOX Sports Southwest<sup>+</sup><br />
                        SportSouth<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week15L">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Bradley at Northern Iowa
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Chicago<br />
                        FOX College Sports Central<br />
                        FOX Sports Midwest<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week15M">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        San Francisco at Pepperdine
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet California<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Rocky Mountain<br />
                        Time Warner Cable SportsNet<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week15N">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Southern Miss at Charlotte
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude<br />
                        Comcast SportsNet Bay Area<br />
                        CST<br />
                        MASN<br />
                        and <a href="http://www.charlotte49ers.com/ViewArticle.dbml?SPID=44799&SPSID=363433&DB_LANG=C&ATCLID=209832600&DB_OEM_ID=23200" target="_blank">local stations</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week15O">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        College of Charleston at James Madison
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
						Comcast SportsNet California PLUS<br />
                        Comcast SportsNet Northwest<br />
                        Comcast SportsNet Mid Atlantic<br />
                        Comcast SportsNet Philadelphia<br />
                        WMMP-Charleston<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week15P">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        New Mexico St. at Grand Canyon
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude<br />
                        Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Chicago PLUS<br />
                        CST<br />
                        MASN2<br />
                        and <a href="http://www.wacsports.com/fls/10100/docs/pdfs/ASN/02_21_WAC_clearances.pdf" target="_blank">local stations</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week15Q">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Western Kentucky at Middle Tennessee
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports San Diego<br />
                        FOX Sports Southwest<br />
                        FOX Sports Wisconsin<br />
                        MASN2<br />
                        MSG Plus<br />
                        Prime Ticket<br />
                        ROOT Sports Rocky Mountain<br />
                        SportSouth<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
