<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball200506week15A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        SMU at Tulane
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br/>
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida<br/>
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        SportSouth<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        ROOT Sports Rocky Mountain<br />
                        ROOT Sports Northwest<br />
                        MSG PLUS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week15B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Houston at Tulsa
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br/>
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit PLUS<br />
                        Sun Sports<br/>
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        SportSouth<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        ROOT Sports Pittsburgh<br />
                        MSG PLUS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week15C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Oregon St. at Washington
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br/>
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br/>
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        MSG PLUS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week15D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        USC at California
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br/>
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br/>
                        FOX Sports Midwest PLUS<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        Prime Ticket<br />
                        FOX Sports Wisconsin<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br/>
                        ROOT Sports Rocky Mountain<br/>
                        MSG PLUS<br />
                        KICU (San Francisco/Oakland)<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week15E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Wake Forest at Boston College
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Detroit PLUS<br />
                        Sun Sports<br/>
                        FOX Sports North PLUS<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        Prime Ticket<br />
                        Comcast SportsNet Mid Atlantic PLUS<br />
						NESN<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week15F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Clemson at Georgia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Detroit<br />
                        FOX Sports Florida/Sun Sports<br/>
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest PLUS<br />
                        Prime Ticket<br />
                        Comcast SportsNet Mid Atlantic<br />
						NESN<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week15G">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Georgia Tech at Wake Forest
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Detroit PLUS<br />
                        Sun Sports<br/>
                        FOX Sports North PLUS<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        Prime Ticket<br />
                        Comcast SportsNet Mid Atlantic<br />
						NESN<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week15H">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Texas A&amp;M at Vanderbilt
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Detroit PLUS<br />
                        Sun Sports<br/>
                        FOX Sports Midwest PLUS<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week15I">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Villanova at Cincinnati
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        WPHL (Philadelphia)<br />
                        FOX Sports Ohio<br />
                        MASN<br/>
                        ROOT Sports Pittsburgh<br />
                        Altitude2<br />
                        CST<br />
                        Bright House Sports Network<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
