<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball200506week14A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Washington at USC
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        SportSouth<br />
                        FOX Sports San Diego<br />
                        FOX Sports Southwest<br />
                        Prime Ticket<br />
                        FOX Sports Wisconsin<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        MSG PLUS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week14B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Boston College at Miami (FL)
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Detroit PLUS<br />
                        Sun Sports<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports West<br />
                        Comcast SportsNet Mid Atlantic PLUS<br />
						NESN<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week14C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Georgia Tech at Virginia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida<br />
                        FOX Sports North PLUS<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<sup>+</sup><br />
                        Prime Ticket<br />
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        NESN PLUS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week14D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Mississippi St. at Florida
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Detroit PLUS<br />
                        Sun Sports<br />
                        FOX Sports Midwest<br />
                        FOX Sports North PLUS<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<sup>+</sup><br />
                        FOX Sports Southwest<br />
                        Prime Ticket<br />
                        FOX Sports Wisconsin<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week14E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Tennessee at South Carolina
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Detroit PLUS<br />
                        Sun Sports<br />
                        FOX Sports Midwest<br />
                        FOX Sports North PLUS<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        Prime Ticket<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week14F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Florida St. at Georgia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Detroit PLUS<br />
                        Sun Sports/FOX Sports Florida<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        Prime Ticket<br />
                        Comcast SportsNet Mid Atlantic<br />
						NESN<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week14G">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Hofstra at UNC-Wilmington
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Houston<br />
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        Comcast SportsNet New England<br />
                        Comcast Network Philadelphia<br />
                        CSS<br />
                        MSG<br />
                        WECT (Wilmington, NC)<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
