<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="football2013week5A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Houston at UTSA
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports Southwest<br />
                        FOX Sports Wisconsin PLUS<br />
                        MASN2<br />
                        MSG Plus<br />
                        Prime Ticket<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        SportSouth<br />
                        Sun Sports<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2013week5B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Virginia at Pittsburgh
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic<br />
                        FOX Sports Arizona<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports South<br />
                        FOX Sports Southwest PLUS<br />
                        NESN<br />
                        Prime Ticket<br />
                        ROOT Sports Pittsburgh<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2013week5C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        UAB at Vanderbilt
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports South/SportSouth<sup>+</sup><br />
                        FOX Sports Southwest<br />
                        FOX Sports Wisconsin<br />
                        Sun Sports<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2013week5D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Maine at Richmond
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast Network Philadelphia<br />
                        Comcast SportsNet Mid Atlantic<br />
                        Comcast SportsNet New England<br />
                        CSS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2013week5E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        San Diego St. at New Mexico St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude<br />
                        FOX College Sports Pacific<br />
                        FOX Sports Arizona PLUS<br />
                        FOX Sports San Diego<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2013week5F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Arkansas St. at Missouri
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bright House Sports Network<br />
                        Comcast SportsNet California<br />
                        Comcast SportsNet Northwest<br />
                        CST<br />
                        And <a href="http://www.mutigers.com/sports/m-footbl/spec-rel/092313aab.html">local
                            stations in Missouri</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
