<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="football2013week11A">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Tulsa at East Carolina
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
						FOX Sports Arizona<br/>
						FOX Sports Detroit PLUS<br/>
                        FOX Sports Florida<sup>+</sup> (JIP)<br/>
						FOX Sports Midwest<sup>+</sup><br />
						FOX Sports North PLUS<br />
						FOX Sports Southwest<br />
						FOX Sports West<br/>
						FOX Sports Wisconsin PLUS<br/>
                        MASN2<br/>
                        SportSouth<sup>+</sup><br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2013week11B">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Vanderbilt at Florida
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Midwest PLUS<sup>+</sup><br />
                        FOX Sports North PLUS<br />
                        FOX Sports San Diego<br/>
                        FOX Sports Southwest PLUS<br/>
                        Prime Ticket<br/>
                        SportSouth<br/>
                        SportsTime Ohio<br/>
                        Sun Sports<br/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2013week11C">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Syracuse at Maryland
                    </th>
                </tr>
                <tr>
					<td class="FSNrow">
						Comcast SportsNet Mid Atlantic PLUS<br/>
						FOX Sports Florida<sup>+</sup><br/>
						FOX Sports Midwest PLUS<sup>+</sup><br />
						FOX Sports San Diego<br/>
						FOX Sports South<br/>
						FOX Sports Southwest PLUS<br/>
						MSG<br/>
                        NESNplus<br />
                        ROOT Sports Pittsburgh<br/>
						Prime Ticket<br/>
						SportsTime Ohio<br/>
					</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2013week11D">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        TCU at Iowa St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
						FOX Sports Arizona<br/>
                        FOX Sports Detroit<br/>
						FOX Sports Florida<sup>+</sup><br/>
						FOX Sports Midwest<sup>+</sup><br/>
                        FOX Sports North<br/>
                        FOX Sports South<br/>
                        FOX Sports Southwest<br/>
						FOX Sports West<br/>
                        MASN2<br/>
                        MSG PLUS<br/>
                        ROOT Sports Pittsburgh<br/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2013week11E">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        SMU at Cincinnati
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude<br />
						CST<br/>
                        MASN<br />
                        SNY<br />
                        and local stations<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2013week11F">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        William &amp; Mary at Delaware
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast Network Philadelphia<br />
                        Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Mid Atlantic<br />
                        Comcast SportsNet New England<br />
                        SNY (JIP)<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2013week11G">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        UTEP at North Texas
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet California<br />
                        Comcast SportsNet Chicago<br />
                        Comcast SportsNet Houston<br />
                        Time Warner Sports Channel - Texas<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2013week11H">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Boston College at New Mexico St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude2<br />
                        Comcast SportsNet Houston PLUS<br />
                        FOX College Sports Central<br />
                        FOX Sports Arizona PLUS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2013week11I">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        UAB at Marshall
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet California<br />
                        Comcast SportsNet Chicago<br />
                        Comcast SportsNet Houston<br />
                        Comcast SportsNet Northwest<br />
                        WCHS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
