<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="football2013week7A">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Kansas at TCU
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        MASN2<br />
                        MSG PLUS<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        SportSouth<br />
                        Sun Sports<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2013week7B">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Syracuse at NC State
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        MSG PLUS<br />
                        NESN (JIP)<br />
                        ROOT Sports Pittsburgh<br />
                        SportsTime Ohio<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2013week7C">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Bowling Green at Mississippi St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        SportSouth<br />
                        SportsTime Ohio<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2013week7D">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        USF at Connecticut
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude<br />
                        CST<br />
                        MASN<br />
                        SNY<br />
                        And local stations<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2013week7E">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Albany at Delaware
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Bay Area<br />
                        Comcast SportsNet New England<br />
                        Comcast SportsNet Mid Atlantic<br />
                        Comcast SportsNet Philadelphia<br />
                        CSS<br />
                        Time Warner Sports New York
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
