<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball201819week2A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Prairie View A&amp;M at Baylor
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        AT&amp;T SportsNet Rocky Mountain<br />
                        FOX Sports Detroit<br />
                        FOX Sports Midwest PLUS<sup>+</sup><br />
                        FOX Sports Ohio<sup>+</sup><br />
                        FOX Sports Southeast<br />
                        FOX Sports Southwest PLUS<br />
                        FOX Sports Wisconsin<br />
                        MASN2<br />
                        MSG/MSG Plus<sup>+</sup><br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201819week2B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Southeastern Louisiana at Texas Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T Sports Rocky Mountain<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports North PLUS<br />
                        FOX Sports Ohio<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        FOX Sports Sun<br />
                        MASN2<br />
                        MSG/MSG Plus<sup>+</sup><br />
                        Prime Ticket<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201819week2C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Eastern Michigan at Duke
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        AT&amp;T SportsNet Rocky Mountain<br />
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida/Sun<sup>+</sup><br />
                        FOX Sports Midwest<br />
                        FOX Sports North PLUS<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest PLUS<br />
                        FOX Sports Wisconsin PLUS<br />
                        NESNplus<br />
                        Prime Ticket<br />
                        ROOT Sports<br />
                        SportsTime Ohio<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201819week2D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Fresno St. at TCU
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Rocky Mountain<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida<sup>+</sup><br />
                        FOX Sports Midwest<br />
                        FOX Sports North PLUS<br />
                        FOX Sports Ohio<sup>+</sup><br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        MASN2<br />
                        MSG<br />
                        Prime Ticket<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201819week2E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Nicholls at Baylor
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida<sup>+</sup><br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<sup>+</sup><br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        FOX Sports Wisconsin PLUS<br />
                        MASN2<br />
                        MSG<br />
                        Prime Ticket<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201819week2F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Tennessee Tech at North Carolina
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        AT&amp;T SportsNet Rocky Mountain<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Wisconsin PLUS<br />
                        NESNplus<br />
                        Prime Ticket<br />
                        ROOT Sports<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201819week2G">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Presbyterian at Marquette
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports San Diego<br />
                        FOX Sports Southeast<br />
                        FOX Sports Southwest PLUS<br />
                        FOX Sports Wisconsin<br />
                        MASN2<br />
                        Prime Ticket<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201819week2H">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Wofford at Oklahoma
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        AT&amp;T SportsNet Rocky Mountain<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports North PLUS<br />
                        FOX Sports Midwest<br />
                        FOX Sports Ohio<br />
                        FOX Sports Oklahoma or Southwest PLUS<br />
                        FOX Sports San Diego<br />
                        FOX Sports Southeast<br />
                        FOX Sports Wisconsin<br />
                        MASN2<br />
                        MSG Plus<sup>+</sup><br />
                        Prime Ticket<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201819week2I">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        College of Charleston at Oklahoma St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        AT&amp;T SportsNet Rocky Mountain<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports North PLUS<br />
                        FOX Sports Midwest<br />
                        FOX Sports Ohio<br />
                        FOX Sports San Diego<br />
                        FOX Sports Southeast<br />
                        FOX Sports Southwest<br />
                        FOX Sports Wisconsin<br />
                        MASN2<br />
                        MSG Plus<sup>+</sup><br />
                        Prime Ticket<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
