<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball201819week15A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Marquette at DePaul
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        AT&amp;T SportsNet Rocky Mountain<sup>+</sup><br />
                        Cox YurView - New England<br />
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports North PLUS<br />
                        FOX Sports Southeast<sup>+</sup><br />
                        FOX Sports Sun<sup>+</sup><br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        MASN2<br />
                        ROOT Sports<br />
                        SportsTime Ohio<br />
                        WMEU / WCIU-DT2 - Chicago<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201819week15B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Wake Forest at Florida St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        AT&amp;T SportsNet Rocky Mountain<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida<br />
                        FOX Sports North PLUS<br />
                        FOX Sports South<br />
                        FOX Sports Southwest PLUS<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin PLUS<br />
                        NBC Sports Washington PLUS<br />
                        NESNplus<br />
                        ROOT Sports<br />
                        SportsTime Ohio<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201819week15C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Virginia Tech at Pittsburgh
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports North<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        FOX Sports Wisconsin<br />
                        NBC Sports Washington<br />
                        NESN<br />
                        Prime Ticket<br />
                        SportsTime Ohio<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201819week15D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Utah Valley at New Mexico St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Eleven Sports<br />
                        FOX College Sports Pacific<br />
                        FOX Sports Arizona PLUS<br />
                        FOX Sports San Diego<br />
                        FOX Sports Southwest PLUS<br />
                        Prime Ticket<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
