<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
    </div>
    <div id="basketball202223week1A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
						Stetson at Florida State
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
						Bally Sports Detroit EXTRA<br />
                        Bally Sports Florida/Sun<sup>+</sup><br />
                        Bally Sports Great Lakes<br />
						Bally Sports North EXTRA<br />
                        Bally Sports South<br />
						Bally Sports Southwest EXTRA<br />
                        Bally Sports West<br />
						Bally Sports Wisconsin EXTRA<br />
						MASN<br />
						YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202223week1B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        North Carolina Central at Virginia
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
						Bally Sports Detroit EXTRA<br />
                        Bally Sports Florida/Sun<sup>+</sup><br />
                        Bally Sports Great Lakes<br />
						Bally Sports North EXTRA<br />
                        Bally Sports South<br />
						Bally Sports Southwest EXTRA<br />
                        Bally Sports West<br />
						Bally Sports Wisconsin EXTRA<br />
						MASN<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202223week1C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        North Florida at Gonzaga
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
						AT&T Sports Pittsburgh<br />
						AT&T Sports Rocky Mountain<br />
						AT&T Sports Southwest PLUS<br />
						ROOT Sports PLUS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202223week1D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Charleston at North Carolina
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Great Lakes<br />
                        Bally Sports Midwest<br />
                        Bally Sports South<br />
                        Bally Sports Southwest EXTRA<br />
						Bally Sports Sun<sup>+</sup><br />
                        Bally Sports West<br />
						Marquee Sports Network<br />
						MASN<br />
						NESN+<br />
						YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202223week1E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Monmouth at Virginia
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Great Lakes<br />
                        Bally Sports Midwest EXTRA<br />
                        Bally Sports South<br />
                        Bally Sports Southwest EXTRA<br />
						Bally Sports Sun<sup>+</sup><br />
                        Bally Sports West<br />
						Marquee Sports Network<br />
						MASN<br />
						NESN+<br />
						YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202223week1F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Youngstown State at Notre Dame
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Arizona<br />
                        Bally Sports Detroit<br />
                        Bally Sports Florida<br />
                        Bally Sports Great Lakes<br />
						Bally Sports Midwest EXTRA<br />
                        Bally Sports San Diego<br />
                        Bally Sports SoCal<br />
                        Bally Sports South<br />
                        Bally Sports Southwest<br />
						Bally Sports Wisconsin EXTRA<br />
						MASN<br />
						Marquee Sports Network<br />
						NESN+<br />
						YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202223week1G">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        William & Mary at Virginia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Detroit<br />
                        Bally Sports Florida<br />
                        Bally Sports Great Lakes<br />
						Bally Sports Midwest EXTRA<br />
                        Bally Sports San Diego<br />
                        Bally Sports SoCal<br />
                        Bally Sports South<br />
                        Bally Sports Southwest<br />
						Bally Sports Wisconsin EXTRA<br />
						Marquee Sports Network<br />
						MASN<br />
						NESN+<br />
						YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
