<div id="RSNLists" style="display: none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball202223week16A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
					Virginia at Boston College
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
					Bally Sports Detroit<br>
					Bally Sports Florida<br>
					Bally Sports Great Lakes<br>
					Bally Sports Midwest EXTRA<br>
					Bally Sports North<br>
					Bally Sports San Diego<br>
					Bally Sports SoCal<br>
					Bally Sports South<br>
					Bally Sports Southwest or EXTRA<sup>+</sup><br>
					Bally Sports Wisconsin<br>
					Marquee Sports Network<br>
					MASN<br>
					NESN<br>
					YES<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202223week16B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
					Wake Forest at NC State
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
					Bally Sports Detroit<br>
					Bally Sports Florida<br>
					Bally Sports Great Lakes<br>
					Bally Sports Midwest<br>
					Bally Sports North<br>
					Bally Sports San Diego<br>
					Bally Sports SoCal<br>
					Bally Sports South<br>
					Bally Sports Southwest or EXTRA<sup>+</sup><br>
					Bally Sports Wisconsin<br>
					Marquee Sports Network<br>
					MASN<br>
					NESN<br>
					YES<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>    
	<div id="basketball202223week16C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
					Pacific at Saint Mary's
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
					AT&T SportsNet Rocky Mountain<br>
					Bally Sports Arizona<br>
					Bally Sports Detroit EXTRA<br>
					Bally Sports Florida<br>
					Bally Sports Great Lakes<br>
					Bally Sports Midwest EXTRA<br>
					Bally Sports North EXTRA<br>
					Bally Sports San Diego<br>
					Bally Sports SoCal<br>
					Bally Sports Southeast<br>
					Bally Sports Southwest EXTRA<br>
					Bally Sports Wisconsin EXTRA<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
	<div id="basketball202223week16D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
					Clemson at NC State
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
					Bally Sports Arizona<br>
					Bally Sports Detroit EXTRA<br>
					Bally Sports Florida<br>
					Bally Sports Great Lakes<br>
					Bally Sports Midwest EXTRA<br>
					Bally Sports North EXTRA<br>
					Bally Sports San Diego<br>
					Bally Sports SoCal<br>
					Bally Sports South<br>
					Bally Sports Southwest<br>
					Bally Sports Wisconsin EXTRA<br>
					Marquee Sports Network<br>
					MASN<br>
					NESN+<br>
					YES<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
	<div id="basketball202223week16E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
					Louisville at Georgia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
					Bally Sports Arizona<br>
					Bally Sports Detroit EXTRA<br>
					Bally Sports Florida<br>
					Bally Sports Midwest EXTRA<br>
					Bally Sports North<br>
					Bally Sports San Diego<br>
					Bally Sports SoCal<br>
					Bally Sports South<br>
					Bally Sports Southwest EXTRA<br>
					Bally Sports Wisconsin EXTRA<br>
					MASN<br>
					NESN+<br>
					YES<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
	<div id="basketball202223week16F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
					Portland at Pacific
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
					AT&T Sports Rocky Mountain<br>
					Bally Sports Arizona<br>
					Bally Sports Detroit EXTRA<br>
					Bally Sports Florida<sup>+</sup><br>
					Bally Sports Great Lakes<br>
					Bally Sports North<br>
					Bally Sports South<br>
					Bally Sports Southwest<br>
					Bally Sports Wisconsin EXTRA<br>
					ROOT Sports<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
	<div id="basketball202223week16G">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
					Loyola Marymount at Pepperdine
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
					AT&T SportsNet Pittsburgh<br>
					AT&T SportsNet Rocky Mountain<br>
					Bally Sports Arizona<br>
					Bally Sports Detroit EXTRA<br>
					Bally Sports Florida<br>
					Bally Sports Great Lakes<br>
					Bally Sports Midwest<br>
					Bally Sports North<br>
					Bally Sports San Diego<br>
					Bally Sports South<br>
					Bally Sports Wisconsin<br>
					Marquee Sports Network<br>
					NBC Sports Bay Area PLUS<br>
					ROOT Sports<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
