<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball202223week6A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Missouri vs. UCF
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
					Bally Sports Arizona<br>
                    Bally Sports Detroit EXTRA<br>
					Bally Sports Midwest<br>
                    Bally Sports North EXTRA<br>
					Bally Sports Southeast<br>
                        Bally Sports Southwest EXTRA<br>
					Bally Sports West<br>
					Bally Sports Wisconsin EXTRA<br>
					MSG<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202223week6B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Saint Francis U at Miami (FL)
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
					Bally Sports Arizona EXTRA<br>
					Bally Sports Great Lakes<br>
					Bally Sports Midwest EXTRA<br>
					Bally Sports San Diego<br>
					Bally Sports SoCal<br>
					Bally Sports South<br>
					Bally Sports Southwest or EXTRA<sup>+</sup><br>
					Bally Sports Sun<br>
					Marquee Sports Network<br>
					MASN<br>
					NESN+<br>
					YES<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202223week6C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        St. John's vs. Florida State
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Arizona<br />
                        Bally Sports Detroit EXTRA<br>
						Bally Sports Great Lakes<br>
                        Bally Sports Midwest EXTRA<br>
                        Bally Sports North EXTRA<br>
						Bally Sports Southeast<br>
                        Bally Sports Southwest EXTRA<br>
						Bally Sports West<br>
					Bally Sports Wisconsin EXTRA<br>
						MSG<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202223week6D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Florida A&M at Louisville
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
					Bally Sports Arizona EXTRA<br>
					Bally Sports Midwest<br>
					Bally Sports North<br>
					Bally Sports South<br>
					Bally Sports Southwest or EXTRA<br>
					Bally Sports Sun<br>
					Bally Sports Wisconsin<br>
					Marquee Sports Network<br>
					MASN<br>
					NESN+<br>
					YES<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202223week6E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Grambling State at Virginia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
					Bally Sports Arizona<br>
					Bally Sports Florida/Sun<sup>+</sup><br>
					Bally Sports Midwest<br>
					Bally Sports North<br>
					Bally Sports South<br>
					Bally Sports Southwest or EXTRA<sup>+</sup><br>
					Bally Sports Wisconsin<br>
					Marquee Sports Network<br>
					MASN<br>
					NESN+<br>
					YES<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
