<div id="RSNLists" style="display: none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball202223week17A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
					Georgia Tech at Syracuse
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
					Bally Sports Detroit EXTRA<br>
					Bally Sports Florida/Sun<sup>+</sup><br>
					Bally Sports North EXTRA<br>
					Bally Sports Ohio<br>
					Bally Sports San Diego<br>
					Bally Sports SoCal<br>
					Bally Sports South/Southeast<sup>+</sup><br>
					Bally Sports Southwest EXTRA<sup>+</sup><br>
					Marquee Sports Network<br>
					MASN<br>
					YES (live only on their app)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202223week17B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
					WCC Tournament First Round #1
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
					AT&T Sports Rocky Mountain<br>
					AT&T Sports Southwest<br>
					Bally Sports Arizona<br>
					Bally Sports Detroit EXTRA<br>
					Bally Sports Florida<sup>+</sup><br>
					Bally Sports Great Lakes<br>
					Bally Sports San Diego<br>
					Bally Sports SoCal<br>
					Bally Sports South<br>
					Bally Sports Southwest EXTRA<br>
					ROOT Sports<sup>+</sup><br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202223week17C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
					WCC Tournament First Round #2
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
					AT&T Sports Rocky Mountain<br>
					AT&T Sports Southwest<br>
					Bally Sports Arizona<br>
					Bally Sports Detroit EXTRA<br>
					Bally Sports Florida<sup>+</sup><br>
					Bally Sports Great Lakes<br>
					Bally Sports Midwest EXTRA<br>
					Bally Sports North EXTRA<br>
					Bally Sports San Diego<br>
					Bally Sports SoCal<br>
					Bally Sports South<br>
					Bally Sports Southwest EXTRA<br>
					Bally Sports Wisconsin EXTRA<br>
					MSGSN<br>
					ROOT Sports<br>
					</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202223week17D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
					WCC Tournament Second Round #1
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
					AT&T SportsNet Rocky Mountain<br>
					Bally Sports Arizona EXTRA<br>
					Bally Sports Detroit<br>
					Bally Sports Florida<sup>+</sup><br>
					Bally Sports Great Lakes<br>
					Bally Sports Midwest EXTRA<br>
					Bally Sports North EXTRA<br>
					Bally Sports Southwest EXTRA<br>
					Bally Sports Wisconsin<br>
					NBC Sports California<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202223week17E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
					WCC Tournament Second Round #2
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
					AT&T SportsNet Rocky Mountain<br>
					Bally Sports Arizona<br>
					Bally Sports Detroit<br>
					Bally Sports Florida<sup>+</sup><br>
					Bally Sports Great Lakes<br>
					Bally Sports Midwest EXTRA<br>
					Bally Sports North EXTRA<br>
					Bally Sports Southwest EXTRA<br>
					Bally Sports Wisconsin<br>
					Marquee Sports Network<br>
					NBC Sports California<br>
					ROOT Sports<sup>+</sup><br>
					</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202223week17F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
					Wake Forest at Syracuse
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
					Bally Sports Detroit EXTRA<br>
					Bally Sports Midwest<br>
					Bally Sports North<br>
					Bally Sports South<br>
					Bally Sports Southwest EXTRA<br>
					Bally Sports Sun<br>
					Bally Sports Wisconsin<br>
					NESN+<br>
					YES<br>
					</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
