<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball202223week11A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Boston College at North Carolina
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Detroit EXTRA<br>
                        Bally Sports Great Lakes<br>
                        Bally Sports Midwest<br>
                        Bally Sports North EXTRA<br>
                        Bally Sports South<br>
                        Bally Sports Southwest<br>
                        Bally Sports Sun<br>
                        Bally Sports West<br>
						Marquee Sports Network<br>
						MASN<br>
                        NESN<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202223week11B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Clemson at Wake Forest
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Detroit EXTRA<br>
                        Bally Sports Great Lakes<br>
                        Bally Sports Midwest<br>
                        Bally Sports North EXTRA<br>
                        Bally Sports South<br>
                        Bally Sports Southwest<br>
                        Bally Sports Sun<br>
                        Bally Sports West<br>
						Marquee Sports Network<br>
						MASN<br>
                        NESN<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202223week11C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Loyola Marymount at Gonzaga
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&T SportsNet Rocky Mountain<br>
						AT&T SportsNet Southwest<br>
                        Bally Sports SoCal EXTRA<br>
                        NBC Sports California<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202223week11D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Pacific at San Francisco
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&T SportsNet Rocky Mountain<br>
                        AT&T SportsNet Southwest<br>
                        Bally Sports Arizona EXTRA<br>
                        Bally Sports Detroit EXTRA<br />
                        Bally Sports Great Lakes<br>
                        Bally Sports Midwest EXTRA<br />
                        Bally Sports North EXTRA<br>
                        Bally Sports San Diego<br>
                        Bally Sports SoCal<br>
                        Bally Sports Southeast<br>
                        Bally Sports Southwest EXTRA<br>
                        Bally Sports Sun<br>
                        Bally Sports Wisconsin EXTRA<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202223week11E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Syracuse at Georgia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Arizona<br />
                        Bally Sports Detroit<br />
                        Bally Sports Florida<br />
                        Bally Sports Great Lakes<br />
                        Bally Sports Midwest<br />
                        Bally Sports North EXTRA<br />
                        Bally Sports South<br />
                        Bally Sports Southwest<br />
                        Bally Sports West<br />
                        Bally Sports Wisconsin EXTRA<br />
						Marquee Sports Network<br>
						MASN<br>
                        NESN+<br />
						YES<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202223week11F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Boston College at Notre Dame
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Arizona<br />
                        Bally Sports Detroit<br />
                        Bally Sports Florida<br />
                        Bally Sports Great Lakes<br />
                        Bally Sports Midwest<br />
                        Bally Sports North<br />
                        Bally Sports South<br />
                        Bally Sports Southwest<br />
                        Bally Sports West<br />
                        Bally Sports Wisconsin<br />
						Marquee Sports Network<br>
						MASN<br>
                        NESN+<br />
						YES<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202223week11G">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Pepperdine at Portland
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&T SportsNet Pittsburgh<br />
                        AT&T SportsNet Rocky Mountain<br />
                        AT&T SportsNet Southwest PLUS<br />
                        Bally Sports Arizona EXTRA<br />
                        Bally Sports Detroit EXTRA<br />
                        Bally Sports Midwest EXTRA<br />
                        Bally Sports San Diego<br />
                        Bally Sports SoCal<br />
                        Bally Sports Southwest EXTRA<br>
                        Bally Sports Sun<br />
						Marquee Sports Network<br>
						MSG<br>
                        NBC Sports Bay Area<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202223week11H">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Santa Clara at Saint Mary's
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&T SportsNet Pittsburgh<br />
                        AT&T SportsNet Rocky Mountain<br />
                        AT&T SportsNet Southwest PLUS<br />
                        Bally Sports Arizona EXTRA<br />
                        Bally Sports Detroit EXTRA<br />
                        Bally Sports Midwest EXTRA<br />
                        Bally Sports San Diego<br />
                        Bally Sports SoCal<br />
                        Bally Sports Southwest EXTRA<br />
                        Bally Sports Sun<br />
						Marquee Sports Network<br>
						MSG<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202223week11I">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Gonzaga at Pacific
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&T SportsNet Pittsburgh<br />
                        AT&T SportsNet Rocky Mountain<br />
                        AT&T SportsNet Southwest PLUS<br />
                        Bally Sports San Diego<br />
                        Bally Sports SoCal<br />
                        KHQ-Spokane<br />
                        ROOT Sports PLUS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
