<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="football2009week1A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        San Jose St. at USC
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
						FOX Sports Arizona<br />
                        FOX Sports Detroit PLUS<br />
                        Sun Sports<br />
                        FOX Sports Houston<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br/>
                        FOX Sports Ohio<sup>+</sup><br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br/>
                        FOX Sports Wisconsin<br />
                        FSN Northwest<br />
                        FSN Pittsburgh<br/>
                        FSN Rocky Mountain<br />
                        Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Chicago<br />
                        Comcast SportsNet New England<br />
                        Comcast SportsNet Mid-Atlantic<br/>
                        Comcast SportsNet Philadelphia<br/>
                        MSG
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2009week1B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Colorado St. at Colorado
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Cincinnati<br/>
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Houston<br />
						FOX Sports Midwest<br />
                        FOX Sports Ohio<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br/>
                        FOX Sports Wisconsin<br />
                        FSN Northwest<br />
                        FSN Pittsburgh<br/>
                        FSN Rocky Mountain<br />
                        Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Chicago<br />
                        Comcast SportsNet New England<br />
                        Comcast SportsNet Mid-Atlantic<br/>
                        MSG PLUS
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2009week1C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Charleston Southern at Florida
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Detroit PLUS<br />
                        Sun Sports<br />
						FOX Sports Midwest<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        FOX Sports Wisconsin<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2009week1D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Western Carolina at Vanderbilt
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Chicago<br />
                        Comcast SportsNet New England<br />
                        Comcast SportsNet Northwest<br/>
                        Comcast SportsNet Philadelphia<br />
                        CST
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
