<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="football2012week9A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Texas at Kansas
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        SportSouth<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        MSG PLUS<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain (outside Utah)<br />
                        WDCA (Washington DC)<br />
                        WLVI (Boston)<br />
                        KICU (San Francisco/Oakland)<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2012week9B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        TCU at Oklahoma St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        SportSouth<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        MSG PLUS<br />
                        ROOT Sports Pittsburgh<br />
                        WMCN (Philadelphia)<br />
                        WDCA (Washington DC)<br />
                        KICU (San Francisco/Oakland)<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2012week9C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Baylor at Iowa St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida<sup>+</sup><br />
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports North PLUS<br />
                        SportSouth<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin PLUS<br />
                        MSG PLUS<br />
                        ROOT Sports Pittsburgh<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2012week9D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        BYU at Georgia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona PLUS<br />
                        Sun Sports<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports North PLUS<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest PLUS<br />
                        Prime Ticket<br />
                        ROOT Sports Rocky Mountain (Utah)<br />
                        Comcast SportsNet Mid-Atlantic PLUS<br />
                        NESN<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2012week9E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Massachusetts at Vanderbilt
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Sun Sports<br />
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports South<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        Prime Ticket<br />
                        NESN<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
