<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="football2012week2A">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Tulane at Tulsa
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Houston<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        SportSouth<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        MSG Plus<br />
                        WLVI (Boston)<br />
                        KICU (San Francisco/Oakland)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2012week2B">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Rice at Kansas
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Houston<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        SportSouth<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        MSG Plus<br />
                        WLVI (Boston)<br />
                        KICU (San Francisco/Oakland)<br />
                        WDCA (Washington, DC)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2012week2C">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        North Carolina at Wake Forest
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona Plus<br />
                        Sun Sports<br />
                        FOX Sports Houston Plus<br />
                        FOX Sports North Plus<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest Plus<br />
                        Comcast SportsNet Mid-Atlantic<br />
                        NESN
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2012week2D">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        UTEP at Ole Miss
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Florida<br />
                        FOX Sports Houston<sup>+</sup><br />
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports North PLUS<br />
                        FOX Sports Oklahoma<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        Prime Ticket
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2012week2E">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Kent St. at Kentucky
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bright House Sports Network<br />
                        Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Mid-Atlantic<br />
                        Comcast SportsNet New England<br />
                        CST
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
