<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="football2012week12A">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        UCF at Tulsa
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Cincinnati<sup>+</sup><br />
                        FOX Sports Detroit<br/>
                        FOX Sports Florida<br/>
                        FOX Sports Midwest<br/>
                        FOX Sports North<br />
                        FOX Sports Ohio<sup>+</sup><br />
                        SportSouth<br/>
                        FOX Sports Southwest<br/>
                        FOX Sports West<br/>
                        FOX Sports Wisconsin<br/>
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        MSG PLUS<br />
                        WLVI (Boston)<br />
                        WDCA (Washington DC)<br />
                        KICU (San Francisco/Oakland)<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2012week12B">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Texas Tech at Oklahoma St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Cincinnati<sup>+</sup><br/>
                        FOX Sports Detroit<br/>
                        FOX Sports Florida<br/>
                        FOX Sports Midwest<br/>
                        FOX Sports North<br />
                        FOX Sports Ohio<sup>+</sup><br/>
                        SportSouth<br/>
                        FOX Sports Southwest<br/>
                        FOX Sports West<br/>
                        FOX Sports Wisconsin<br/>
                        ROOT Sports Pittsburgh<br />
                        MSG PLUS<br />
                        WDCA (Washington DC)<br />
                        WMCN (Philadelphia)<br />
                        KICU (San Francisco/Oakland)<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2012week12C">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Iowa St. at Kansas
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br/>
                        FOX Sports Florida<br/>
                        FOX Sports Midwest<sup>+</sup><br/>
                        FOX Sports North PLUS<br />
                        SportSouth<sup>+</sup><br/>
                        FOX Sports Southwest<sup>+</sup><br/>
                        FOX Sports West<br/>
                        FOX Sports Wisconsin PLUS<br/>
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Northwest<br />
                        MSG PLUS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2012week12D">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        ACC RSN
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona PLUS<br/>
                        Sun Sports<br/>
                        FOX Sports North PLUS<br />
                        FOX Sports South<br/>
                        FOX Sports Southwest PLUS<br/>
                        NESN<br />
                        Comcast SportsNet Mid-Atlantic<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2012week12E">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Samford at Kentucky
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Bay Area<br/>
                        Comcast SportsNet Chicago (JIP)<br/>
                        Comcast SportsNet Mid-Atlantic PLUS<br/>
                        Comcast SportsNet Houston<br />
                        CST<br/>
                        Bright House Sports Network<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
