<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball201415week13A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Boston College at Notre Dame
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida/Sun Sports<sup>+</sup><br />
                        FOX Sports North PLUS<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest PLUS<br />
                        MSG Plus<br />
                        NESN<br />
                        Prime Ticket<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh alternate<sup>+</sup><br />
                        ROOT Sports Rocky Mountain<br />
                        SportsTime Ohio<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week13B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Clemson at Florida St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
						Comcast SportsNet Mid Atlantic PLUS<br />
						FOX Sports Arizona<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida/Sun Sports<sup>+</sup><br />
                        FOX Sports North PLUS<br />
						FOX Sports San Diego<br />
						FOX Sports South<br />
                        FOX Sports Southwest PLUS<br />
						MSG Plus<br />
                        NESNplus<br />
						Prime Ticket<br />
						ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh alternate<sup>+</sup><br />
                        SportsTime Ohio<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week13C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Loyola (Chicago) at Missouri St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
						Comcast SportsNet Chicago PLUS<br />
						FOX College Sports Atlantic<br />
                        FOX Sports Midwest<sup>+</sup><br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week13D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Penn at Cornell
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
						Altitude2<br />
                        Comcast Network Philadelphia<br />
                        Comcast SportsNet Chicago PLUS<br />
						CST<br />
                        MASN<br />
                        NESNplus<br />
                        SNY<br />
                        and <a href="http://static.psbin.com/e/2/lfst4abhszr10o/ASN_Clearances_02-06-15.pdf" target="_blank">local stations</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week13E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Creighton at St. John's
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Cox-Ocean State Networks<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest<br />
                        FOX Sports North PLUS<br />
                        FOX Sports Ohio<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        MASN2<br />
                        MSG<br />
                        ROOT Sports Rocky Mountain<br />
                        SportSouth<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week13F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Wake Forest at Georgia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest PLUS<br />
                        NESN<br />
                        Prime Ticket<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        SportsTime Ohio<br />
                        Sun Sports<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week13G">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Delaware at Northeastern
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet California<br />
                        Comcast SportsNet Chicago PLUS<br />
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        Comcast SportsNet New England<br />
                        Comcast SportsNet Northwest<br />
                        Comcast SportsNet Philadelphia<br />
                        SNY<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week13H">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Illinois St. at Southern Illinois
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Chicago<br />
                        FOX College Sports Atlantic<br />
                        FOX Sports Midwest<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week13I">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        South Carolina at Vanderbilt
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        SportSouth<br />
                        SportsTime Ohio<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week13J">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        BYU at Loyola Marymount
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet California<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Rocky Mountain<br />
                        Time Warner Cable SportsNet<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week13K">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Charleston Southern at Winthrop
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude<br />
                        Comcast SportsNet Chicago PLUS<br />
                        CST<br />
                        MASN2<br />
						and <a href="http://big-south.s3.amazonaws.com/medias/files/11354/original.pdf" target="_blank">local stations</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week13L">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        James Madison at Towson
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Chicago PLUS<br />
                        Comcast SportsNet Mid Atlantic<br />
                        Comcast SportsNet New England<br />
                        Comcast SportsNet Northwest<br />
                        Comcast SportsNet Philadelphia<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week13M">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Grand Canyon at CS Bakersfield
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude2<br />
                        Comcast SportsNet Chicago PLUS<br />
                        CST<br />
                        MASN<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week13N">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Oakland at Valparaiso
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude<br />
                        Comcast SportsNet Chicago PLUS<br />
                        CST<br />
                        MASN<br />
                        and <a href="http://files.streamlinetechnologies.com/valpoathletics/9DE577C9-EC1C-4F8C-988F-6D5E9FE31CD7/0208_Horizon.pdf" target="_blank">local stations</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
