<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="basketball201415week5A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Fresno St. at Texas Tech
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Arizona<br />
						FOX Sports Detroit<br />
						FOX Sports Florida/Sun Sports PLUS<br />
						FOX Sports Midwest PLUS<sup>+</sup><br />
						FOX Sports Ohio<br />
						FOX Sports Southwest PLUS<br />
						FOX Sports Wisconsin<br />
						MASN2<br />
						MSG Plus<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week5B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Charleston Southern at NC State
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast SportsNet Mid Atlantic PLUS<br />
						FOX Sports Midwest PLUS<sup>+</sup><br />
						FOX Sports North PLUS<br />
						FOX Sports San Diego<br />
						FOX Sports South<br />
						FOX Sports Southwest<sup>+</sup><br />
						FOX Sports Wisconsin<br />
						MSG Plus 2<br />
						NESN<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
						SportsTime Ohio<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week5C">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Stony Brook at Providence
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Cox-Ocean State Networks<br />
						FOX Sports Arizona<br />
						FOX Sports Detroit<br />
						FOX Sports Florida<br />
						FOX Sports Midwest<br />
						FOX Sports North<br />
						FOX Sports Ohio<br />
						FOX Sports Southwest<sup>+</sup><br />
						FOX Sports West<br />
						FOX Sports Wisconsin<br />
						MASN2<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
						SportSouth<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week5D">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Fordham vs. St. John's
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Cox-Ocean State Networks<br />
						FOX Sports Arizona<br />
						FOX Sports Detroit<br />
						FOX Sports Midwest<br />
						FOX Sports North<br />
						FOX Sports Ohio<br />
						FOX Sports San Diego<br />
						FOX Sports Wisconsin<br />
						MASN2<br />
						MSG<br />
						ROOT Sports Pittsburgh<br />
						Prime Ticket<br />
						SportSouth<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week5E">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Wofford at NC State
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast SportsNet Mid Atlantic PLUS<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest PLUS<br />
						FOX Sports North (JIP)<br />
						FOX Sports South<br />
						FOX Sports Wisconsin (JIP)<br />
						NESN<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
						SportsTime Ohio<br />
                        Sun Sports PLUS<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week5F">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Jacksonville at Florida
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Arizona (JIP)<br />
						FOX Sports Florida<br />
						FOX Sports Midwest<br />
						FOX Sports San Diego (JIP)<br />
						FOX Sports Southwest<br />
						Prime Ticket (JIP)<br />
						SportSouth<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week5G">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Savannah St. at Kansas St.
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Arizona PLUS<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Florida<br />
						FOX Sports Midwest<br />
						FOX Sports North PLUS<br />
						FOX Sports Ohio<br />
						FOX Sports San Diego<br />
						FOX Sports Southwest<sup>+</sup><br />
						FOX Sports Wisconsin<br />
						MASN2<br />
						MSG Plus<br />
						Prime Ticket<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<sup>+</sup><br />
						SportSouth<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week5H">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Prairie View A&M at Texas Tech
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX College Sports Central<br />
						FOX Sports Southwest<br />
						FOX Sports West<br />
						Sun Sports<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week5I">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Rhode Island at Providence
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Cox-Ocean State Networks<br />
						FOX Sports Arizona<br />
						FOX Sports Detroit<br />
						FOX Sports Florida/Sun Sports PLUS<br />
						FOX Sports Ohio<br />
						FOX Sports South<br />
						FOX Sports Southwest PLUS<br />
						FOX Sports West<br />
						FOX Sports Wisconsin<br />
						MASN2<br />
						MSG Plus<br />
						ROOT Sports Rocky Mountain<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	@**@
</div>
