<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball201415week17A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        NC State at Clemson
                    </th>
                </tr>
                <tr>
					<td class="FSNrow">
						Comcast SportsNet Mid Atlantic PLUS<br />
						FOX Sports Detroit<br/>
						FOX Sports Midwest PLUS<sup>+</sup><br />
						FOX Sports South<br />
                        NESN<br />
						ROOT Sports Northwest<br/>
						ROOT Sports Pittsburgh<br/>
						ROOT Sports Rocky Mountain<br/>
						SportsTime Ohio<br/>
						Sun Sports<br />
						YES<br />
					</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week17G">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Yale at Harvard
                    </th>
                </tr>
                <tr>
					<td class="FSNrow">
                        Comcast Network Philadelphia<br />
						Comcast SportsNet California<br />
                        CST<br />
						NESN<br />
						SNY<br />
						and <a href="http://static.psbin.com/u/o/16ly9nvri0105r/ASN_Clearances_03-06-15.pdf" target="_blank">local stations</a>
					</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week17I">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Miami (FL) at Virginia Tech
                    </th>
                </tr>
                <tr>
					<td class="FSNrow">
                        Comcast SportsNet Mid Atlantic<br />
                        FOX Sports Detroit<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports South<br />
                        NESNplus<br />
                        ROOT Sports Pittsburgh<br />
                        SportsTime Ohio<br />
                        Sun Sports<br />
                        YES<br />
					</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week17K">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Xavier at Creighton
                    </th>
                </tr>
                <tr>
					<td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports North PLUS<br />
                        FOX Sports Ohio<br />
                        FOX Sports South<br />
                        FOX Sports San Diego<br />
                        MASN2<br />
                        MSG Plus<br />
                        Prime Ticket<br />
					</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week17M">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Alabama at Texas A&amp;M
                    </th>
                </tr>
                <tr>
					<td class="FSNrow">
                        FOX Sports Southwest PLUS<br />
                        SportSouth<br />
                        SportsTime Ohio<br />
                        Sun Sports<br />
					</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week17O">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        South Carolina at Tennessee
                    </th>
                </tr>
                <tr>
					<td class="FSNrow">
                        FOX Sports Detroit<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        SportSouth<br />
                        SportsTime Ohio<br />
                        Sun Sports<br />
					</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week17Q">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Saint Louis at Richmond
                    </th>
                </tr>
                <tr>
					<td class="FSNrow">
                        Comcast SportsNet Chicago PLUS<br />
                        FOX Sports Midwest PLUS<br />
                        MASN<br />
                        SNY<br />
					</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week17R">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Marshall at Old Dominion
                    </th>
                </tr>
                <tr>
					<td class="FSNrow">
                        Altitude<br />
                        Comcast SportsNet California<br />
                        Comcast SportsNet Chicago PLUS<br />
						CST<br />
						and <a href="http://www.odusports.com/fls/31100/pdfs/mbb/0305_CUSA_basketball_clearances.pdf" target="_blank">local stations</a>
					</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week17S">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Richmond at Massachusetts
                    </th>
                </tr>
                <tr>
					<td class="FSNrow">
                        Altitude<br />
                        Comcast SportsNet California<br />
                        Comcast SportsNet Chicago PLUS<br />
						CST<br />
						MASN2<br/>
						NESN<br/>
						and <a href="https://www.nmnathletics.com//pdf9/3240232.pdf" target="_blank">local stations</a>
					</td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
