<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="basketball201415week4A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Omaha at Kansas St.
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX College Sports Central<br />
						FOX Sports Midwest<sup>+</sup><br />
						FOX Sports North<br />
						FOX Sports San Diego<br />
						MASN2<br />
						Prime Ticket<br />
						SportSouth<sup>+</sup><br />
						Sun Sports<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week4B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						North Texas at Oklahoma St.
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Arizona PLUS<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Florida/Sun Sports<sup>+</sup><br />
						FOX Sports Midwest PLUS<sup>+</sup><br />
						FOX Sports North PLUS<br />
						FOX Sports Ohio<br />
						FOX Sports Southwest<sup>+</sup><br />
						MASN2<br />
						MSG Plus<br />
						ROOT Sports Pittsburgh<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week4C">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						FIU at Louisville
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast SportsNet Mid Atlantic PLUS<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Florida/Sun Sports<sup>+</sup><br />
						FOX Sports Midwest PLUS<sup>+</sup><br />
						FOX Sports Southwest<sup>+</sup><br />
						FOX Sports South<br />
						FOX Sports West<br />
						MSG Plus<br />
						NESN<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<sup>+</sup><br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week4D">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Coastal Carolina at Auburn
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Florida/Sun Sports PLUS<br />
						FOX Sports Midwest PLUS<sup>+</sup><br />
						FOX Sports South<br />
						FOX Sports Southwest<sup>+</sup><br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week4E">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Rutgers at Seton Hall
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Cox-Ocean State Networks<br />
						FOX Sports Arizona<br />
						FOX Sports Detroit<br />
						FOX Sports Florida<br />
						FOX Sports Midwest PLUS<sup>+</sup><br />
						FOX Sports North<br />
						FOX Sports Ohio<br />
						FOX Sports Southwest<br />
						FOX Sports West<br />
						FOX Sports Wisconsin<br />
						MASN2<br />
						MSG<br />
						ROOT Sports Northwest<br />
						SportSouth<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week4F">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						USC Upstate at Georgia Tech
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast SportsNet Mid Atlantic<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest PLUS<sup>+</sup><br />
						FOX Sports North PLUS<br />
						FOX Sports San Diego<br />
						FOX Sports South<br />
                        FOX Sports Southwest PLUS<br />
						Prime Ticket<br />
						ROOT Sports Rocky Mountain<br />
						Sun Sports<br />
						NESN<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week4G">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						UTEP at New Mexico St.
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude2<br />
						Comcast SportsNet Chicago PLUS<br />
						MASN<br />
						ROOT Sports Southwest<sup>+</sup><br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week4H">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Charlotte vs. George Washington
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
                        FOX College Sports Central<br />
						NESN<br />
                        SportSouth<br />
                        Sun Sports<br />
                        YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	@Html.Partial("Google/GooglePartialAd")
</div>
