<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="basketball201415week12A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Wake Forest at Florida St.
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast SportsNet Mid Atlantic<br />
						FOX Sports Arizona<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest PLUS<sup>+</sup><br />
						FOX Sports North PLUS<br />
						FOX Sports South<br />
						FOX Sports Southwest PLUS<sup>+</sup><br />
						FOX Sports West<br />
						FOX Sports Wisconsin<br />
						MSG Plus 2<br />
						NESN<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
						SportsTime Ohio<br />
						Sun Sports<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week12B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Georgia Tech at Miami (FL)
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast SportsNet Mid Atlantic PLUS<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest PLUS<sup>+</sup><br />
						FOX Sports North PLUS<br />
						FOX Sports South<br />
						FOX Sports Southwest PLUS<sup>+</sup><br />
						FOX Sports West<br />
						FOX Sports Wisconsin<br />
						MSG Plus 2<br />
						NESN<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
						SportsTime Ohio<br />
						Sun Sports<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week12C">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Drake at Bradley
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast SportsNet Chicago<br />
						FOX College Sports Central<br />
						FOX Sports Midwest<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week12D">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Saint Louis at George Mason
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast Network Philadelphia<br />
						Comcast SportsNet Chicago<br />
						Comcast SportsNet Mid Atlantic<br />
						FOX Sports Midwest PLUS<br />
						SNY<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week12E">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Portland at Gonzaga
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast SportsNet California<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
						ROOT Sports Southwest<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week12F">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Yale at Columbia
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast Network Philadelphia<br />
						Comcast SportsNet California<br />
						Comcast SportsNet Chicago PLUS<br />
						MASN<br />
						SNY<br />
						<a href="http://static.psbin.com/5/0/i45mbtis3qfs88/ASN_Clearances_01-30-15.pdf" target="_blank">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week12G">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Boston College at Clemson
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast SportsNet Mid Atlantic PLUS<br />
						FOX Sports Arizona<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Florida<br />
						FOX Sports Midwest<br />
						FOX Sports South<br />
						FOX Sports Southwest PLUS<sup>+</sup><br />
						FOX Sports West<br />
						NESN<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week12H">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Virginia Tech at Wake Forest
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast SportsNet Mid Atlantic PLUS<br />
						FOX Sports South<br />
						FOX Sports Southwest PLUS<sup>+</sup><br />
						FOX Sports West<br />
						MSG<br />
						NESN<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
						SportsTime Ohio<br />
						Sun Sports<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week12I">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Butler at Marquette
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Arizona<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Florida<br />
						FOX Sports Midwest<sup>+</sup><br />
						FOX Sports North<br />
						FOX Sports Ohio<br />
						FOX Sports San Diego<br />
						FOX Sports Southwest<br />
						FOX Sports Wisconsin<br />
						MASN2<br />
						Prime Ticket<br />
						SportSouth<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week12J">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Illinois St. at Loyola (Chicago)
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast SportsNet Chicago<br />
						FOX College Sports Atlantic<br />
						FOX Sports Midwest<sup>+</sup><br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week12K">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Valparaiso at UIC
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude<br />
						Comcast SportsNet Chicago PLUS<br />
						CST<br />
						MASN<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week12L">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						William &amp; Mary at James Madison
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast Network Philadelphia<br />
						Comcast SportsNet Chicago<br />
						Comcast SportsNet Mid Atlantic<br />
						Comcast SportsNet New England<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week12M">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Ole Miss at Missouri
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Arizona<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest<br />
						FOX Sports North<br />
						FOX Sports San Diego<br />
						FOX Sports Southwest<sup>+</sup><br />
						FOX Sports Wisconsin<br />
						Prime Ticket<br />
						SportSouth<br />
						SportsTime Ohio<br />
						Sun Sports<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week12N">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Loyola Marymount at Pacific
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast SportsNet California<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
						Time Warner Cable SportsNet<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week12O">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Marshall at Louisiana Tech
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude<br />
						Comcast SportsNet Chicago PLUS<br />
						CST<br />
						MASN2<br />
						and <a href="http://grfx.cstv.com/photos/schools/latc/sports/m-baskbl/auto_pdf/2014-15/misc_event/TVchannels3.pdf" target="_blank">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week12P">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						UTPA at New Mexico St.
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX College Sports Pacific<br />
						FOX Sports Arizona PLUS<br />
						FOX Sports Southwest<sup>+</sup><br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201415week12Q">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Lehigh at Bucknell
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude2<br />
						Comcast Network Philadelphia<br />
						MASN<br />
						NESNplus<br />
						and <a href="http://www.bucknellbison.com/fls/32100/pdf/mbb/ASNclearancesMBKBLehBuck012815.pdf"
							target="_blank">local stations</a><br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>
