<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball201415week11A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Xavier at Providence
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Cox-Ocean State Networks<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest PLUS<sup>+</sup><br />
                        FOX Sports North PLUS<br />
                        FOX Sports Ohio<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        MASN2<br />
                        MSG<br />
                        ROOT Sports Northwest<br />
                        SportSouth<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week11B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Notre Dame at Virginia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Midwest PLUS<sup>+</sup><br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest PLUS<sup>+</sup><br />
                        MSG Plus<br />
                        NESN<br />
                        Prime Ticket<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        Sun Sports<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week11C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        UTEP at Western Kentucky
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest PLUS<sup>+</sup><br />
                        FOX Sports North PLUS<br />
                        FOX Sports Ohio<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        MASN2<br />
                        MSG Plus<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week11D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Grand Canyon at New Mexico St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude<br />
                        FOX College Sports Pacific<br />
                        FOX Sports Arizona<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week11E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Texas A&amp;M at Tennessee
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest PLUS<sup>+</sup><br />
                        FOX Sports North PLUS<br />
                        FOX Sports San Diego<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        Prime Ticket<br />
                        SportSouth<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week11F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Georgia at Mississippi St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest PLUS<sup>+</sup><br />
                        FOX Sports San Diego<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        Prime Ticket<br />
                        SportSouth<br />
                        SportsTime Ohio<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week11G">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        UTEP at Marshall
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude<br />
                        Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Chicago PLUS<br />
                        CST<br />
                        MASN<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week11H">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        BYU at San Diego
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet California<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Rocky Mountain<br />
                        Time Warner Cable SportsNet<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week11I">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Old Dominion at UAB
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude<br />
                        Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Chicago PLUS<br />
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        CST<br />
                        and <a href="http://www.odusports.com/fls/31100/pdfs/wbb/01_24_UAB_CUSA_basketball_clearances.pdf" target="_blank">local stations</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week11J">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        UIC at Green Bay
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude2<br />
                        Comcast SportsNet Chicago PLUS<br />
                        CST<br />
                        MASN<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week11K">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Indiana St. at Northern Iowa
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Chicago PLUS<br />
                        FOX College Sports Pacific<br />
                        FOX Sports MidWest<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week11L">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Old Dominion at Middle Tennessee
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet California<br />
                        Comcast SportsNet Chicago PLUS<br />
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        CST<br />
                        and <a href="http://www.odusports.com/ViewArticle.dbml?DB_OEM_ID=31100&ATCLID=209857195">local stations</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week11M">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Richmond at Dayton
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast Network Philadelphia<br />
                        Comcast SportsNet Chicago<br />
                        Comcast SportsNet Mid Atlantic<br />
                        SNY<br />
                        WHIO-Dayton<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week11N">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Pacific at Gonzaga
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet California<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Rocky Mountain<br />
                        ROOT Sports Southwest<br />
                        Time Warner Cable Sportnet<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week11O">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Boston College at Georgia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports South<br />
						FOX Sports Southwest PLUS<sup>+</sup><br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        NESN<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        SportsTime Ohio<br />
                        Sun Sports<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week11P">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Seton Hall at Butler
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        MASN2<br />
                        MSG<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Rocky Mountain<br />
                        SportSouth<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week11Q">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Towson at UNC Wilmington
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast Network Philadelphia<br />
                        Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Chicago PLUS<br />
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        CST<br />
                        and <a href="http://caasports.com/documents/2015/1/20//TVClearances_0118_0124.pdf" target="_blank">local stations</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week11R">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Utah Valley at New Mexico St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude2<br />
                        Comcast SportsNet Bay Area PLUS<br />
                        Comcast SportsNet Chicago<br />
                        MASN<br />
						and <a href="http://www.wacsports.com/fls/10100/docs/pdfs/ASN/0124_WAC_clearances.pdf" target="_blank">local stations</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
