<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball201415week18A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Conference USA First Round #1
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude<br />
						Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Chicago<br />
                        Comcast SportsNet Mid Atlantic<br />
                        CST<br />
                        <a href="www.goutsa.com/pdf9/3275113.pdf" target="_blank">local stations</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week18B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Conference USA First Round #2
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude<br />
						Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Chicago<br />
                        Comcast SportsNet Mid Atlantic<br />
                        CST<br />
						and <a href="http://www.goblueraiders.com/documents/2015/3/10//MTSU_vs_Charlotte_MBKB_First_Round.pdf" target="_blank">local stations</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week18C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Atlantic 10 First Round #1
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast Network Philadelphia<br />
                        Comcast SportsNet Mid Atlantic<br />
                        FOX Sports Midwest<br />
                        SNY<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week18D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Conference USA First Round #3
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
						Comcast SportsNet California<br />
                        Comcast SportsNet Chicago PLUS<br />
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        CST<sup>+</sup><br />
						and <a href="http://grfx.cstv.com/photos/schools/wky/sports/m-baskbl/auto_pdf/2014-15/misc_non_event/1415-asnclearances-0311.pdf" target="_blank">local stations</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week18E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Atlantic 10 First Round #2
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast Network Philadelphia<br />
                        Comcast SportsNet Mid Atlantic<br />
                        FOX Sports Midwest<br />
                        Pittsburgh Cable News Channel<br />
                        SNY<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week18F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Conference USA First Round #4
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet California<br />
                        Comcast SportsNet Chicago PLUS<br />
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        CST<sup>+</sup><br />
                        <a href="http://grfx.cstv.com/photos/schools/rice/sports/m-baskbl/auto_pdf/2014-15/misc_non_event/ASN_March11.pdf" target="_blank">local stations</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week18G">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Conference USA Quarterfinal #1
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude<br />
						Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Chicago<br />
                        Comcast SportsNet Mid Atlantic<br />
                        CST<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week18H">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Conference USA Quarterfinal #2
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude<br />
						Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Chicago<br />
                        Comcast SportsNet Mid Atlantic<br />
                        CST<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week18I">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Conference USA Quarterfinal #3
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude2<br />
						Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Chicago<br />
                        Comcast SportsNet Mid Atlantic<br />
                        CST<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week18J">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Conference USA Quarterfinal #4
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude2<br />
                        Comcast SportsNet Chicago<br />
                        Comcast SportsNet Mid Atlantic<br />
                        CST<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week18K">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Harvard vs. Yale
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Chicago<br />
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        NESNplus<br />
                        MSG Plus<br />
                        and <a href="http://static.psbin.com/w/t/019vchucv2q4fl/ASN_Clearances_03-14-15.pdf" target="_blank">local stations</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>