<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
    </div>
    <div id="basketball201415week1A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Georgia at Georgia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        FOX Sports South<br />
                        FOX Sports West<br />
                        MSG2<br />
                        NESN<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Rocky Mountain<br />
						Sun Sports PLUS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week1B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        NJIT at St. John's
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Midwest<br />
                        FOX Sports San Diego<br />
                        MASN2<br />
                        Prime Ticket<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week1C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Central Arkansas at Creighton
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
						FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports North PLUS<br />
                        FOX Sports Ohio (JIP)<br />
                        MSG2<br />
                        Sun Sports PLUS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week1D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        UT Martin at Marquette
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Florida (JIP)<br />
                        FOX Sports South<br />
                        FOX Sports Wisconsin<br />
                        MASN2<br />
                        Prime Ticket<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week1E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        St. Francis (NY) at Georgetown
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Midwest<br />
                        FOX Sports North PLUS<br />
                        FOX Sports Ohio<br />
                        FOX Sports Southwest PLUS<br />
                        FOX Sports West<br />
                        MASN2<br />
                        MSG<br />
                        Ocean State Networks-Rhode Island<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        SportSouth<br />
                        Sun Sports<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week1F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Mercer at Seton Hall
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports San Diego<br />
                        FOX Sports Southwest<br />
                        FOX Sports Wisconsin<br />
                        Ocean State Networks-Rhode Island<br />
                        MASN2<br />
                        Prime Ticket<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Rocky Mountain<br />
                        SportSouth<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week1G">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Samford at Pittsburgh
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic<br />
                        FOX Sports Detroit PLUS<br />
						FOX Sports North PLUS<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports South<br />
                        FOX Sports West<br />
                        MSG Plus<br />
						NESNplus<br />
                        ROOT Sports Pittsburgh<br />
                        SportsTime Ohio<br />
                        Sun Sports<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week1H">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Southeastern Louisiana at Oklahoma
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX College Sports Central<br />
						FOX Sports North PLUS<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        Sun Sports<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week1I">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Prairie View A&M at Oklahoma St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX College Sports Pacific<br />
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        FOX Sports West<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week1J">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Norfolk St. at Virginia
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Midwest<br />
						FOX Sports North PLUS<br />
                        FOX Sports Ohio<br />
                        FOX Sports South<br />
                        FOX Sports West<br />
						NESNplus<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
						Sun Sports PLUS<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
