<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="football2012week8A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Houston at SMU
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit<br />
                        Sun Sports<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports San Diego<br />
                        SportSouth<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        ROOT Sports Rocky Mountain<br />
                        MSG PLUS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2012week8B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Kansas at Oklahoma
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Detroit PLUS<br />
                        Sun Sports<br />
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports North PLUS<br />
                        SportSouth<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        ROOT Sports Pittsburgh<br />
                        MSG PLUS 2<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2012week8C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Rice at Tulsa
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit<br />
                        Sun Sports<sup>+</sup><br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        SportSouth<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        ROOT Sports Pittsburgh<br />
                        MSG<br />
                        WMCN (Philadelphia)<br />
                        KICU (San Francisco/Oakland)<br />
                        WDCA (Washington DC)<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2012week8D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Boston College at Georgia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Florida<br />
                        FOX Sports North PLUS<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest PLUS<br />
                        Prime Ticket<br />
                        NESN<br>
                        Comcast SportsNet Mid-Atlantic PLUS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2012week8E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Georgia at Kentucky
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Florida<br />
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports North PLUS<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        FOX Sports Wisconsin<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
