<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball202021week4A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Oral Roberts at Oklahoma
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Rocky Mountain<br />
                        AT&amp;T SportsNet Southwest<br />
                        FOX College Sports Central<br />
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports North PLUS<br />
                        FOX Sports Southwest or PLUS<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        MASN2<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202021week4B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Florida A&amp;M at Georgia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida<br />
                        FOX Sports North<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest PLUS<br />
                        FOX Sports Wisconsin PLUS<br />
                        Marquee Sports Network<br />
                        MASN<br />
                        NESN<br />
                        Prime Ticket<br />
                        SportsTime Ohio<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202021week4C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Jacksonville at Miami (FL)
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        AT&amp;T SportsNet Rocky Mountain<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports North<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest PLUS<br />
                        FOX Sports Sun<br />
                        FOX Sports Wisconsin<br />
                        Marquee Sports Network<br />
                        MASN<br />
                        NESNplus<br />
                        Prime Ticket<br />
                        ROOT Sports<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202021week4D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Houston Baptist at Oklahoma
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Southwest<br />
                        FOX College Sports Central<br />
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida<sup>+</sup><br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports North PLUS<br />
                        FOX Sports Ohio<br />
                        FOX Sports Southeast<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin PLUS<br />
                        MASN2<br />
                        MSG Plus<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202021week4E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Coppin State at Virginia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        AT&amp;T SportsNet Rocky Mountain<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports North<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest PLUS<br />
                        FOX Sports Sun<br />
                        FOX Sports Wisconsin<br />
                        Marquee Sports Network<br />
                        MASN<br />
                        NESNplus<br />
                        Prime Ticket<br />
                        ROOT Sports<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
