<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball202021week15A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        WCC First Round #1
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Rocky Mountain<br />
                        BYUtv<br />
                        FOX Sports West<br />
                        ROOT Sports
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202021week15B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        WCC First Round #2
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Rocky Mountain<br />
                        BYUtv<br />
                        FOX Sports West<br />
                        ROOT Sports
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202021week15C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Pitt at Clemson
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Rocky Mountain<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports North PLUS<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        FOX Sports Sun<br />
                        FOX Sports Wisconsin PLUS<br />
                        Marquee Sports Network<br />
                        MASN<br />
                        NESNplus<br />
                        Prime Ticket<br />
                        ROOT Sports<br />
                        SportsTime Ohio<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
    <div id="basketball202021week15D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Virginia Tech at NC State
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Rocky Mountain<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports North<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        FOX Sports Sun<br />
                        FOX Sports Wisconsin PLUS<br />
                        Marquee Sports Network<br />
                        MASN<br />
                        NESNplus<br />
                        SportsTime Ohio<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
