<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball202021week6A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Florida State at Clemson
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        AT&amp;T SportsNet Rocky Mountain<br />
                        FOX Sports Florida<sup>+</sup><br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports North<br />
                        FOX Sports South<br />
                        FOX Sports Southwest or PLUS<sup>+</sup><br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin PLUS<br />
                        Marquee Sports Network<br />
                        MASN<br />
                        NESN<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202021week6B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        North Carolina at Georgia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        AT&amp;T SportsNet Rocky Mountain<br />
                        FOX Sports Arizona<br />
                        FOX Sports Florida<br />
                        FOX Sports North PLUS<br />
                        FOX Sports South<br />
                        FOX Sports Southwest or PLUS<sup>+</sup><br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin PLUS<br />
                        Marquee Sports Network<br />
                        MASN<br />
                        NESN<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202021week6C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Louisville at Boston College
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Midwest<br />
                        FOX Sports North PLUS<br />
                        FOX Sports Ohio<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Sun<br />
                        FOX Sports Southwest<br />
                        FOX Sports Wisconsin PLUS<br />
                        Marquee Sports Network<br />
                        MASN<br />
                        NESN<br />
                        Prime Ticket<br />
                        ROOT Sports<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202021week6D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Clemson at Miami (FL)
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        FOX Sports Sun<br />
                        FOX Sports Wisconsin<br />
                        Marquee Sports Network<br />
                        MASN<br />
                        NESN<br />
                        Prime Ticket<br />
                        ROOT Sports<br />
                        SportsTime Ohio<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
