<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball201112week5A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        BYU at Utah
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Houston<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Chicago<br />
                        Comcast SportsNet Mid Atlantic<br />
                        Comcast SportsNet New England<br />
                        Comcast SportsNet Philadelphia<br />
                        MSG<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201112week5B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Clemson at Arizona
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit PLUS<br />
                        Sun Sports<br />
                        FOX Sports Houston<sup>+</sup><br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Mid Atlantic<br />
                        Comcast SportsNet New England<br />
                        Comcast SportsNet Philadelphia<br />
                        MSG Plus<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201112week5C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Georgia Tech at Georgia
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Florida<br />
                        FOX Sports Houston<sup>+</sup><br />
                        FOX Sports South<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201112week5D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        UNC Greensboro at Florida St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Florida<br />
                        FOX Sports North<br />
                        FOX Sports South<br />
                        Prime Ticket<br />
                        FOX Sports Wisconsin<br />
                        Comcast SportsNet Mid Atlantic<br />
                        NESN<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201112week5E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        NC Central at NC State
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        Sun Sports<br />
                        FOX Sports North<br />
                        FOX Sports South<br />
                        Prime Ticket<br />
                        FOX Sports Wisconsin<br />
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        NESN<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201112week5F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Stony Brook at Boston College
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Florida<br />
                        FOX Sports North<br />
                        FOX Sports Midwest<br />
                        FOX Sports South<br />
                        Prime Ticket<br />
                        FOX Sports Wisconsin<br />
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        NESN<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
