<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="football2011week4A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        SMU at Memphis
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Houston<br />
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports Ohio<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Rocky Mountain<br />
                        Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Chicago PLUS<br />
                        Comcast SportsNet Mid Atlantic<br />
                        Comcast SportsNet New England<br />
                        MSG Plus<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2011week4B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        California at Washington
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Houston<br />
                        FOX Sports Midwest (JIP)<br />
                        FOX Sports North (JIP)<br />
                        FOX Sports Ohio<br />
                        SportSouth (JIP)<br />
                        FOX Sports Southwest<br />
                        Prime Ticket<br />
                        FOX Sports Wisconsin<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Rocky Mountain<br />
                        Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        MSG Plus<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2011week4C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Southern Miss at Virginia
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Sun Sports<br />
                        FOX Sports Houston PLUS<br />
                        FOX Sports South<br />
                        FOX Sports Southwest PLUS<br />
                        Comcast SportsNet Mid Atlantic<br />
                        NESN<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2011week4D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        FAU at Auburn
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Detroit<br />
                        Sun Sports<br />
                        FOX Sports Houston PLUS<br />
                        FOX Sports Midwest<br />
                        FOX Sports South<br />
                        FOX Sports Southwest PLUS<br />
                        FOX Sports Wisconsin<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
