<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="football2016week10A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Penn at Princeton
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Bay Area<br />
						CSN Chicago PLUS<br />
						CSN Mid Atlantic PLUS<br />
						CSN Philadelphia<br />
						NESNplus<br />
						SNY<br />
						and <a href="http://static.psbin.com/j/r/qvxycf8tjekumu/ASN_CLEARANCES_-_Penn_v_Princeton_11-5-16.pdf">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2016week10B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						East Tennessee St. at Mercer
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Midwest PLUS<br />
						FOX Sports San Diego<br />
						Prime Ticket<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2016week10C">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Virginia at Wake Forest
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports Arizona<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest<br />
						FOX Sports North PLUS<br />
						FOX Sports South<br />
						FOX Sports Southwest<br />
						FOX Sports Sun<br />
						FOX Sports West<br />
						NESN<br />
						ROOT Sports Pittsburgh<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2016week10D">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						James Madison at Richmond
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast Network Philadelphia<br />
						CSN Bay Area<br />
						CSN Mid Atlantic PLUS<br />
						SNY<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2016week10E">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Fresno St. at Colorado St.
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
						ROOT Sports Southwest<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2016week10F">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Marshall at Old Dominion
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast Network Philadelphia<br />
						CSN Bay Area<br />
						CSN Chicago PLUS<br />
						NESNplus<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	@Html.Partial("Google/GooglePartialAd")
</div>