<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="football2016week5A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Georgia St. at Appalachian St.
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN California<br />
						CSN Chicago PLUS<br />
						CSN Mid Atlantic<br />
						NESNplus<br />
						SNY<br />
						and <a href="http://www.appstatesports.com/pdf9/4989173.pdf">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2016week5B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Tulane at Massachusetts
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN California<br />
						CST<br />
						NESNplus<br />
						and <a href="http://sidearm.sites.s3.amazonaws.com/tulanegreenwave.com/documents/2016/9/28/2016_Football_Tulane_at_UMass_ASN_Clearance_List.pdf">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2016week5C">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Wake Forest at NC State
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic PLUS<br />
						FOX Sports Arizona<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest<br />
						FOX Sports North PLUS<br />
						FOX Sports South/Southeast/Carolinas<sup>+</sup><br />
						FOX Sports Southwest<br />
						FOX Sports Sun<br />
						FOX Sports Wisconsin<br />
						Prime Ticket<br />
						ROOT Sports Pittsburgh<br />
						SportsTime Ohio<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2016week5D">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Marshall at Pittsburgh
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic PLUS<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Florida<br />
						FOX Sports Midwest<br />
						FOX Sports North PLUS<br />
						FOX Sports South/Southeast/Carolinas<sup>+</sup><br />
						FOX Sports Southwest PLUS<br />
						FOX Sports Wisconsin PLUS<br />
						NESNplus<br />
						Prime Ticket<br />
						ROOT Sports Pittsburgh<br />
						SportsTime Ohio<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	@Html.Partial("Google/GooglePartialAd")
</div>
