<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="football2016week8A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Lehigh at Holy Cross
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN California<br />
						CSN Chicago PLUS<br />
						CSN Mid Atlantic<br />
						CSN Philadelphia<br />
						NESNplus<br />
						SNY<br />
						and <a href="http://lehighsports.com/documents/2016/10/18//ASN_ClearancesLehighHC_FTB102216.pdf" target="_blank">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2016week8B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						North Carolina at Virginia
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic PLUS<br />
						FOX Sports Arizona<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest<br />
						FOX Sports North PLUS<br />
						FOX Sports San Diego<br />
						FOX Sports South<br />
						FOX Sports Southwest<br />
						FOX Sports Sun<br />
						FOX Sports Wisconsin<br />
						NESN<br />
						Prime Ticket<br />
						ROOT Sports Pittsburgh<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2016week8C">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						New Hampshire at Towson
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast Network Philadelphia<br />
						CSN Mid Atlantic<br />
						CSN New England<br />
						SNY<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2016week8D">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Colorado St. at UNLV
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
						ROOT Sports Southwest (JIP)<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2016week8E">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						UL-Monroe at New Mexico
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
						ROOT Sports Southwest<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2016week8F">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Old Dominion at Western Kentucky
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast Network Mid Atlantic<br />
						CSN Bay Area PLUS<br />
						CSN Chicago PLUS<br />
						CSN Northwest<br />
						and <a href="http://www.odusports.com/fls/31100/pdfs/fb/Monarchs_in_the_Media_WKU.pdf" target="_blank">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>
