<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="football2015week11A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						UTEP at Old Dominion
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Arizona<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest<br />
						FOX Sports North<br />
						FOX Sports Ohio PLUS<br />
						FOX Sports Southeast<br />
						FOX Sports Southwest<br />
						FOX Sports Sun<br />
						FOX Sports West<br />
						FOX Sports Wisconsin<br />
						MASN2<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week11B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Virginia at Louisville
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports Florida<br />
						FOX Sports North PLUS<br />
						FOX Sports Midwest PLUS<br />
						FOX Sports South<br />
						FOX Sports Southwest PLUS<br />
						MSG Plus<br />
						NESN<br />
						SportsTime Ohio<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week11C">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Penn at Harvard
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude2<br />
						CSN Bay Area<br />
						CSN New England<br />
						CSN Philadelphia<br />
						SNY<br />
						and <a href="http://static.psbin.com/3/d/534av3vc6bcg78/ASN_Clearances_11-14-15.pdf">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week11D">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						FIU at Marshall
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest<br />
						FOX Sports North<br />
						FOX Sports Ohio PLUS<br />
						FOX Sports Southeast<br />
						FOX Sports Southwest<br />
						FOX Sports Sun<sup>+</sup><br />
						FOX Sports West<br />
						FOX Sports Wisconsin<br />
						MASN2<br />
						ROOT Sports Pittsburgh<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week11E">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Eastern Washington at Montana
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Audience Network<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
						ROOT Sports Southwest Alternate<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week11F">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						UNLV at Colorado St.
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
						ROOT Sports Southwest Alternate<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week11G">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						New Hampshire at Albany
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Bay Area<br />
						CSN Chicago PLUS<br />
						CSN Mid Atlantic PLUS<br />
						CSN New England<br />
						CSN Northwest<br />
						NESNplus<br />
						SNY<br />
						and <a href="http://caasports.com/documents/2015/11/10//Week_11_Clearances.pdf">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2015week11H">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						James Madison at Delaware
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Bay Area<br />
						CSN Mid Atlantic PLUS (JIP on main)<br />
						CSN Northwest<br />
						CSN Philadelphia<br />
						SNY<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	@Html.Partial("Google/GooglePartialAd")
</div>
