<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="football2016week5A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Sun Belt Football
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Chicago PLUS<br />
						CSN Mid Atlantic<br />
						NESNplus<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2016week5B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Tulane at Massachusetts
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CST<br />
						NESNplus<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2016week5C">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Central Arkansas at Abilene Christian
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2016week5D">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						MAC Game
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Chicago Plus<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2016week5E">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						ACC Game #1
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic PLUS<br />
						FOX Sports Arizona<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest<br />
						FOX Sports North PLUS<br />
						FOX Sports Southeast<br />
						FOX Sports Southwest<br />
						FOX Sports Sun<br />
						Prime Ticket<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2016week5F">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Towson at Richmond
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast Network Philadelphia<br />
						CSN Mid Atlantic<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2016week5G">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						UTEP at Louisiana Tech
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2016week5H">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						ACC Game #2
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Detroit PLUS<br />
						FOX Sports Florida<br />
						FOX Sports Midwest<br />
						FOX Sports North PLUS<br />
						FOX Sports Southeast<br />
						NESNplus<br />
						Prime Ticket<br />
						ROOT Sports Pittsburgh<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	@Html.Partial("Google/GooglePartialAd")
</div>
