<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="football2016week5A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Georgia St. at Appalachian St.
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN California<br />
						CSN Chicago PLUS<br />
						CSN Mid Atlantic<br />
						NESNplus<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2016week5B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Tulane at Massachusetts
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN California<br />
						CST<br />
						NESNplus<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2016week5C">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Wake Forest at NC State
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic PLUS<br />
						FOX Sports Arizona<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest<br />
						FOX Sports North PLUS<br />
						FOX Sports Southeast<br />
						FOX Sports Southwest<br />
						FOX Sports Sun<br />
						Prime Ticket<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2016week5D">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Towson at Richmond
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast Network Philadelphia<br />
						CSN Mid Atlantic<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2016week5E">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Marshall at Pittsburgh
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Detroit PLUS<br />
						FOX Sports Florida<br />
						FOX Sports Midwest<br />
						FOX Sports North PLUS<br />
						FOX Sports Southeast<br />
						NESNplus<br />
						Prime Ticket<br />
						ROOT Sports Pittsburgh<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	@Html.Partial("Google/GooglePartialAd")
</div>
