<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="football2016week1A">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Charlotte at Louisville
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        CSN Mid Atlantic PLUS<br />
						FOX Sports Arizona<br />
						FOX Sports Detroit<br />
						FOX Sports Midwest<br />
						FOX Sports North PLUS<br />
						FOX Sports Ohio<br />
						FOX Sports San Diego<br />
						FOX Sports South<br />
						FOX Sports Southwest<sup>+</sup><br />
						FOX Sports Sun<br />
						FOX Sports Wisconsin<br />
						NESN<br />
						Prime Ticket<br />
						ROOT Sports Pittsburgh<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2016week1B">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Northwestern St. at Baylor
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
						FOX Sports Arizona PLUS<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest PLUS<br />
						FOX Sports North PLUS<br />
						FOX Sports Ohio<sup>+</sup><br />
						FOX Sports Southeast<sup>+</sup><br />
						FOX Sports Southwest PLUS<br />
						FOX Sports West<sup>+</sup><br />
						FOX Sports Wisconsin PLUS<br />
						MSG Plus<br />
						Prime Ticket<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2016week1C">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Southeastern Louisiana at Oklahoma St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
						FOX Sports Arizona PLUS<br />
						FOX Sports Detroit<br />
						FOX Sports Midwest<sup>+</sup><br />
						FOX Sports North PLUS<br />
						FOX Sports Ohio<sup>+</sup><br />
						FOX Sports South<sup>+</sup><br />
						FOX Sports Southeast<br />
						FOX Sports Southwest<sup>+</sup><br />
						FOX Sports West<br />
						FOX Sports Wisconsin PLUS<br />
						MSG Plus 2<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2016week1D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Stephen F. Austin at Texas Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
						FOX Sports Arizona PLUS<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest PLUS<br />
						FOX Sports Southwest PLUS<br />
						MSG Plus 2<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2016week1E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        South Dakota St. at TCU
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
						FOX Sports Detroit<br />
						FOX Sports Midwest<br />
						FOX Sports North PLUS<br />
						FOX Sports Ohio<br />
						FOX Sports South<sup>+</sup><br />
						FOX Sports Southeast<br />
						FOX Sports Southwest<br />
						FOX Sports West<sup>+</sup><br />
						FOX Sports Wisconsin PLUS<br />
						MSG Plus<br />
						Prime Ticket<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
	<div id="football2016week1G">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Boise St. at UL-Lafayette
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude<br />
						CSN California<br />
						CSN Chicago PLUS<br />
						NESNplus<br />
						SNY<br />
						and <a href="http://sunbeltsports.org/news/2016/8/30/FB_0830161308.aspx" target="_blank">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="football2016week1H">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Gardner-Webb at Elon
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude<br />
						CSN Chicago PLUS<br />
						CSN Northwest<br />
						CST<br />
						NESNplus<br />
						and <a href="http://sidearm.sites.s3.amazonaws.com/caasports.com/documents/2016/8/26/2016_TV_Weekly_Clearances.pdf" target="_blank">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>
