@model MSS.Models.ScheduleModel
@{
	ViewBag.Title = String.Format("{0} schedule for {1}", Model.IsFootball ? "Football" : "Basketball", Model.WeekDates.CurrentDate.ToShortDateString());
	ViewBag.ActionName = @Url.Content("~/Schedule/DailyText/" + Model.SportYear);
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<input id="sportYear" type="hidden" value="@Model.SportYear" />
<nav class="navbar DONTPrint">
	<div class="container">
		<div>
			@Html.Partial("AddThis/AddThis")
			@Html.Partial("Google/GoogleSearchBar")
			@Html.Partial("AddThis/AddThisVar")
		</div>
		<div style="clear:both; padding-bottom: 5px"></div>
		<div>
			<span>
				<a class="homelink" href="@Url.Content("~/")">Home</a>
				<a class="seasonhome" href="@Url.Content("~/Season/Contents/" + Model.SportYear)">Season Home</a>
			</span>
			<a class="DONTPrint" href="@Url.Content("~/Schedule/Daily/" + Model.SportYear)">Daily Schedule</a><br />
			<br />
			<p id="TextNav" class="DONTPrint">
				@Html.Partial("TimeZoneDropDown")
				<input type="button" id="ClearAll" value="Clear All Games" class="inputpad" />
				<input type="button" id="CheckAll" value="Check All Games" class="inputpad" />
			</p>
		</div>
	</div>
</nav>
<div id="Main">
    <form action="@ViewBag.ActionName" id="TextForm" method="post">
        <p id="Directions" class="DONTPrint">
            Choose your time zone and check the games that you want to print your own customized
            schedule. If you have trouble selecting &amp; printing games, please try selecting games,
            changing your print settings to "Print to PDF", print, then open the PDF file and print that.
            Those in Arizona and Hawai'i, your states are available as a specific
            choice and adjust based on the week of the season.
        </p>
        @Html.Partial("TextGames")
        <p>
            <a href="#" class="back-to-top">Back to top</a>
        </p>
    </form>
</div>
@section scripts {
<script type="text/javascript" src="@Scripts.Url("~/bundles/dailytext")" async></script>
}
@section styles{
	<style type="text/css">.game{width:243px;border:medium;border-style:solid;border-color:Gray;border-width:thin}.tablecell{border:medium;border-style:solid;border-color:gray;border-width:thin}.tableborder{border-style:ridge;border-width:2px;border-spacing:1px;border-collapse:collapse;font-family:Arial}.networkcell{width:165px;text-align:center}.ppvcell{width:25px;text-align:center}.timecell{margin:0 auto;padding:0 2px}.gamecell{width:250px}.inputpad{padding-left: 10px;}.back-to-top{position: fixed;bottom: 2em; right: 0;text-decoration: none;padding: 1em;display: none;}#TextNav{margin:0}#Directions{margin-top:0}.navbar {box-shadow: 0 1px 1px rgba(0,0,0,.1);}</style>
    <style media="all and (min-width: 641px)" type="text/css">.tableborder{font-size:11px;}.rowStyle{width:580px;}.homelink,.seasonhome{display:block;}</style>
    <style type="text/css" media="only screen and (max-width: 640px)">.tableborder{font-size:7pt;}.DONTPrint a{line-height:13px;}.homelink,.seasonhome{display:inline-block;padding-right:10px;}</style>
}

