@model MSS.Models.TelevisedGame
<td class="game">
    @if (!String.IsNullOrEmpty(Model.GameTitle))
    {
        <label><b><i>@Model.GameTitle</i></b></label><br />
    }
    @if (!String.IsNullOrEmpty(Model.Location))
    {
        if (!String.IsNullOrEmpty(Model.VisitingTeam[0]))
        {
            <label>@Model.VisitingTeam[0] vs. @Model.HomeTeam[0]</label><br />
        }
        <label>(at @Model.Location)</label><br />
    }
    else
    {
        if (!String.IsNullOrEmpty(Model.VisitingTeam[0]))
        {
            <label>@Model.VisitingTeam[0] at @Model.HomeTeam[0]</label>
        }
    }
</td>
<td class="network">
    @Html.Raw(Model.Network)
</td>
<td class="coverage">
    @Html.Raw(Model.CoverageNotes)
</td>
<td class="time">
    @Html.Raw(Model.TimeString)
</td>
