@model MSS.Models.ScheduleModel
           
@Html.Label(Model.WeekDates.CurrentDate.ToString("D"))
<table class="noTVTable">
    <tbody>
        <tr class="header">
            <th>
                Game
            </th>
            <th>
                Conference
            </th>
            <th>
                Television Options
            </th>
        </tr>
        @foreach (var item in Model.NoTVGameList.Where(x => x.DayOfWeek == Model.WeekDates.CurrentDate.DayOfWeek
		&& x.Time.ToShortDateString() == Model.WeekDates.CurrentDate.ToShortDateString()))
        {
            if (item.FCS)
            {
            <tr class="fcsgame">
                <td class="game">
                    @Html.Raw(item.Game)
                </td>
                <td class="conference">
                    @item.Conference
                </td>
                <td class="telecast">
                    @if (item.Conference.Contains("American"))
                    {
                        if (item.Game.Contains("at Navy"))
                        {
                            @Html.Raw(item.TVOptions.Replace(" or ESPN+", " or CBS Sports Network"));
                        }
                        else
                        {
                            @Html.Raw(item.TVOptions);
                        }
                    }
                    else if (item.Conference.Contains("Big 12"))
                    {
                        if (item.Game.EndsWith("at Texas"))
                        {
                            @Html.Raw(item.TVOptions.Replace("ESPN+", "Longhorn Network"));
                        }
                        else if (item.Game.EndsWith("at Oklahoma"))
                        {
                            @Html.Raw(item.TVOptions.Replace("ESPN+", "Sooner Sports TV"));
                        }
                        else
                        {
                            @Html.Raw(item.TVOptions)
                        }
                    }
                    else if (item.Conference.Contains("MWC"))
                    {
                        var tvOptions = item.TVOptions;
                        if (item.Game.Contains("Hawai"))
                        {
                            tvOptions = tvOptions + " or Spectrum PPV";
                        }

                        if (item.Game.StartsWith("Boise State"))
                        {
                            var boiseRoadOptions = tvOptions.Replace(", FOX", "").Replace(", FS1 or FS2", "");
                            @Html.Raw(boiseRoadOptions);
                        }
                        else if (item.Game.EndsWith("at Boise State"))
                        {
                            var boiseHomeOptions = tvOptions.Replace("CBS, ", "").Replace(", CBS Sports Network", "");
                            @Html.Raw(boiseHomeOptions);
                        }
                        else
                        {
                            @Html.Raw(tvOptions);
                        }
                    }
                    else
                    {
                        @Html.Raw(item.TVOptions)
                    }
                        </td>
            </tr>
            }
            else
            {
            <tr>
                <td class="game">
                    @Html.Raw(item.Game)
                </td>
                <td class="conference">
                    @item.Conference
                </td>
                <td class="telecast">
                    @if (item.Conference.Contains("American"))
                    {
                        if (item.Game.Contains("at Navy"))
                        {
                            @Html.Raw(item.TVOptions.Replace(" or ESPN+", " or CBS Sports Network"));
                        }
                        else
                        {
                            @Html.Raw(item.TVOptions);
                        }
                    }
                    else if (item.Conference.Contains("Big 12"))
                    {
                        if (item.Game.EndsWith("at Texas"))
                        {
                            @Html.Raw(item.TVOptions.Replace("ESPN+", "Longhorn Network"));
                        }
                        else if (item.Game.EndsWith("at Oklahoma"))
                        {
                            @Html.Raw(item.TVOptions.Replace("ESPN+", "Sooner Sports TV"));
                        }
                        else
                        {
                            @Html.Raw(item.TVOptions)
                        }
                    }
                    else if (item.Conference.Contains("MWC"))
                    {
                        var tvOptions = item.TVOptions;
                        if (item.Game.Contains("Hawai"))
                        {
                            tvOptions = tvOptions + " or Spectrum PPV";
                        }

                        if (item.Game.StartsWith("Boise State"))
                        {
                            var boiseRoadOptions = tvOptions.Replace(", FOX", "").Replace(", FS1 or FS2", "");
                            @Html.Raw(boiseRoadOptions);
                        }
                        else if (item.Game.EndsWith("at Boise State"))
                        {
                            var boiseHomeOptions = tvOptions.Replace("CBS, ", "").Replace(", CBS Sports Network", "");
                            @Html.Raw(boiseHomeOptions);
                        }
                        else
                        {
                            @Html.Raw(tvOptions);
                        }

                    }
                    else
                    {
                        @Html.Raw(item.TVOptions)
                    }
                </td>



                        </tr>
            }

                    }
    </tbody>
</table>
<br />
