@model MSS.Models.ScheduleModel
           
@Html.Label(Model.WeekDates.CurrentDate.ToString("D"))
<table class="noTVTable">
    <tbody>
        <tr class="header">
            <th>
                Game
            </th>
            <th>
                Conference
            </th>
            <th>
                Television Options
            </th>
        </tr>
        @foreach (var item in Model.NoTVGameList.Where(x => x.DayOfWeek == Model.WeekDates.CurrentDate.DayOfWeek
		&& x.Time == Model.WeekDates.CurrentDate))
        {
            if (item.FCS)
            {
            <tr class="fcsgame">
                <td class="game">
                    @Html.Raw(item.Game)
                </td>
                <td class="conference">
                    @item.Conference
                </td>
                <td class="telecast">
                    @Html.Raw(item.TVOptions)
                </td>
            </tr>
            }
            else
            {
            <tr>
                <td class="game">
                    @Html.Raw(item.Game)
                </td>
                <td class="conference">
                    @item.Conference
                </td>
                <td class="telecast">
                    @Html.Raw(item.TVOptions)
                </td>
            </tr>
            }

        }
    </tbody>
</table>
<br />
