@model MSS.Models.ScheduleModel
           
@Html.Label(Model.WeekDates.CurrentDate.ToString("D"))
<table class="noTVTable">
    <tbody>
        <tr class="header">
            <th>
                Game
            </th>
            <th>
                Conference
            </th>
            <th>
                Television Options
            </th>
        </tr>
        @foreach (var item in Model.NoTVGameList.Where(x => x.DayOfWeek == Model.WeekDates.CurrentDate.DayOfWeek
		&& x.Time.ToShortDateString() == Model.WeekDates.CurrentDate.ToShortDateString()))
        {
            if (item.FCS)
            {
            <tr class="fcsgame">
                <td class="game">
                    @Html.Raw(item.Game)
                </td>
                <td class="conference">
                    @item.Conference
                </td>
                <td class="telecast">
                    @if (item.Conference.Contains("Big 12"))
                    {
                        if (item.Game.EndsWith("at Texas"))
                        {
                            if (item.TVOptions.Contains("Member Retained")) {
                                @Html.Raw(item.TVOptions.Replace("Member Retained", "Longhorn Network"));
                            }
                            else
                            {
                                @Html.Raw(item.TVOptions.Replace(" or FSN", ", FSN or Longhorn Network"));
                            }
                        }
                        else if (item.Game.EndsWith("at Oklahoma"))
                        {
                            @Html.Raw(item.TVOptions.Replace("Member Retained", "Sooner Sports TV"));
                        }
                        else if (item.Game.EndsWith("at Oklahoma St.") || item.Game.EndsWith("at Baylor")
                          || item.Game.EndsWith("at Kansas") || item.Game.EndsWith("at Kansas St."))
                        {
                            @Html.Raw(item.TVOptions.Replace("Member Retained", "ESPN+"));
                        }
                        else
                        {
                            @Html.Raw(item.TVOptions)
                        }
                    }
                    else if (item.Conference.Contains("MWC") && !item.Game.Contains("Hawai"))
                    {
                    @Html.Raw(item.TVOptions.Replace(", Spectrum PPV", ""));
                    }
                    else
                    {
                    @Html.Raw(item.TVOptions)
                    }
                </td>
            </tr>
            }
            else
            {
            <tr>
                <td class="game">
                    @Html.Raw(item.Game)
                </td>
                <td class="conference">
                    @item.Conference
                </td>
                <td class="telecast">
                    @if (item.Conference.Contains("Big 12"))
                    {
                        if (item.Game.EndsWith("at Texas"))
                        {
                            if (item.TVOptions.Contains("Member Retained"))
                            {
                                @Html.Raw(item.TVOptions.Replace("Member Retained", "Longhorn Network"));
                            }
                            else
                            {
                                @Html.Raw(item.TVOptions.Replace(" or FSN", ", FSN or Longhorn Network"));
                            }
                        }
                        else if (item.Game.EndsWith("at Oklahoma"))
                        {
                            @Html.Raw(item.TVOptions.Replace("Member Retained", "Sooner Sports TV"));
                        }
                        else if (item.Game.EndsWith("at Oklahoma St.") || item.Game.EndsWith("at Baylor")
                          || item.Game.EndsWith("at Kansas") || item.Game.EndsWith("at Kansas St."))
                        {
                            @Html.Raw(item.TVOptions.Replace("Member Retained", "ESPN+"));
                        }
                        else
                        {
                            @Html.Raw(item.TVOptions)
                        }
                    }
                    else if (item.Conference.Contains("MWC") && !item.Game.Contains("Hawai"))
                    {
                        @Html.Raw(item.TVOptions.Replace(", Spectrum PPV", ""));
                    }
                    else
                    {
                        @Html.Raw(item.TVOptions)
                    }
                </td>



                        </tr>
            }

                    }
    </tbody>
</table>
<br />
