@model MSS.Models.ScheduleModel
           
@Html.Label(Model.WeekDates.CurrentDate.ToString("D"))
<table class="noTVTable">
    <tbody>
        <tr class="header">
            <th>
                Game
            </th>
            <th>
                Conference
            </th>
            <th>
                Television Options
            </th>
        </tr>
        @foreach (var item in Model.NoTVGameList.Where(x => x.DayOfWeek == Model.WeekDates.CurrentDate.DayOfWeek
		&& x.Time.ToShortDateString() == Model.WeekDates.CurrentDate.ToShortDateString()))
        {
            if (item.FCS)
            {
            <tr class="fcsgame">
                <td class="game">
                    @if (!String.IsNullOrEmpty(item.GameTitle))
                    {
                        <label><b><i>@item.GameTitle</i></b></label><br />
                    }
                    @if (!String.IsNullOrEmpty(item.Location))
                    {
                        if (!String.IsNullOrEmpty(item.VisitingTeam))
                        {
                            <label>@item.VisitingTeam vs. @item.HomeTeam</label><br />
                        }
                        <label>(at @item.Location)</label><br />
                    }
                    else
                    {
                        if (!String.IsNullOrEmpty(item.VisitingTeam))
                        {
                            <label>@item.VisitingTeam at @item.HomeTeam</label>
                        }
                    }
                </td>
                <td class="conference">
                    @item.Conference
                </td>
                <td class="telecast">
                    @if (item.Conference.Contains("American"))
                    {
                        if (item.HomeTeam.Equals("Navy"))
                        {
                            @Html.Raw(item.TVOptions.Replace(" or ESPN+", " or CBS Sports Network"));
                        }
                        else
                        {
                            @Html.Raw(item.TVOptions);
                        }
                    }
                    else if (item.Conference.Contains("Big 12"))
                    {
                        if (item.HomeTeam.Equals("Texas"))
                        {
                            @Html.Raw(item.TVOptions.Replace("ESPN+", "Longhorn Network"));
                        }
                        else
                        {
                            @Html.Raw(item.TVOptions)
                        }
                    }
                    else if (item.Conference.Contains("MWC"))
                    {
                        var tvOptions = item.TVOptions;
                        if (item.HomeTeam.Contains("Hawai") || item.VisitingTeam.Contains("Hawai"))
                        {
                            tvOptions = tvOptions.Replace("MW Network", "Spectrum PPV");
                        }

                        if (item.VisitingTeam.Equals("Boise State"))
                        {
                            var boiseRoadOptions = "CBS or CBS Sports Network";
                            @Html.Raw(boiseRoadOptions);
                        }
                        else if (item.HomeTeam.Equals("Boise State"))
                        {
                            var boiseHomeOptions = "FOX, FS1 or FS2";
                            @Html.Raw(boiseHomeOptions);
                        }
                        else
                        {
                            @Html.Raw(tvOptions);
                        }
                    }
                    else
                    {
                        @Html.Raw(item.TVOptions)
                    }
                        </td>
            </tr>
            }
            else
            {
            <tr>
                <td class="game">
                    @if (!String.IsNullOrEmpty(item.GameTitle))
                    {
                        <label><b><i>@item.GameTitle</i></b></label><br />
                    }
                    @if (!String.IsNullOrEmpty(item.Location))
                    {
                        if (!String.IsNullOrEmpty(item.VisitingTeam))
                        {
                            <label>@item.VisitingTeam vs. @item.HomeTeam</label><br />
                        }
                        <label>(at @item.Location)</label><br />
                    }
                    else
                    {
                        if (!String.IsNullOrEmpty(item.VisitingTeam))
                        {
                            <label>@item.VisitingTeam at @item.HomeTeam</label>
                        }
                    }
                </td>
                <td class="conference">
                    @item.Conference
                </td>
                <td class="telecast">
                    @if (item.Conference.Contains("American"))
                    {
                        if (item.HomeTeam.Equals("Navy"))
                        {
                            @Html.Raw(item.TVOptions.Replace(" or ESPN+", " or CBS Sports Network"));
                        }
                        else
                        {
                            @Html.Raw(item.TVOptions);
                        }
                    }
                    else if (item.Conference.Contains("Big 12"))
                    {
                        if (item.HomeTeam.Equals("Texas"))
                        {
                            @Html.Raw(item.TVOptions.Replace("ESPN+", "Longhorn Network"));
                        }
                        else
                        {
                            @Html.Raw(item.TVOptions)
                        }
                    }
                    else if (item.Conference.Contains("MWC"))
                    {
                        var tvOptions = item.TVOptions;
                        if (item.HomeTeam.Contains("Hawai") || item.VisitingTeam.Contains("Hawai"))
                        {
                            tvOptions = tvOptions.Replace("MW Network", "Spectrum PPV");
                        }

                        if (item.VisitingTeam.Equals("Boise State"))
                        {
                            var boiseRoadOptions = "CBS or CBS Sports Network";
                            @Html.Raw(boiseRoadOptions);
                        }
                        else if (item.HomeTeam.Equals("Boise State"))
                        {
                            var boiseHomeOptions = "FOX, FS1 or FS2";
                            @Html.Raw(boiseHomeOptions);
                        }
                        else
                        {
                            @Html.Raw(tvOptions);
                        }
                    }
                    else
                    {
                        @Html.Raw(item.TVOptions)
                    }
                </td>



                        </tr>
            }

                    }
    </tbody>
</table>
<br />
