@model MSS.Models.WeeklyModel
<div id="WeekTextGames">
    <table class="tableborder rowStyle">
        <thead>
            <tr class="DONTPrint">
                <th></th>
                <th>Game
                </th>
                <th>Network
                </th>
                @if (!Model.IsBowlWeek && !Model.IsBasketballPostseason)
                {
                    <th>PPV
                    </th>
                }
                <th>Time
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TelevisedGamesList.Where(item => !item.Network.IsEmpty()))
            {
                <tr class="DONTPrint rowStyle">
                    <td class="tablecell">
                        <input class="checkBoxRow" type="checkbox" />
                    </td>
                    <td class="tablecell gamecell">
                        @Html.Raw(item.Game)
                    </td>
                    <td class="tablecell networkcell">
                        @Html.Raw(item.Network)
                    </td>
                    @if (!Model.IsBowlWeek && !Model.IsBasketballPostseason)
                    {
                        <td class="tablecell ppvcell">
                            @if (item.PPV == "X")
                            {
                                @Html.Label("PPV")
                            }
                        </td>
                    }
                    @if (item.TimeString == "TBA")
                    {
                        <td class="tablecell timecell">
                            <span></span>@Html.DisplayFor(modelItem => item.TimeString)
                        </td>
                    }
                    else
                    {
                        <td class="tablecell timecell">
                            @Html.DisplayFor(modelItem => item.TimeString)
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
