@model MSS.Models.ScheduleModel
<div id="WeekTextGames">
    <table class="tableborder rowStyle DOPrint">
        <thead>
            <tr class="DOPrint">
                <th></th>
                <th>Game
                </th>
                <th>Network
                </th>
                @if (!Model.IsBowlWeek && !Model.IsBasketballPostseason)
                {
                    <th>PPV
                    </th>
                }
                <th>Time
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TelevisedGamesList.Where(item => !item.Network.IsEmpty()))
            {
                <tr class="gamerow DONTPrint rowStyle">
                    <td class="tablecell">
                        <input class="checkBoxRow" type="checkbox" />
                    </td>
                    <td class="tablecell gamecell">
                        @if (!String.IsNullOrEmpty(item.GameTitle))
                        {
                            <label><b><i>@item.GameTitle</i></b></label><br />
                        }
                        @if (!String.IsNullOrEmpty(item.Location))
                        {
                            if (!String.IsNullOrEmpty(item.VisitingTeam))
                            {
                                <label>@item.VisitingTeam vs. @item.HomeTeam</label><br />
                            }
                            <label>(at @item.Location)</label><br />
                        }
                        else
                        {
                            if (!String.IsNullOrEmpty(item.VisitingTeam))
                            {
                                <label>@item.VisitingTeam at @item.HomeTeam</label>
                            }
                        }
                    </td>
                    <td class="tablecell networkcell">
                        @Html.Raw(item.Network)
                    </td>
                    @if (!Model.IsBowlWeek && !Model.IsBasketballPostseason)
                    {
                        <td class="tablecell ppvcell">
                            @if (item.PPV == "X")
                            {
                                @Html.Label("PPV")
                            }
                        </td>
                    }
                    @if (item.TimeString == "TBA")
                    {
                        <td class="tablecell timecell">
                            <span></span>@Html.DisplayFor(modelItem => item.TimeString)
                        </td>
                    }
                    else
                    {
                        <td class="tablecell timecell">
                            @Html.DisplayFor(modelItem => item.TimeString)
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
