<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball201314week11A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Towson at Drexel
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast Network Philadelphia<br />
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        Comcast SportsNet New England<br />
                        CSS<br />
                        SNY<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week11B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Clemson at Virginia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida/Sun Sports<sup>+</sup><br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports North PLUS<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest PLUS<br />
                        MSG PLUS<br />
                        NESN<br />
                        Prime Ticket<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        SportsTime Ohio<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week11C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        LSU at Ole Miss
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bright House Sports Network<br />
                        Comcast Network Philadelphia<br />
                        Comcast SportsNet California<sup>+</sup><br />
                        Comcast SportsNet Chicago<br />
                        Comcast SportsNet Houston<sup>+</sup><br />
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        CST<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week11D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Seton Hall at Georgetown
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Cox-Ocean State Networks<br />
                        FOX Sports Arizona<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        MSG PLUS<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        SportSouth<br />
                        Sun Sports<sup>+</sup><br />
                        WDCA - Washington, DC<br />
                        WTXF - Philadelphia, PA<br />
                        WPWR - Chicago, IL<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week11E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Miami (FL) at Georgia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic<br />
                        FOX Sports Arizona<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports South<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        MSG PLUS<br />
                        NESN<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week11F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        DePaul at Villanova
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Cox-Ocean State Networks<br />
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit<br />
                        FOX Sports Midwest<br />
                        FOX Sports Ohio<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        ROOT Sports Pittsburgh<br />
                        SportSouth<br />
                        Sun Sports<sup>+</sup><br />
                        YES<br />
                        WDCA - Washington, DC<br />
                        WPWR - Chicago, IL<br />
                        WTXF DT2 - Philadelphia, PA<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week11G">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Ole Miss at South Carolina
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports South<br />
                        FOX Sports Southwest PLUS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week11H">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Texas Tech at TCU
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Cincinnati<sup>+</sup><br />
                        FOX Sports Florida (JIP)<br />
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports Ohio<sup>+</sup><br />
                        FOX Sports Southwest<sup>+</sup><br />
                        MASN2<br />
                        ROOT Sports Piitsburgh<br />
                        SportSouth<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week11I">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Delaware at Northeastern
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Bay Area<br />
                        Comcast SportsNet New England<br />
                        Comcast SportsNet Northwest<br />
                        Comcast SportsNet Mid Atlantic<br />
                        Comcast SportsNet Philadelphia<br />
                        CSS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week11J">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        James Madison at William &amp; Mary
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast Network Philadelphia<br />
                        Comcast SportsNet New England<br />
                        Comcast SportsNet Mid Atlantic<br />
                        CSS<br />
                        SNY<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week11K">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Gonzaga at Loyola Marymount
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Bay Area<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Rocky Mountain<br />
                        Time Warner Cable SportsNet<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week11L">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Gonzaga at Pepperdine
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Bay Area<br />
                        KHQ - Spokane, WA<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Rocky Mountain<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week11M">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Auburn at Tennessee
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bright House Sports Network<br />
                        Comcast Network Philadelphia<br />
                        Comcast SportsNet California<sup>+</sup><br />
                        Comcast SportsNet Houston<sup>+</sup><br />
                        CST<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week11N">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Bowling Green at Western Michigan
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        BCSN<br />
                        Comcast SportsNet Chicago<br />
                        Time Warner Sports Channel-NY<br />
                        Time Warner Sports Channel-OH<br />
                        Time Warner Sports Channel-WI<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week11O">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Ball St. at Ohio
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Time Warner Sports Channel-NY<br />
                        Time Warner Sports Channel-OH<br />
                        Time Warner Sports Channel-WI<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
