<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball201314week3A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Navy at Virginia
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        FOX Sports Arizona<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        Prime Ticket<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        SportsTime Ohio<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week3B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Charleston Southern at Baylor
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX College Sports Pacific<br />
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Midwest PLUS<sup>+</sup><br />
                        FOX Sports Southwest<br />
                        MASN2<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week3C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        NC Central at NC State
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida/Sun Sports<sup>+</sup><br />
                        FOX Sports Midwest PLUS<sup>+</sup><br />
                        FOX Sports South<br />
                        FOX Sports West<br />
                        MSG PLUS<br />
                        NESN<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        SportsTime Ohio<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week3D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Tulsa at Creighton
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Cox-Ocean State Network<br />
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit<br />
                        FOX Sports Midwest<br />
                        FOX Sports Ohio<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin PLUS<br />
                        MSG PLUS<br />
                        SportSouth<br />
                        Sun Sports<br />
                        WDCA - Washington, DC<br />
                        WPWR - Chicago, IL<br />
                        WTXF - Philadelphia, PA<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week3E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        The Citadel at Tennessee
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX College Sports Pacific<br />
                        FOX Sports Florida<br />
                        FOX Sports North<br />
                        FOX Sports San Diego<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week3F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        FIU at South Carolina
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX College Sports Atlantic<br />
                        FOX Sports Arizona<br />
                        FOX Sports Florida<br />
                        FOX Sports North<br />
                        FOX Sports Wisconsin<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week3G">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Northern Colorado at New Mexico St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude<br />
                        Comcast SportsNet Houston PLUS<br />
                        FOX College Sports Pacific<br />
                        FOX Sports Arizona PLUS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
