<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
    </div>
    <div id="basketball201314week1A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Alabama vs. Oklahoma<br>
                        <sup>+</sup>Check your local listings
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX College Sports Central<br />
                        FOX Sports Arizona<br />
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports North<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        MASN2<br />
                        MSG PLUS 2<br />
                        SportSouth<br />
                        Sun Sports<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week1B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Cornell at Syracuse<br>
                        <sup>+</sup>Check your local listings
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports South<sup>+</sup><br />
                        MSG PLUS 2<br />
                        NESN<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Rocky Mountain<br />
                        Sun Sports<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week1C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Gardner-Webb at Xavier<br>
                        <sup>+</sup>Check your local listings
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Cincinnati<sup>+</sup><br />
                        FOX Sports Ohio<sup>+</sup><br />
                        FOX Sports San Diego<br />
                        Prime Ticket<br />
                        SportSouth<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week1D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Oakland at North Carolina<br>
                        <sup>+</sup>Check your local listings
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports South<sup>+</sup><br />
                        NESN<br />
                        MSG PLUS 2<br />
                        Sun Sports<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week1E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Colorado vs. Baylor<br>
                        <sup>+</sup>Check your local listings
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit PLUS (JIP)<br />
                        FOX Sports Florida PLUS<br />
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports Ohio<br />
                        FOX Sports North PLUS<br />
                        FOX Sports Southwest PLUS<br />
                        MASN2<br />
                        MSG PLUS 2 (JIP)<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Rocky Mountain<br />
                        SportSouth<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week1F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Northern Kentucky at Kentucky<br>
                        <sup>+</sup>Check your local listings
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX College Sports Atlantic<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Florida<br />
                        FOX Sports North PLUS<br />
                        FOX Sports Ohio<br />
                        FOX Sports South<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
