<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball201314week15A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Clemson at Notre Dame
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida<br />
                        FOX Sports North PLUS<br />
                        FOX Sports Midwest<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Wisconsin<br />
                        NESNplus<br />
                        Prime Ticket<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        SportsTime Ohio<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week15B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Boston College at Georgia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        MSG PLUS<br />
                        NESN<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        Sun Sports<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week15C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Georgia at Mississippi St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona PLUS (JIP)<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida/Sun Sports<sup>+</sup><br />
                        FOX Sports South<br />
                        FOX Sports West (JIP)<br />
                        SportsTime Ohio<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week15D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        LSU at Texas A&amp;M
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast Network Philadelphia<br />
                        Comcast SportsNet Houston<sup>+</sup><br />
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        CST<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week15E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        UNC Wilmington at James Madison
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Bay Area<br />
                        Comcast SportsNet New England<br />
                        Comcast SportsNet Northwest<br />
                        Comcast SportsNet Mid Atlantic<br />
                        Comcast SportsNet Philadelphia<br />
                        CSS<br />
                        WECT - Wilmington, NC<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week15F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        DePaul at Providence
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Cox-Ocean State Networks<br />
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Detroit<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports San Diego<br />
                        FOX Sports Southwest<sup>+</sup>
                        FOX Sports Wisconsin<br />
                        Prime Ticket<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        SportSouth<br />
                        WPWR - Chicago, IL<br />
                        WTXF-DT2 - Philadelphia, PA<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week15G">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Towson at William &amp; Mary
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Northwest<br />
                        Comcast SportsNet Mid Atlantic<br />
                        Comcast SportsNet Philadelphia<br />
                        CSS<br />
                        SNY<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week15H">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Pepperdine at Portland
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet California<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Rocky Mountain<br />
                        Time Warner Cable SportsNet<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week15I">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Ole Miss at Georgia
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        Prime Ticket<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week15J">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Miami (FL) at Virginia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic<br />
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports North PLUS<br />
                        FOX Sports Ohio<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        FOX Sports Wisconsin<br />
                        NESNplus<br />
                        MSG PLUS<br />
                        Prime Ticket<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Rocky Mountain<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week15K">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Florida St. at Wake Forest
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports North PLUS<br />
                        FOX Sports Ohio<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        FOX Sports Wisconsin<br />
                        NESNplus<br />
                        MSG PLUS<br />
                        Prime Ticket<br />
                        ROOT Sports Pittsburgh<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week15L">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Hofstra at Drexel
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet California<br />
                        Comcast SportsNet Chicago<br />
                        Comcast SportsNet Northwest<br />
                        Comcast SportsNet Mid Atlantic<br />
                        Comcast SportsNet Philadelphia<br />
                        CSS<br />
                        SNY<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week15M">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Hofstra at James Madison
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet California<br />
                        Comcast SportsNet Mid Atlantic<br />
                        Comcast SportsNet Philadelphia<br />
                        SNY<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week15N">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Southern Miss at Middle Tennessee
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Chicago<br />
                        Comcast SportsNet Houston<br />
                        Comcast SportsNet Northwest<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week15O">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Loyola Marymount at Gonzaga
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet California<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Rocky Mountain<br />
                        Time Warner Cable SportsNet<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
