<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball201314week16A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Wake Forest at Maryland
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida/Sun Sports<sup>+</sup><br />
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports North<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        NESN<br />
                        Prime Ticket<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        SportsTime Ohio<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week16B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Auburn at Florida
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        Prime Ticket<br />
                        SportsTime Ohio<br />
                        Sun Sports<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week16C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        South Carolina at Arkansas
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast Network Philadelphia<br />
                        Comcast SportsNet California<sup>+</sup><br />
                        Comcast SportsNet Chicago (JIP)<br />
                        Comcast SportsNet Houston<sup>+</sup><br />
                        CST<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week16D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Towson at Northeastern
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        Comcast SportsNet New England<br />
                        Comcast SportsNet Philadelphia<br />
                        CSS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week16E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Notre Dame at Miami (FL)
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        MSG PLUS<br />
                        NESN<br />
                        Prime Ticket<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain (JIP)<sup>+</sup><br />
                        SportsTime Ohio<br />
                        Sun Sports<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week16F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Mount St. Mary's at Central Connecticut St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Cox-New England<br />
                        FOX College Sports<br />
                        MASN<br />
                        MSG<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week16G">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Clemson at Georgia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports South<br />
                        FOX Sports San Diego<br />
                        NESN<br />
                        Prime Ticket<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        SportsTime Ohio<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week16H">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        NC State at Virginia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic<br />
                        FOX Sports Arizona<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        FOX Sports Wisconsin<br />
                        NESN<br />
                        Prime Ticket<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week16I">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        St. Mary's at Santa Clara
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet California<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Rocky Mountain<br />
                        Time Warner Cable SportsNet<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week16J">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Northeastern at William &amp; Mary
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Bay Area<br />
                        Comcast SportsNet New England<br />
                        Comcast SportsNet Northwest<br />
                        Comcast SportsNet Mid Atlantic<br />
                        Comcast SportsNet Philadelphia<br />
                        CSS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week16K">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Vanderbilt at Auburn
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports North<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        FOX Sports Wisconsin<br />
                        Prime Ticket<br />
                        SportsTime Ohio<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week16L">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Drexel at Delaware
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Northwest<br />
                        Comcast SportsNet Mid Atlantic<br />
                        Comcast SportsNet Philadelphia<br />
                        SNY<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week16M">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Seton Hall at Creighton
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Cox-Ocean State Networks<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports North<br />
                        FOX Sports Southwest<br />
                        FOX Sports Wisconsin<br />
                        FOX Sports West<br />
                        MSG<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        SportSouth<br />
                        SportsTime Ohio<br />
                        Sun Sports<br />
                        WDCA - Washington, DC<br />
                        WPWR - Chicago, IL<br />
                        WTXF - Philadelphia, PA<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week16N">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Middle Tennessee at Marshall
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Chicago<br />
                        Comcast SportsNet Houston<br />
                        Comcast SportsNet Northwest<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
