<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball201314week12A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Xavier at DePaul
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        <a href="http://grfx.cstv.com/photos/schools/depa/sports/m-baskbl/auto_pdf/2013-14/misc_non_event/depaul-xavier-tv.pdf">
                            Click for Chicago area distribution</a><br />
                        FOX Sports Arizona<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida<sup>+</sup><br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        FOX Sports Wisconsin<br />
                        MSG PLUS<br />
                        Prime Ticket<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week12B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Wake Forest at Virginia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        FOX Sports West<br />
                        NESN<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Rocky Mountain<br />
                        SportsTime Ohio<br />
                        Sun Sports<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week12C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Ole Miss at Vanderbilt
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bright House Sports Network<br />
                        Comcast Network Philadelphia<br />
                        Comcast SportsNet Houston<sup>+</sup><br />
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        Comcast SportsNet Northwest<br />
                        CST<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week12D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Towson at Delaware
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast Network Philadelphia<br />
                        Comcast SportsNet California<br />
                        Comcast SportsNet Mid Atlantic<br />
                        Comcast SportsNet Northwest<br />
                        CSS<br />
                        SNY<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week12E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        College of Charleston at James Madison
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast Network Philadelphia<br />
                        Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Mid Atlantic<br />
                        Comcast SportsNet New England<br />
                        Comcast SportsNet Northwest<br />
                        CSS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week12F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        St. John's at Butler
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Cox-Ocean State Networks<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest<br />
                        FOX Sports North PLUS<br />
                        FOX Sports Ohio<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        ROOT Sports Pittsburgh<br />
                        SportSouth<br />
                        WDCA - Washington, DC<br />
                        WPWR - Chicago, IL<br />
                        WTXF - Philadelphia, PA<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week12G">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        San Diego at Portland
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet California<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Rocky Mountain<br />
                        Time Warner Cable SportsNet<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week12H">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Auburn at Arkansas
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest<br />
                        FOX Sports North PLUS<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        SportsTime Ohio<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week12I">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        UTSA at UTEP
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Houston<br />
                        Comcast SportsNet Mid Atlantic<br />
                        Comcast SportsNet Northwest<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
