<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball201314week14A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        James Madison at Towson
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
						Comcast Network Philadelphia<br />
						Comcast SportsNet California<br />
                        Comcast SportsNet Mid Atlantic<br />
                        CSS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week14B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Pittsburgh at Miami (FL)
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports North PLUS<br />
                        FOX Sports South<br />
                        FOX Sports West<br />
                        NESN<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        SportsTime Ohio<br />
                        Sun Sports<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week14C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Virginia Tech at Florida St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida/Sun Sports<sup>+</sup><br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports North PLUS<br />
                        FOX Sports South<br />
                        NESN<br />
                        ROOT Sports Pittsburgh<br />
                        SportsTime Ohio<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week14D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Virginia Tech at Pittsburgh
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports North PLUS<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports South<br />
                        FOX Sports Southwest PLUS<sup>+</sup>
                        FOX Sports West<br />
                        NESN<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        SportsTime Ohio<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week14E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        NC State at Miami (FL)
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports North PLUS<br />
                        FOX Sports South<br />
                        FOX Sports Southwets PLUS<sup>+</sup>
                        FOX Sports West<br />
                        NESNplus<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week14F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        College of Charleston at Towson
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast Network Philadelphia<br />
                        Comcast SportsNet Mid Atlantic<br />
                        Comcast SportsNet New England<br />
                        CSS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week14G">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        St. Mary's at Pepperdine
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet California<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Rocky Mountain<br />
                        Time Warner Cable SportsNet<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week14H">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Tulsa at Rice
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast Network Philadelphia<br />
                        Comcast SportsNet Chicago<br />
                        Comcast SportsNet Houston<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week14I">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Texas A&amp;M at Georgia
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bright House Sports Network<br />
                        Comcast Network Philadelphia<br />
                        Comcast SportsNet Houston<sup>+</sup><br />
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        CST<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week14J">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Missouri at Ole Miss
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest<br />
                        FOX Sports North PLUS<br />
                        FOX Sports Ohio<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week14K">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Mississippi St. at Texas A&amp;M
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bright House Sports Network<br />
                        Comcast Network Philadelphia<br />
                        Comcast SportsNet Houston<sup>+</sup><br />
                        CST<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
