<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball201314week4A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Cleveland St. at Kentucky
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports North PLUS<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        Prime Ticket<br />
                        SportsTime Ohio<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week4B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Eastern Michigan at Kentucky
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX College Sports Pacific<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports North PLUS<br />
                        FOX Sports Ohio<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        Prime Ticket<br />
                        Sun Sports<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week4C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        UALR at Oklahoma
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports North<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        MASN2<br />
                        MSG<br />
                        ROOT Sports Northwest<br />
                        Sun Sports<sup>+</sup><br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week4D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Lipscomb at Georgetown
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Cox-Ocean State Network<br />
                        FOX Sports Arizona<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports San Diego<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        MSG PLUS<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        SportSouth<br />
                        Sun Sports<br />
                        WDCA - Washington, DC<br />
                        WTXF - Philadelphia<br />
                        WPWR - Chicago<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week4E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Central Arkansas at Kansas St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports South<br />
                        FOX Sports Southwest PLUS<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        MASN2<br />
                        MSG PLUS<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201314week4F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Bethune-Cookman at New Mexico St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude2<br />
                        Comcast SportsNet Houston PLUS<br />
                        FOX College Sports Pacific<br />
                        FOX Sports Arizona PLUS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
