<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball201112week7A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Southern Miss at Arizona St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida<br />
                        FOX Sports Houston<sup>+</sup><br />
                        FOX Sports Midwest<br />
                        FOX Sports North (JIP)<br />
                        FOX Sports Ohio<br />
                        SportSouth<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin (JIP)<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        Comcast SportsNet California<br />
                        Comcast SportsNet Mid Atlantic<br />
                        MSG Plus<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201112week7B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Butler at Stanford
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Detroit PLUS<br />
                        Sun Sports<br />
                        FOX Sports Houston<sup>+</sup><br />
                        FOX Sports Midwest<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        Prime Ticket<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Chicago<br />
                        Comcast SportsNet Mid Atlantic<br />
                        MSG Plus (JIP)<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201112week7C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Kansas at USC
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida<br />
                        FOX Sports Houston<br />
                        FOX Sports Midwest<br />
                        FOX Sports North (JIP)<br />
                        FOX Sports Ohio<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        Prime Ticket<br />
                        FOX Sports Wisconsin (JIP)<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Chicago<br />
                        Comcast SportsNet Mid Atlantic<br />
                        Comcast SportsNet Philadelphia<br />
                        MSG Plus<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201112week7D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Marquette at LSU
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Florida<br />
                        FOX Sports Houston<sup>+</sup><br />
                        FOX Sports North<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        Prime Ticket<br />
                        FOX Sports Wisconsin<br />
                        MASN<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201112week7E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Lafayette at Vanderbilt
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Florida<br />
                        FOX Sports Houston<sup>+</sup><br />
                        FOX Sports South<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        Prime Ticket<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201112week7F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Loyola (MD) at Kentucky
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        Sun Sports<br />
                        FOX Sports Houston<sup>+</sup><br />
                        FOX Sports North<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        Prime Ticket<br />
                        FOX Sports Wisconsin<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201112week7G">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        UNC Greensboro at Duke
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Sun Sports<br />
                        FOX Sports Houston<sup>+</sup><br />
                        FOX Sports South<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        Prime Ticket<br />
                        Comcast SportsNet Mid Atlantic PLUS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
