<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="basketball201516week2A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						UL-Lafayette at Miami (FL)
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Florida/Sun<sup>+</sup><br />
						FOX Sports North PLUS<br />
						FOX Sports South<br />
						FOX Sports Southwest<sup>+</sup><br />
						FOX Sports West<br />
						MSG<br />
						NESN<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week2B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						St. Bonaventure at Syracuse
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic PLUS<br />
						FOX Sports Arizona<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Florida<br />
						FOX Sports South<br />
						MSG Plus 2<br />
						NESNplus<br />
						SportsTime Ohio<br />
						ROOT Sports Northwest<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week2C">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Jacksonville at Florida St.
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic PLUS<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Florida<br />
						FOX Sports South<br />
						MSG Plus 2<br />
						NESNplus<br />
						SportsTime Ohio<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week2D">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Wofford at North Carolina
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports Arizona<br />
						FOX Sports Detroit<br />
						FOX Sports North PLUS<br />
						FOX Sports South<br />
						FOX Sports Southwest<sup>+</sup><br />
						FOX Sports Sun<br />
						FOX Sports West<br />
						FOX Sports Wisconsin<br />
						MSG Plus<br />
						NESN<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
						SportsTime Ohio<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week2E">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						McNeese St. at Oklahoma
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Florida<br />
						FOX Sports Midwest PLUS<sup>+</sup><br />
						FOX Sports Oklahoma PLUS<br />
						FOX Sports Southeast<br />
						MASN2<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week2F">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Brown at Providence
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Ocean State Networks-Cox RI<br />
						FOX Sports Arizona PLUS<br />
						FOX Sports South<br />
						FOX Sports West<br />
						MASN2<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week2G">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Mount St. Mary's at Gonzaga
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
						ROOT Sports Southwest alternate<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	@Html.Partial("Google/GooglePartialAd")
</div>
