<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball201415week2A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Winthrop at Clemson
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida/Sun Sports<sup>+</sup><br />
                        FOX Sports North PLUS<br />
						FOX Sports Midwest PLUS<sup>+</sup><br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        MSG Plus<br />
                        NESN<br />
                        Prime Ticket<br />
                        ROOT Sports Pittsburgh<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week2B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Washington St. at TCU
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona PLUS<br />
						FOX Sports Detroit PLUS (JIP)<br />
						FOX Sports Midwest PLUS<sup>+</sup><br />
                        FOX Sports North<br />
                        FOX Sports Southwest PLUS<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        MASN2<br />
                        MSG2<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Rocky Mountain<br />
                        SportSouth<sup>+</sup><br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week2C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        South Carolina St. at Virginia
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic<br />
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida<br />
                        FOX Sports North<br />
						FOX Sports Midwest PLUS<sup>+</sup><br />
                        FOX Sports South<sup>+</sup><br />
                        FOX Sports Southwest<sup>+</sup><br />
                        FOX Sports West<br />
						NESNplus<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Rocky Mountain<br />
                        SportsTime Ohio<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week2D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Texas Southern at Tennessee
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Florida/Sun Sports<sup>+</sup><br />
						FOX Sports Midwest PLUS<sup>+</sup><br />
						FOX Sports Southwest PLUS<br />
                        SportSouth<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week2E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Jacksonville at NC State
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic<br />
                        FOX Sports Florida<br />
                        FOX Sports North PLUS<br />
						FOX Sports Midwest PLUS<sup>+</sup><br />
                        FOX Sports Ohio<br />
                        FOX Sports South<br />
                        FOX Sports West<br />
                        MSG<br />
                        NESN<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week2F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Lipscomb at Vanderbilt
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Florida/Sun Sports<sup>+</sup><br />
						FOX Sports Midwest PLUS<sup>+</sup><br />
                        FOX Sports North PLUS<br />
                        FOX Sports Ohio<br />
						FOX Sports Southwest PLUS<br />
                        SportSouth<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week2G">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Boston U. at Kentucky
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona PLUS<br />
						FOX Sports Midwest PLUS<sup>+</sup><br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        Sun Sports<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week2H">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        UL-Lafayette at Auburn
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
						FOX Sports Midwest PLUS<sup>+</sup><br />
                        FOX Sports South<br />
                        Sun Sports<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week2I">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Kansas St. at Long Beach St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX College Sports Atlantic<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Midwest<br />
                        FOX Sports Ohio (JIP)<br />
                        FOX Sports San Diego<br />
                        FOX Sports South (JIP)<br />
                        MASN2<br />
                        Prime Ticket<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week2J">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Missouri St. at Texas Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX College Sports Pacific<br />
						FOX Sports Midwest PLUS<sup>+</sup><br />
                        FOX Sports San Diego<br />
                        FOX Sports Southwest PLUS<br />
                        Prime Ticket<br />
                        SportSouth<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week2K">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Northwestern St. at Oklahoma
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Detroit PLUS<br />
						FOX Sports Midwest PLUS<sup>+</sup><br />
                        FOX Sports Oklahoma<br />
                        FOX Sports San Diego<br />
                        MSG Plus<br />
                        Prime Ticket<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Rocky Mountain<br />
                        Sun Sports<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week2L">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        FAU at Georgia
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Florida<br />
						FOX Sports Midwest PLUS<sup>+</sup><br />
                        FOX Sports North<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        FOX Sports Wisconsin<br />
                        SportsTime Ohio<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week2M">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Tennessee St. at Vanderbilt
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Florida<br />
						FOX Sports Midwest PLUS<sup>+</sup><br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        FOX Sports Wisconsin<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week2N">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Richmond at Old Dominion
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude<br />
                        Comcast SportsNet Chicago PLUS<br />
                        Cox Sports TV-Louisiana<br />
                        MASN<br />
						and <a href="http://www.odusports.com/fls/31100/pdfs/mbb/11_18_Richmond_ODU.pdf" target="_blank">local stations</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week2O">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Northern Colorado at New Mexico St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude2<br />
                        FOX College Sports Pacific<br />
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Southwest PLUS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week2P">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Presbyterian at Louisiana Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude<br />
                        Cox Sports TV-Louisiana<br />
                        MASN<br />
                        ROOT Sports Southwest<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201415week2Q">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Morehead St. at Louisiana Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude2<br />
                        Comcast SportsNet Chicago PLUS<br />
                        MASN<br />
                        ROOT Sports Southwest<br />
						and <a href="http://www.msueagles.com/custompages/MBB/2014-15/MBB-vs-LTU_112114.pdf" target="_blank">local stations</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
