<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="basketball201516week8A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Delaware St. at TCU
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Detroit PLUS<br />
						FOX Sports Florida/Sun PLUS<br />
						FOX Sports Midwest PLUS<br />
						FOX Sports South<br />
						FOX Sports Southwest<sup>+</sup><br />
						MASN2<br />
						MSG Plus<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<sup>+</sup><br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week8B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Stephen F. Austin at UAB
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude<br />
						CSN California<br />
						CSN Chicago<br />
						CST<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week8C">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Richmond at Texas Tech
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Arizona<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest PLUS<br />
						FOX Sports North<br />
						FOX Sports Ohio<br />
						FOX Sports San Diego<br />
						FOX Sports South<br />
						FOX Sports Southwest PLUS<br />
						FOX Sports Sun<br />
						MASN2<br />
						Prime Ticket<br />
						ROOT Sports Rocky Mountain<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week8D">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Northeastern at NC State
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports North<br />
						FOX Sports South<br />
						NESNplus<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week8E">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Long Beach St. at Duke
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports Arizona<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest<br />
						FOX Sports North<br />
						FOX Sports San Diego<br />
						FOX Sports South<br />
						FOX Sports Southwest<br />
						FOX Sports Sun<br />
						FOX Sports Wisconsin<br />
						NESN<br />
						Prime Ticket<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week8F">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Gonzaga at Santa Clara
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN California<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
						Time Warner SportsNet<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week8G">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						North Texas at UTSA
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude<br />
						CSN California<br />
						CSN Chicago PLUS<br />
						CST<br />
						MASN<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week8H">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Rice at UTEP
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN California<br />
						CSN Chicago PLUS<br />
						CST<br />
						MASN<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week8I">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Florida St. at Clemson
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic PLUS<br />
						FOX Sports Arizona<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports North PLUS<br />
						FOX Sports Midwest<br />
						FOX Sports San Diego<br />
						FOX Sports South<br />
						FOX Sports Southwest<br />
						FOX Sports Sun<br />
						MSG Plus<br />
						NESN<br />
						Prime Ticket<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
						SportsTime Ohio<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week8J">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						James Madison at Delaware
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Northwest<br />
						CSN Mid Atlantic<br />
						CSN Philadelphia<br />
						SNY<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week8K">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						NC State at Virginia Tech
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest PLUS<br />
						FOX Sports North<br />
						FOX Sports San Diego<br />
						FOX Sports South<br />
						FOX Sports Southwest PLUS<br />
						FOX Sports Sun<br />
						FOX Sports Wisconsin<br />
						MSG Plus<br />
						NESN<br />
						Prime Ticket<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
						SportsTime Ohio<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week8L">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Duke at Boston College
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest PLUS<br />
						FOX Sports North<br />
						FOX Sports San Diego<br />
						FOX Sports South<br />
						FOX Sports Southwest<br />
						FOX Sports Sun<br />
						FOX Sports Wisconsin<br />
						MSG Plus<br />
						NESN<br />
						Prime Ticket<br />
						ROOT Sports Pittsburgh<br />
						SportsTime Ohio<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week8M">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Portland at Santa Clara
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Bay Area<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
						Time Warner SportsNet<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week8N">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						UIC at Valparaiso
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude<br />
						CSN Chicago<br />
						CSN Northwest<br />
						CST<br />
						MASN2<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week8O">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Drexel at Elon
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude<br />
						Comcast Network Philadelphia<br />
						CSN California<br />
						CSN Chicago PLUS<br />
						CST<br />
						NESNplus<br />
						SNY<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week8P">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Northeastern at UNC Wilmington
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Chicago PLUS<br />
						CSN Mid Atlantic PLUS<br />
						CST<br />
						NESNplus<br />
						SNY<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week8Q">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Davidson at St. Bonaventure
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Chicago<br />
						CSN Mid Atlantic PLUS<br />
						CSN Northwest<br />
						CST<br />
						NESNplus<br />
						SNY<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week8R">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						FAU at FIU
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Detroit PLUS<br />
						FOX Sports Florida<br />
						FOX Sports Midwest<br />
						FOX Sports North<br />
						FOX Sports Ohio<br />
						FOX Sports Southwest PLUS<br />
						FOX Sports West<br />
						FOX Sports Wisconsin<br />
						MASN2<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week8S">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Middle Tennessee at UAB
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude<br />
						CSN Chicago PLUS<br />
						CST<br />
						MASN<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week8T">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						North Texas at UTEP
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude<br />
						CSN Chicago PLUS<br />
						CST<br />
						MASN<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week8U">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Western Kentucky at Marshall
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN California<br />
						CSN Chicago<br />
						CST<br />
						MASN<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	@Html.Partial("Google/GooglePartialAd")
</div>
