<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="basketball201516week6A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						St. Martin's at Gonzaga
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN California<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<sup>+</sup><br />
						ROOT Sports Southwest alternate<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week6B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Old Dominion at Richmond
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude<br />
						Comcast Network Philadelphia<br />
						CSN California<br />
						CSN Chicago PLUS<br />
						MASN<br />
						NESNplus<br />
						SNY<br />
                        and <a href="http://americansportsnet.com/schedule/" target="_blank">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week6C">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Baylor vs. Hardin-Simmons
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest PLUS<br />
						FOX Sports Ohio<br />
						FOX Sports Southwest (or PLUS)<sup>+</sup><br />
						FOX Sports West<br />
						FOX Sports Wisconsin<br />
						MSG Plus<br />
						MASN2<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<sup>+</sup><br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week6D">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						South Dakota St. at Texas Tech
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX College Sports Central<br />
						FOX Sports North PLUS<br />
						FOX Sports South<br />
						FOX Sports Southwest (or PLUS)<sup>+</sup><br />
						SportsTime Ohio<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week6E">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						UNC Asheville at Georgetown
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Cox RI-Ocean State Networks<br />
						FOX Sports Arizona<br />
						FOX Sports Detroit<br />
						FOX Sports Florida<br />
						FOX Sports Midwest<br />
						FOX Sports North<br />
						FOX Sports Ohio<br />
						FOX Sports Southeast<br />
						FOX Sports Southwest PLUS<br />
						FOX Sports West<br />
						FOX Sports Wisconsin<br />
						MASN2<br />
						MSG<br />
						ROOT Sports Rocky Mountain<br />
						WMEU / WCIU-DT2 - Chicago<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week6F">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Cornell at Syracuse
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest PLUS<br />
						FOX Sports North PLUS<br />
						FOX Sports San Diego<br />
						FOX Sports South<br />
						FOX Sports Sun<br />
						NESNplus<br />
						Prime Ticket<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week6G">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						College of Charleston at Miami (FL)
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports Arizona<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports North PLUS<br />
						FOX Sports San Diego<br />
						FOX Sports South<br />
						FOX Sports Sun<br />
						NESNplus<br />
						Prime Ticket<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week6H">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						FAU vs. Florida St.
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Arizona<br />
						FOX Sports Detroit<br />
						FOX Sports Florida<br />
						FOX Sports Midwest PLUS (JIP)<br />
						FOX Sports North<br />
						FOX Sports Southeast<br />
						FOX Sports Southwest PLUS<sup>+</sup><br />
						FOX Sports San Diego<br />
						FOX Sports Wisconsin<br />
						MASN2<br />
						Prime Ticket<br />
						ROOT Sports Northwest<br />
						SportsTime Ohio<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week6I">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Georgia St. at Southern Miss
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude<br />
						CSN Chicago<br />
						CST<br />
						MASN<br />
						NESNplus<br />
                        and <a href="http://americansportsnet.com/schedule/" target="_blank">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week6J">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						UAPB at Texas Tech
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX College Sports Atlantic<br />
						FOX Sports North PLUS<br />
						FOX Sports South<br />
						FOX Sports Southwest PLUS<sup>+</sup><br />
						FOX Sports West<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week6K">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Rider at Providence
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Cox RI-Ocean State Networks<br />
						FOX Sports Arizona PLUS<br />
						FOX Sports Detroit<br />
						FOX Sports Midwest PLUS<br />
						FOX Sports North PLUS<br />
						FOX Sports Southeast<br />
						FOX Sports Sun<br />
						MASN2<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week6L">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Abilene Christian at TCU
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX College Sports Atlantic<br />
						FOX Sports San Diego<br />
						FOX Sports Southeast<br />
						Prime Ticket<br />
						SportsTime Ohio<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week6M">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Southern at Memphis
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
					    CSN Chicago PLUS<br />
                        CST<br/>
						MASN<br />
						NESNplus<br />
                        and <a href="http://americansportsnet.com/schedule/" target="_blank">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week6N">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						UAB at USF
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Chicago PLUS<br />
						CST<br />
						MASN<br />
						NESNplus<br />
                        and <a href="http://americansportsnet.com/schedule/" target="_blank">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week6O">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Illinois St. at UIC
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Chicago PLUS<br />
						CST<br />
						NESNplus<br />
                        and <a href="http://americansportsnet.com/schedule/" target="_blank">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>
