<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball201213week11A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Harvard at Memphis
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Cincinnati<br>
                        FOX Sports Detroit<br>
                        FOX Sports Florida<br />
                        FOX Sports Midwest<br>
                        FOX Sports North PLUS<br>
                        FOX Sports Ohio<br>
                        FOX Sports San Diego<br />
                        SportSouth<br>
                        FOX Sports Southwest PLUS<br>
                        Prime Ticket<br>
                        FOX Sports Wisconsin PLUS<br>
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        MSG PLUS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201213week11B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Arizona at Arizona St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Cincinnati<br>
                        FOX Sports Detroit<br>
                        FOX Sports Florida<br />
                        FOX Sports Midwest<br>
                        FOX Sports North PLUS<br>
                        FOX Sports Ohio<br>
                        FOX Sports San Diego<br />
                        SportSouth<br>
                        Prime Ticket<br>
                        FOX Sports Wisconsin<br>
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        MSG PLUS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201213week11C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        California at Stanford
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Cincinnati<br>
                        FOX Sports Detroit<br>
                        FOX Sports Florida<br />
                        FOX Sports Midwest<br>
                        FOX Sports Ohio<br>
                        FOX Sports San Diego<br />
                        SportSouth<br>
                        FOX Sports Southwest PLUS (JIP)<br>
                        Prime Ticket<br>
                        FOX Sports Wisconsin<br>
                        ROOT Sports Northwest<br />
                        ROOT Sports Rocky Mountain<br />
                        MSG PLUS<br />
                        KICU (San Francisco/Oakland)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201213week11D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Miami (FL) at Boston College
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br>
                        SUN Sports<br />
                        FOX Sports North PLUS<br>
                        FOX Sports San Diego<br />
                        FOX Sports South<br>
                        Prime Ticket<br>
                        FOX Sports Wisconsin<br>
                        Comcast SportsNet Mid Atlantic<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201213week11E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Texas A&amp;M at Alabama
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Florida/SUN Sports<sup>+</sup><br />
                        FOX Sports North PLUS<br />
                        FOX Sports South<sup>+</sup><br>
                        FOX Sports Southwest<sup>+</sup><br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
