<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball200506week16A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Southern Miss at Memphis
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br/>
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit<br />
                        Sun Sports<br/>
                        FOX Sports North PLUS<br />
                        FOX Sports Midwest<br />
                        FOX Sports Ohio<br />
                        FOX Sports San Diego<br />
                        SportSouth<br />
                        FOX Sports Southwest PLUS<br />
                        Prime Ticket<br />
                        FOX Sports Wisconsin PLUS<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        MSG<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week16B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Washington St. at Arizona
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona PLUS<br/>
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br/>
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports San Diego<br />
                        SportSouth<br />
                        FOX Sports Southwest PLUS<br />
                        Prime Ticket<br />
                        FOX Sports Wisconsin<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Rocky Mountain<br />
                        MSG PLUS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week16C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        UCLA at USC
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br/>
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida<br/>
                        FOX Sports Midwest<br />
                        FOX Sports North PLUS<br />
                        FOX Sports Ohio<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        Prime Ticket<br />
                        FOX Sports Wisconsin<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        MSG<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week16D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Auburn at Ole Miss
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Detroit<br />
                        Sun Sports<br/>
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        Prime Ticket<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball200506week16E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Old Dominion at Hofstra
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast Network Philadelphia<br />
                        Comcast SportsNet California<br />
                        Comcast SportsNet Houston<br />
                        Comcast SportsNet Mid Atlantic<br />
                        Comcast SportsNet Northwest<br />
                        CSS<br/>
                        SNY<br/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
