<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="football2013week2A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Southeastern Louisiana at TCU
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports San Diego<br />
                        FOX Sports Southwest<br />
                        FOX Sports Wisconsin<br />
                        MASN2<br />
                        Prime Ticket<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Rocky Mountain<br />
                        SportsTime Ohio<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2013week2B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Buffalo at Baylor
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX College Sports Atlantic<br />
                        FOX Sports Arizona<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports San Diego<br />
                        FOX Sports Southwest<br />
                        FOX Sports Wisconsin PLUS<br />
                        MASN2<br />
                        MSG PLUS (JIP)<br />
                        Prime Ticket<br />
                        SportSouth<br />
                        Sun Sports<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2013week2C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Stephen F. Austin at Texas Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX College Sports Central<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports North PLUS<br />
                        FOX Sports Southwest PLUS<sup>+</sup><br />
                        FOX Sports Wisconsin<br />
                        MASN2<br />
                        MSG PLUS<br />
                        Prime Ticket<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2013week2D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Miami (OH) at Kentucky
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Midwest PLUS<sup>+</sup><br />
                        FOX Sports Ohio<br />
                        FOX Sports Southwest PLUS<br />
                        SportSouth<br />
                        Sun Sports<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2013week2E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        South Carolina St. at Clemson
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic<br />
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest PLUS<sup>+</sup><br />
                        FOX Sports North PLUS<br />
                        FOX Sports South<br />
                        FOX Sports West<br />
                        MSG PLUS<br />
                        NESN<br />
                        ROOT Sports Pittsburgh<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2013week2F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Arkansas St. at Auburn
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Florida<br />
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports South/SportSouth<sup>+</sup><br />
                        FOX Sports Southwest PLUS<sup>+</sup><br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2013week2G">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Austin Peay at Vanderbilt
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bright House Sports Network<br />
                        Comcast SportsNet California<br />
                        Comcast SportsNet Chicago<br />
                        Comcast SportsNet Houston PLUS<br />
                        Comcast SportsNet Mid Atlantic<br />
                        Comcast Network Philadelphia<br />
                        CST<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2013week2H">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Alcorn St. at Mississippi St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bright House Sports Network<br />
                        Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Houston PLUS<br />
                        Comcast SportsNet Mid Atlantic<br />
                        Comcast Network Philadelphia<br />
                        CST<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2013week2I">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Houston at Temple
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude<br />
                        Bright House Sports Network<br />
                        CST<br />
                        MASN<br />
                        SNY<br />
                        And <a href="http://theamerican.org/documents/2013/7/26/GOW_Clearances.pdf">local stations</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
