<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="football2014week11A">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        UTSA at Rice
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX College Sports Pacific<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
						FOX Sports Florida<sup>+</sup><br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
						FOX Sports Wisconsin PLUS<br />
                        MASN2<br />
                        MSG Plus<br />
                        SportSouth<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2014week11B">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Duke at Syracuse
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic<br />
                        FOX Sports Carolinas<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports North PLUS<br />
                        FOX Sports South<br />
                        FOX Sports Southwest PLUS<br />
                        MSG<br />
                        NESN<br />
                        ROOT Sports Pittsburgh<br />
                        SportsTime Ohio<br />
                        Sun Sports<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2014week11C">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Iowa St. at Kansas
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX College Sports Pacific<br />
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Detroit<br />
						FOX Sports Florida/Sun Sports<sup>+</sup><br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<sup>+</sup><br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
						FOX Sports Wisconsin PLUS<br />
						KFXA - Cedar Falls/Iowa City<br />
                        MASN2<br />
                        MSG Plus<br />
                        SportSouth<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2014week11D">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Elon at William &amp; Mary
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast Network Philadelphia<br />
                        Comcast SportsNet Bay Area<br />
                        Comcast SportsNet Houston<br />
                        Comcast SportsNet Mid Atlantic PLUS<br />
                        SNY<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2014week11E">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Idaho at San Diego St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX College Sports Pacific<br />
                        FOX Sports San Diego<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Rocky Mountain<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2014week11F">
		@Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        UL-Lafayette at New Mexico St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude2<br />
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Southwest PLUS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
