<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="football2014week13A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        UTSA at Western Kentucky
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
						FOX Sports South/SportSouth<sup>+</sup><br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        MASN2<br />
                        MSG Plus<br />
                        ROOT Sports Pittsburgh<br />
                        Sun Sports<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2014week13B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        South Alabama at South Carolina
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest PLUS<br />
                        Prime Ticket<br />
                        SportsTime Ohio<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2014week13C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Elon at James Madison
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Altitude<br />
                        Comcast SportsNet California<br />
                        Comcast SportsNet Mid Atlantic<br />
						CST<br />
                        NESNplus<br />
                        SNY<br />
						and <a href="http://caasports.com/documents/2014/11/20/TVClearances_1117_1123.pdf" target="_blank">local stations</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2014week13D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Texas Tech at Iowa St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX College Sports Pacific<br />
                        FOX Sports Detroit PLUS<br />
						FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports North<br />
						FOX Sports Ohio<sup>+</sup><br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
						KFXA-Cedar Rapids<br />
                        MASN2<br />
                        SportSouth<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2014week13E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Georgia St. at Clemson
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Comcast SportsNet Mid Atlantic<br />
                        FOX Sports Florida PLUS<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        NESNplus<br />
                        Prime Ticket<br />
                        ROOT Sports Pittsburgh<br />
                        SportsTime Ohio<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
	<div id="football2014week13F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Eastern Washington at Portland St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Audience Network-DirectTV<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
						ROOT Sports Southwest<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
	<div id="football2014week13G">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        New Mexico at Colorado St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
						ROOT Sports Southwest<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
