<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball202122week11A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Boston College at Louisville
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Detroit<br />
                        Bally Sports Florida/Sun<sup>+</sup><br />
                        Bally Sports Great Lakes<br />
                        Bally Sports Midwest PLUS<sup>+</sup><br />
                        Bally Sports North PLUS<br />
                        Bally Sports South<br />
                        Bally Sports Southwest (or PLUS)<sup>+</sup><br />
                        Bally Sports West<br />
                        Bally Sports Wisconsin PLUS<br />
                        Marquee Sports Network<br />
                        MASN<br />
                        NESN<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202122week11C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Pepperdine at Loyola Marymount
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Rocky Mountain<sup>+</sup><br />
                        AT&amp;T SportsNet Southwest<br />
                        Bally Sports Arizona<br />
                        Bally Sports North<br />
						Bally Sports Southeast<br />
                        Bally Sports Southwest<br />
                        Bally Sports Sun<br />  
                        Bally Sports Wisconsin<br />
                        ROOT Sports PLUS<br />
                        Stadium College Sports Pacific<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202122week11D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Virginia Tech at Boston College
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Arizona<br />
                        Bally Sports Detroit<br />
                        Bally Sports Florida<br />
                        Bally Sports Great Lakes<br />
                        Bally Sports Midwest<br />
                        Bally Sports San Diego<br />
                        Bally Sports SoCal<br />
                        Bally Sports South<br />
                        Bally Sports Southwest<br />
                        Bally Sports Wisconsin PLUS<br />
						Marquee Sports Network<br />
                        MASN<br />
                        NESN+<br />
						YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202122week11E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        San Francisco at Pepperdine
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Florida<br />
                        Bally Sports North PLUS<br />
                        Bally Sports San Diego<br />
                        Bally Sports Southeast<br />
                        Bally Sports Southwest PLUS<br />
                        NBC Sports California<br />
                        ROOT Sports<br />
                        Stadium College Sports Atlantic<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
