<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
    </div>
    <div id="basketball202122week1A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Lafayette at Syracuse
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Arizona<br />
                        Bally Sports Florida<br />
                        Bally Sports Great Lakes<br />
                        Bally Sports Midwest PLUS<sup>+</sup><br />
                        Bally Sports North PLUS<br />
                        Bally Sports South/Southeast<sup>+</sup><br />
                        Bally Sports Southwest (or PLUS)<sup>+</sup><br />
                        Bally Sports Wisconsin PLUS<br />
                        MASN<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202122week1B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Northwestern State at Oklahoma
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Arizona PLUS<br />
                        Bally Sports Detroit PLUS<br />
                        Bally Sports Florida/Sun<sup>+</sup><br />
                        Bally Sports Midwest PLUS<br />
                        Bally Sports Ohio<br />
                        Bally Sports Southwest PLUS<br />
                        MASN2<br />
                        MSG Plus<br />
                        Stadium College Sports Central<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202122week1C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Southern at Louisville
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Florida<br />
                        Bally Sports Great Lakes<br />
                        Bally Sports Midwest PLUS<sup>+</sup><br />
                        Bally Sports North PLUS<br />
                        Bally Sports South/Southeast<sup>+</sup><br />
                        Bally Sports Southwest (or PLUS)<sup>+</sup><br />
                        Bally Sports Wisconsin PLUS<br />
                        MASN<br />
                        Marquee Sports Network<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202122week1D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        UTSA at Oklahoma
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Arizona PLUS<br />
                        Bally Sports Detroit PLUS<br />
                        Bally Sports Florida<br />
                        Bally Sports Midwest PLUS<br />
                        Bally Sports North PLUS<br />
                        Bally Sports South<br />
                        Bally Sports Southwest PLUS<br />
                        Bally Sports West<br />
                        Bally Sports Wisconsin PLUS<br />
                        MASN2<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
