<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball202122week14A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Georgia Tech at Miami (FL)
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Detroit PLUS<br />
                        Bally Sports Great Lakes<br />
                        Bally Sports Midwest PLUS<br />
                        Bally Sports North<br />
                        Bally Sports San Diego<br />
                        Bally Sports SoCal<br />
                        Bally Sports South<br />
                        Bally Sports Southwest (or PLUS)<sup>+</sup><br />
                        Bally Sports Sun<br />
                        Bally Sports Wisconsin<br />
                        MASN<br />
                        NESN+<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202122week14B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        San Diego at Saint Mary's
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Rocky Mountain<br />
                        AT&amp;T SportsNet Southwest PLUS<br />
                        Bally Sports Arizona<br />
                        Bally Sports North PLUS<br />
                        Bally Sports Southwest PLUS<br />
                        Bally Sports Wisconsin<br />
                        Bally Sports West<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202122week14C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Pepperdine at San Francisco
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T Sports Rocky Mountain<br />
                        AT&amp;T Sports Southwest PLUS<br />
                        Bally Sports Arizona<br />
                        Bally Sports Florida<br />
                        Bally Sports Midwest PLUS<br />
                        Bally Sports North PLUS<br />
                        Bally Sports Ohio<br />
                        Bally Sports Southeast<br />
                        Bally Sports Southwest<br />
                        Bally Sports West<br />
                        Bally Sports Wisconsin<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202122week14D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Miami (FL) at Wake Forest
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Arizona<br />
                        Bally Sports Detroit PLUS<br />
                        Bally Sports Great Lakes<br />
                        Bally Sports Midwest PLUS<br />
                        Bally Sports North PLUS<br />
                        Bally Sports SoCal<br />
                        Bally Sports South<br />
                        Bally Sports Southwest<sup>+</sup><br />
                        Bally Sports Sun<br />
                        Bally Sports Wisconsin<br />
                        Marquee Sports Network<br />
                        MASN<br />
                        NESN+<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202122week14E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Loyola Marymount at Portland
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        AT&amp;T SportsNet Rocky Mountain<br />
                        AT&amp;T SportsNet Southwest<br />
                        Bally Sports Florida/Sun<sup>+</sup><br />
                        Bally Sports Southeast<br />
                        Bally Sports Southwest PLUS<br />
                        Bally Sports West<br />
                        NBC Sports California<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
