<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball202122week12A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Boston College at North Carolina
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Detroit<br />
                        Bally Sports Florida<sup>+</sup><br />
                        Bally Sports Great Lakes<br />
                        Bally Sports North<br />
                        Bally Sports South<br />
                        Bally Sports Southwest<br />
                        Bally Sports Wisconsin PLUS<br />
						Marquee Sports Network<br />
                        MASN<br />
                        NESN<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202122week12B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        NC State at Notre Dame
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Detroit<br />
                        Bally Sports Florida<sup>+</sup><br />
                        Bally Sports Great Lakes<br />
                        Bally Sports North<br />
                        Bally Sports South<br />
                        Bally Sports Southwest PLUS<br />
                        Bally Sports Wisconsin PLUS<br />
						Marquee Sports Network<br />
                        MASN<br />
                        NESN<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202122week12C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Miami (FL) at Georgia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Arizona<br />
                        Bally Sports Detroit<br />
                        Bally Sports Florida<br />
                        Bally Sports Great Lakes<br />
                        Bally Sports Midwest<br />
                        Bally Sports North PLUS<br />
                        Bally Sports South<br />
                        Bally Sports Southwest<br />
                        Bally Sports Wisconsin PLUS<br />
                        MASN<br />
                        NESN<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202122week12D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Portland at Gonzaga
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        AT&amp;T SportsNet Southwest<br />
                        Bally Sports San Diego<br />
                        Bally Sports SoCal<br />
                        NBC Sports California<br />
                        ROOT Sports<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
