<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball202122week15A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Clemson at Florida State
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Arizona<br />
                        Bally Sports Detroit PLUS<br />
                        Bally Sports Florida<br />
                        Bally Sports Great Lakes<br />
                        Bally Sports North PLUS<br />
                        Bally Sports San Diego<br />
                        Bally Sports SoCal<br />
                        Bally Sports South<br />
                        Bally Sports Southwest PLUS<br />
                        Bally Sports Wisconsin PLUS<br />
                        Marquee Sports Network<br />
                        MASN<br />
                        NESN+<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202122week15C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Miami (FL) at Louisville
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Detroit PLUS<br />
                        Bally Sports Great Lakes<br />
                        Bally Sports South<br />
                        Bally Sports Southwest (or PLUS)<sup>+</sup><br />
                        Bally Sports Sun<br />
                        Bally Sports West<br />
                        Bally Sports Wisconsin PLUS<br />
                        Marquee Sports Network<br />
                        MASN<br />
                        NESN<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202122week15E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Notre Dame at Wake Forest
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Arizona<br />
                        Bally Sports Detroit<br />
                        Bally Sports Florida<br />
                        Bally Sports Midwest PLUS<br />
                        Bally Sports Great Lakes<br />
                        Bally Sports North PLUS<br />
                        Bally Sports San Diego<br />
                        Bally Sports SoCal<br />
                        Bally Sports South<br />
                        Bally Sports Southwest<br />
                        Bally Sports Wisconsin<br />
                        Marquee Sports Network<br />
                        MASN<br />
                        NESN+<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball202122week15F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Clemson at Louisville
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        Bally Sports Arizona PLUS<br />
                        Bally Sports Detroit<br />
                        Bally Sports Florida<br />
                        Bally Sports Great Lakes<br />
                        Bally Sports Midwest PLUS<br />
                        Bally Sports North PLUS<br />
                        Bally Sports San Diego<br />
                        Bally Sports SoCal<br />
                        Bally Sports South<br />
                        Bally Sports Southwest<br />
                        Bally Sports Wisconsin<br />
                        Marquee Sports Network<br />
                        MASN<br />
                        NESN+<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
