<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="football2017week2A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Charlotte at Kansas St.
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
                        AT&amp;T SportsNet Rocky Mountain<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports Southeast<br />
                        FOX Sports Southwest<br />
                        FOX Sports Sun<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        MASN2<br />
                        MSG Plus<br />
                        ROOT Sports Northwest<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
    <div id="football2017week2B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Jacksonville St. at Georgia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        CSN Mid Atlantic<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest PLUS<sup>+</sup><br />
                        FOX Sports North PLUS<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest PLUS<br />
                        FOX Sports Wisconsin PLUS<br />
                        NESN<br />
                        Prime Ticket<br />
                        SportsTime Ohio<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2017week2C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Central Michigan at Kansas
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Midwest or PLUS<sup>+</sup><br />
                        FOX Sports North PLUS<br />
                        FOX Sports Ohio<sup>+</sup><br />
                        FOX Sports South/Southeast<sup>+</sup><br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin PLUS<br />
                        MASN2<br />
                        MSG<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="football2017week2D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        UTSA at Baylor
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Detroit<br />
                        FOX Sports Midwest or PLUS<sup>+</sup><br />
                        FOX Sports North PLUS<br />
                        FOX Sports Ohio<sup>+</sup><br />
                        FOX Sports South/Southeast<sup>+</sup><br />
                        FOX Sports Southwest<br />
                        FOX Sports West/Prime Ticket<sup>+</sup><br />
                        FOX Sports Wisconsin<br />
                        MASN2<br />
                        MSG<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
	@Html.Partial("Google/GooglePartialAd")
</div>
