<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball201718week9A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Clemson at Boston College
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        AT&amp;T SportsNet Rocky Mountain<sup>+</sup><br />
                        FOX Sports Florida/Sun<sup>+</sup><br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest or PLUS<sup>+</sup><br />
                        FOX Sports Wisconsin PLUS<br />
                        NBC Sports Washington PLUS<br />
                        NESN<br />
                        Prime Ticket<br />
                        ROOT Sports<br />
                        SportsTime Ohio<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201718week9B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Miami (FL) at Georgia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        AT&amp;T SportsNet Rocky Mountain<sup>+</sup><br />
                        FOX Sports Florida/Sun<sup>+</sup><br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest or PLUS<sup>+</sup><br />
                        FOX Sports Wisconsin PLUS<br />
                        NBC Sports Washington PLUS<br />
                        NESN<br />
                        Prime Ticket<br />
                        ROOT Sports<br />
                        SportsTime Ohio<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201718week9C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Creighton at Georgetown
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        AT&amp;T SportsNet Rocky Mountain<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest or PLUS<sup>+</sup><br />
                        FOX Sports North PLUS<br />
                        FOX Sports Ohio<br />
                        FOX Sports Southeast<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin PLUS<br />
                        MASN2<br />
                        ROOT Sports<br />
                        WMEU-CD / WCIU-DT2 - Chicago<br />
                        YES<br />
                        YurView - New England<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201718week9D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        DePaul at St. John's
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest or PLUS<sup>+</sup><br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports Southeast<br />
                        FOX Sports Southwest PLUS<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        MASN2<br />
                        WMEU-CD / WCIU-DT2 - Chicago<br />
                        YES<br />
                        YurView - New England<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201718week9E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Wake Forest at Boston College
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        FOX Sports Arizona<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports North<br />
                        FOX Sports South<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        NBC Sports Washington<br />
                        NESN<br />
                        SportsTime Ohio<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201718week9F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        San Francisco at Pepperdine
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Rocky Mountain<br />
                        NBC Sports California<br />
                        ROOT Sports<br />
                        Spectrum SportsNet<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
