<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="basketball201718week14A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
                    <th class="FSNrow">
                        Virginia at Florida St.
                    </th>
				</tr>
				<tr>
					<td class="FSNrow">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201718week14B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
                    <th class="FSNrow">
                        NC State at Virginia Tech
                    </th>
				</tr>
				<tr>
					<td class="FSNrow">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201718week14C">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
                    <th class="FSNrow">
                        Pittsburgh at Clemson
                    </th>
				</tr>
				<tr>
					<td class="FSNrow">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201718week14D">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
                    <th class="FSNrow">
                        Gonzaga at Pacific
                    </th>
				</tr>
				<tr>
					<td class="FSNrow">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201718week14E">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
                    <th class="FSNrow">
                        Marquette at St. John's
                    </th>
				</tr>
				<tr>
					<td class="FSNrow">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201718week14F">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
                    <th class="FSNrow">
                        Miami (FL) at Boston College
                    </th>
				</tr>
				<tr>
					<td class="FSNrow">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201718week14G">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
                    <th class="FSNrow">
                        DePaul at Providence
                    </th>
				</tr>
				<tr>
					<td class="FSNrow">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201718week14H">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
                    <th class="FSNrow">
                        San Francisco at BYU
                    </th>
				</tr>
				<tr>
					<td class="FSNrow">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	@Html.Partial("Google/GooglePartialAd")
</div>
