<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball201718week8A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Providence at St. John's
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        AT&amp;T SportsNet Rocky Mountain<br />
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports North PLUS<br />
                        FOX Sports Ohio<br />
                        FOX Sports South<br />
                        FOX Sports Southwest or PLUS<sup>+</sup><br />
                        FOX Sports Sun<sup>+</sup><br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin PLUS<br />
                        MASN2<br />
                        ROOT Sports Northwest<br />
                        YES<br />
                        YurView - New England<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201718week8B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Boston College at Virginia
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Rocky Mountain<br />
                        AT&amp;T SportsNet Pittsburgh<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        FOX Sports Wisconsin<br />
                        NBC Sports Washington<br />
                        NESN<br />
                        Prime Ticket<br />
                        ROOT Sports<br />
                        SportsTime Ohio<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201718week8C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        NC State at Clemson
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh PLUS<sup>+</sup><br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports North<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        FOX Sports Wisconsin<br />
                        NBC Sports Washington PLUS<br />
                        NESN<br />
                        Prime Ticket<br />
                        SportsTime Ohio<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201718week8D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Santa Clara at Gonzaga
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Rocky Mountain<br />
                        AT&amp;T SportsNet Southwest<br />
                        NBC Sports California<br />
                        ROOT Sports<br />
                        Spectrum SportsNet<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201718week8E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        San Francisco at Portland
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Rocky Mountain<br />
                        AT&amp;T SportsNet Southwest<br />
                        NBC Sports California<br />
                        Spectrum SportsNet<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
