<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="basketball201617week4A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Northern Colorado at Oklahoma
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Arizona PLUS<br />
						FOX Sports Midwest<br />
						FOX Sports North PLUS<br />
						FOX Sports Southeast<br />
						FOX Sports Southwest<sup>+</sup><br />
						FOX Sports Sun<br />
						MASN2<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<sup>+</sup><br />
						SportsTime Ohio<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week4B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Coppin St. at Georgetown
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Cox RI - Ocean State Networks<br />
						FOX Sports Arizona PLUS<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Florida<br />
						FOX Sports Midwest<br />
						FOX Sports North PLUS<br />
						FOX Sports Ohio<br />
						FOX Sports South<br />
						FOX Sports West<br />
						FOX Sports Wisconsin<br />
						MASN2<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week4C">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Drake at DePaul
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Cox RI - Ocean State Networks<br />
						FOX Sports Arizona PLUS<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Florida<br />
						FOX Sports Midwest<br />
						FOX Sports North PLUS<br />
						FOX Sports Ohio<br />
						FOX Sports South<br />
						FOX Sports West<br />
						FOX Sports Wisconsin<br />
						MASN2<br />
						ROOT Sports Pittsburgh<br />
						WCIU-DT2 / WMEU-CD - Chicago<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week4D">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Rice at Texas Tech
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX College Sports Central<br />
						FOX Sports Arizona<br />
						FOX Sports North PLUS<br />
						FOX Sports Midwest PLUS<br />
						FOX Sports San Diego<br />
						FOX Sports Sun<br />
						Prime Ticket<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week4E">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Penn at Temple
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Chicago PLUS<br />
						CSN Philadelphia<br />
						CST<br />
						SNY<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week4F">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Rhode Island at Providence
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Cox RI - Ocean State Networks<br />
						FOX Sports Arizona PLUS<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Florida<br />
						FOX Sports Midwest<br />
						FOX Sports North<br />
						FOX Sports Ohio<br />
						FOX Sports Southeast<br />
						FOX Sports Southwest<br />
						FOX Sports West<br />
						MASN2<br />
						WCIU-DT2 / WMEU-CD - Chicago<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week4G">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Boston U. at NC State
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports Midwest PLUS<br />
						FOX Sports North PLUS<br />
						FOX Sports South<br />
						FOX Sports Sun<br />
						NESN<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
						SportsTime Ohio<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week4H">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						San Diego at Northern Arizona
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX College Sports Pacific<br />
						FOX Sports Arizona<br />
						FOX Sports San Diego<br />
						Prime Ticket<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week4I">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Radford at North Carolina
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic PLUS<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest<br />
						FOX Sports North PLUS<br />
						FOX Sports San Diego<br />
						FOX Sports South<br />
						FOX Sports Southwest<br />
						FOX Sports Sun<br />
						NESN<br />
						Prime Ticket<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week4J">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Mississippi Valley St. at Gonzaga
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN California<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<sup>+</sup><br />
						ROOT Sports Southwest<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	@Html.Partial("Google/GooglePartialAd")
</div>
