<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
	</div>
	<div id="basketball201718week1A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
                        Central Arkansas at Baylor
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
                        FOX College Sports Central<br />
                        FOX Sports Arizona<br />
                        FOX Sports Florida<br />
                        FOX Sports North PLUS<br />
                        FOX Sports San Diego<br />
                        FOX Sports Southwest<br />
                        FOX Sports Wisconsin<br />
                        Prime Ticket<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
    <div id="basketball201718week1B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Houston Baptist at Providence
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Southwest PLUS<br />
                        FOX Sports Wisconsin PLUS<br />
                        YES<br />
                        YurView - New England<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201718week1C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Morehead St. at Xavier
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Rocky Mountain<sup>+</sup><br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports North<br />
                        FOX Sports South<br />
                        FOX Sports Sun<br />
                        FOX Sports West<br />
                        MASN2<br />
                        ROOT Sports Northwest<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201718week1D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Yale at Creighton
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Midwest<sup>+</sup><br />
                        FOX Sports North PLUS<br />
                        FOX Sports Sun<br />
                        YurView - New England<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201718week1E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Mount St. Mary's at Marquette
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports South<br />
                        FOX Sports Southwest PLUS<br />
                        FOX Sports Wisconsin PLUS<br />
                        MASN2<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201718week1F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Jacksonville at Georgetown
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        AT&amp;T SportsNet Rocky Mountain<br />
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports San Diego<br />
                        FOX Sports Southeast<br />
                        FOX Sports Southwest<br />
                        FOX Sports Wisconsin<br />
                        MASN2<br />
                        Prime Ticket<br />
                        ROOT Sports Northwest<br />
                        WCIU-DT2 - Chicago<br />
                        YES<br />
                        YurView - New England<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201718week1G">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        George Mason at Louisville
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        AT&amp;T SportsNet Pittsburgh<br />
                        AT&amp;T SportsNet Rocky Mountain<br />
                        FOX Sports Arizona<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        FOX Sports Wisconsin<br />
                        NBC Sports Washington PLUS<br />
                        NESNplus<br />
                        Prime Ticket<br />
                        ROOT Sports Northwest<br />
                        YES<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201718week1H">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Omaha at Oklahoma
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX College Sports Central<br />
                        FOX Sports North PLUS<br />
                        FOX Sports Midwest<br />
                        FOX Sports Southeast<br />
                        FOX Sports Southwest or PLUS<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin PLUS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
	@Html.Partial("Google/GooglePartialAd")
</div>
