<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball201718week17A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Syracuse at Boston College
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201718week17B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Syracuse at Boston College
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201718week17C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        WCC First Round #1
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201718week17D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        WCC First Round #2
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201718week17E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Big East Game
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201718week17F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Wake Forest at Georgia Tech
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201718week17G">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Boston College at Florida St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201718week17H">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        WCC Quarterfinal #1
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201718week17I">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        WCC Quarterfinal #2
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow"></td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("Google/GooglePartialAd")
</div>
