@model MSS.Models.DateModel
@{string year = Model.Year == "football2020r" ? "2020r" : Model.Year.Substring(8, 4);

    <div id="Conference" class="DONTPrint">
        <span id="Label2">By Conference</span><br />
        <br />
        <a id="HyperLink30" href="@Url.Content("~/Contract/GameList/ACC/" + year)">ACC</a><br />
        <a id="Hyperlink18" href="@Url.Content("~/Contract/GameList/American/" + year)">American</a><br />
        <a id="Hyperlink17" href="@Url.Content("~/Contract/GameList/Big12/" + year)">Big 12</a><br />
        <a id="Hyperlink19" href="@Url.Content("~/Contract/GameList/BigTen/" + year)">Big Ten</a><br />
        <a id="Hyperlink20" href="@Url.Content("~/Contract/GameList/C-USA/" + year)">C-USA</a><br />
        <a id="Hyperlink21" href="@Url.Content("~/Contract/GameList/Independents/" + year)">Independents</a><br />
        <a id="Hyperlink22" href="@Url.Content("~/Contract/GameList/MAC/" + year)">MAC</a><br />
        <a id="Hyperlink23" href="@Url.Content("~/Contract/GameList/MWC/" + year)">MWC</a><br />
        <a id="Hyperlink24" href="@Url.Content("~/Contract/GameList/Pac-12/" + year)">Pac-12</a><br />
        <a id="Hyperlink25" href="@Url.Content("~/Contract/GameList/SEC/" + year)">SEC</a><br />
        <a id="Hyperlink26" href="@Url.Content("~/Contract/GameList/SunBelt/" + year)">Sun Belt</a><br />
    </div>
}