@model New_MSS.Models.DateModel

<div id="Conference" class="DONTPrint">
    <span id="Label2">By Conference</span><br />
    <br />
    <a id="HyperLink30" href="@Url.Content("~/Contract/GameList/ACC/" + Model.Year.Substring(8,4))">ACC</a><br />
    <a id="Hyperlink17" href="@Url.Content("~/Contract/GameList/Big12/" + Model.Year.Substring(8, 4))">Big 12</a><br />
    <a id="Hyperlink18" href="@Url.Content("~/Contract/GameList/BigEast/" + Model.Year.Substring(8, 4))">Big East</a><br />
    <a id="Hyperlink19" href="@Url.Content("~/Contract/GameList/BigTen/" + Model.Year.Substring(8, 4))">Big Ten</a><br />
    <a id="Hyperlink20" href="@Url.Content("~/Contract/GameList/C-USA/" + Model.Year.Substring(8, 4))">C-USA</a><br />
    <a id="Hyperlink21" href="@Url.Content("~/Contract/GameList/Independents/" + Model.Year.Substring(8, 4))">Independents</a><br />
    <a id="Hyperlink22" href="@Url.Content("~/Contract/GameList/MAC/" + Model.Year.Substring(8, 4))">MAC</a><br />
    <a id="Hyperlink23" href="@Url.Content("~/Contract/GameList/MWC/" + Model.Year.Substring(8, 4))">MWC</a><br />
    <a id="Hyperlink24" href="@Url.Content("~/Contract/GameList/Pac-10/" + Model.Year.Substring(8, 4))">Pac-10</a><br />
    <a id="Hyperlink25" href="@Url.Content("~/Contract/GameList/SEC/" + Model.Year.Substring(8, 4))">SEC</a><br />
    <a id="Hyperlink26" href="@Url.Content("~/Contract/GameList/SunBelt/" + Model.Year.Substring(8, 4))">Sun Belt</a><br />
    <a id="Hyperlink29" href="@Url.Content("~/Contract/GameList/WAC/" + Model.Year.Substring(8, 4))">WAC</a><br />
</div>
