@{
    ViewBag.Title = "Archive Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav class="navbar DONTPrint">
	<div class="container">
		<div>
			@Html.Partial("AddThis/AddThis")
			@Html.Partial("Google/GoogleSearchBar")
			@Html.Partial("AddThis/AddThisVar")
		</div>
		<div style="clear:both; padding-bottom: 5px"></div>
	</div>
</nav>
<div id="Main">
	<div id="content">
		<div id="Links">
			<a href="@Url.Content("~/")">Home</a><br />
			<br />
			<a href="@Url.Content("~/Season/Contents/football2012")">2012 Football</a><br />
			<a href="@Url.Content("~/Season/Contents/basketball201213")">2012-13 Men's Basketball</a><br />
			<br />
			<a href="@Url.Content("~/Season/Contents/football2011")">2011 Football</a><br />
			<a href="@Url.Content("~/Season/Contents/basketball201112")">2011-12 Men's Basketball</a><br />
			<br />
			<a href="@Url.Content("~/Season/Contents/football2010")">2010 Football</a><br />
			<a href="@Url.Content("~/Season/Contents/basketball201011")">2010-11 Men's Basketball</a><br />
			<br />
			<a href="@Url.Content("~/Season/Contents/football2009")">2009 Football</a><br />
			<a href="@Url.Content("~/Season/Contents/basketball200910")">2009-10 Men's Basketball</a><br />
			<br />
			<a href="@Url.Content("~/Season/Contents/football2008")">2008 Football</a><br />
			<a href="@Url.Content("~/Season/Contents/basketball200809")">2008-09 Men's Basketball</a><br />
			<br />
			<a href="@Url.Content("~/Season/Contents/football2007")">2007 Football</a><br />
			<a href="@Url.Content("~/Season/Contents/basketball200708")">2007-08 Men's Basketball</a><br />
			<br />
			<a href="@Url.Content("~/Season/Contents/football2006")">2006 Football</a><br />
			<a href="@Url.Content("~/Season/Contents/basketball200607")">2006-07 Men's Basketball</a><br />
			<br />
			<a href="@Url.Content("~/Season/Contents/football2005")">2005 Football</a><br />
			<a href="@Url.Content("~/Season/Contents/basketball200506")">2005-06 Men's Basketball</a><br />
			<br />
		</div>
	</div>
</div>
@section styles{
	<style type="text/css">.navbar{box-shadow: 0 1px 1px rgba(0,0,0,.1)}</style>
    <style media="all and (min-width: 641px)" type="text/css">#Links{width: 45%;float:left;display:inline}#Main{padding-top:30px}</style>
    <style type="text/css" media="only screen and (max-width: 640px)">#Links{width: 100%;float:left;display:inline}body {font-size: .85em;}</style>
}


