@{
    ViewBag.Title = "Archive Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="Main">
    <div id="content">
        <div id="Links">
            <a href="@Url.Content("~/")">Home</a><br />
            <br />
            <a href="@Url.Content("~/Season/Contents/football2019")">2019 Football</a><br />
            <a href="@Url.Content("~/Season/Contents/basketball201920")">2019-20 Men's Basketball</a><br />
            <br />
            <a href="@Url.Content("~/Season/Contents/football2018")">2018 Football</a><br />
            <a href="@Url.Content("~/Season/Contents/basketball201819")">2018-19 Men's Basketball</a><br />
            <br />
            <a href="@Url.Content("~/Season/Contents/football2017")">2017 Football</a><br />
            <a href="@Url.Content("~/Season/Contents/basketball201718")">2017-18 Men's Basketball</a><br />
            <br />
            <a href="@Url.Content("~/Season/Contents/football2016")">2016 Football</a><br />
            <a href="@Url.Content("~/Season/Contents/basketball201617")">2016-17 Men's Basketball</a><br />
            <br />
            <a href="@Url.Content("~/Season/Contents/football2015")">2015 Football</a><br />
            <a href="@Url.Content("~/Season/Contents/basketball201516")">2015-16 Men's Basketball</a><br />
            <br />
            <a href="@Url.Content("~/Season/Contents/football2014")">2014 Football</a><br />
            <a href="@Url.Content("~/Season/Contents/basketball201415")">2014-15 Men's Basketball</a><br />
            <br />
            <a href="@Url.Content("~/Season/Contents/football2013")">2013 Football</a><br />
            <a href="@Url.Content("~/Season/Contents/basketball201314")">2013-14 Men's Basketball</a><br />
            <br />
            <a href="@Url.Content("~/Season/Contents/football2012")">2012 Football</a><br />
            <a href="@Url.Content("~/Season/Contents/basketball201213")">2012-13 Men's Basketball</a><br />
            <br />
            <a href="@Url.Content("~/Season/Contents/football2011")">2011 Football</a><br />
            <a href="@Url.Content("~/Season/Contents/basketball201112")">2011-12 Men's Basketball</a><br />
            <br />
            <a href="@Url.Content("~/Season/Contents/football2010")">2010 Football</a><br />
            <a href="@Url.Content("~/Season/Contents/basketball201011")">2010-11 Men's Basketball</a><br />
            <br />
            <a href="@Url.Content("~/Season/Contents/football2009")">2009 Football</a><br />
            <a href="@Url.Content("~/Season/Contents/basketball200910")">2009-10 Men's Basketball</a><br />
            <br />
            <a href="@Url.Content("~/Season/Contents/football2008")">2008 Football</a><br />
            <a href="@Url.Content("~/Season/Contents/basketball200809")">2008-09 Men's Basketball</a><br />
            <br />
            <a href="@Url.Content("~/Season/Contents/football2007")">2007 Football</a><br />
            <a href="@Url.Content("~/Season/Contents/basketball200708")">2007-08 Men's Basketball</a><br />
            <br />
            <a href="@Url.Content("~/Season/Contents/football2006")">2006 Football</a><br />
            <a href="@Url.Content("~/Season/Contents/basketball200607")">2006-07 Men's Basketball</a><br />
            <br />
            <a href="@Url.Content("~/Season/Contents/football2005")">2005 Football</a><br />
            <a href="@Url.Content("~/Season/Contents/basketball200506")">2005-06 Men's Basketball</a><br />
            <br />
        </div>
    </div>
    @Html.Partial("Google/GoogleSearchBar")
</div>
@section styles{
	<style type="text/css">.navbar{box-shadow: 0 1px 1px rgba(0,0,0,.1)}</style>
    <style media="all and (min-width: 641px)" type="text/css">#Links{width: 45%;float:left;display:inline}#Main{padding-top:37px}</style>
    <style type="text/css" media="only screen and (max-width: 640px)">#Links{width: 100%;float:left;display:inline}body {font-size: .85em;}#Main{padding-top:48px}</style>
}


