@{
    ViewBag.Title = "Matt's College Sports on TV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav class="navbar DONTPrint">
	<div class="container">
		@Html.Partial("Google/GoogleSearchBar")
		@Html.Partial("AddThis/AddThis")
		@Html.Partial("AddThis/AddThisVar")
	</div>
</nav>
<div id="Main">
	<div>
		<img alt="Matt's College Sports" id="imgtitle" src="@Url.Content("~/images/logo.jpg")" /><br />
	</div>
	<div id="content">
		<div id="Links">
			<a href="@Url.Content("~/Season/Contents/football2015")">2015 Football</a><br />
			<a href="@Url.Content("~/Season/Contents/basketball201516")">2015-16 Men's Basketball</a><br />
			<br />
			<a href="@Url.Content("~/Season/Contents/football2014")">2014 Football</a><br />
			<a href="@Url.Content("~/Season/Contents/basketball201415")">2014-15 Men's Basketball</a><br />
			<br />
			<a href="@Url.Content("~/Season/Contents/football2013")">2013 Football</a><br />
			<a href="@Url.Content("~/Season/Contents/basketball201314")">2013-14 Men's Basketball</a><br />
			<br />
			<a href="@Url.Content("~/Season/Contents/football2012")">2012 Football</a><br />
			<a href="@Url.Content("~/Season/Contents/basketball201213")">2012-13 Men's Basketball</a><br />
			<br />
			<a href="@Url.Content("~/Season/Contents/football2011")">2011 Football</a><br />
			<a href="@Url.Content("~/Season/Contents/basketball201112")">2011-12 Men's Basketball</a><br />
			<br />
			<a href="@Url.Content("~/Season/Contents/football2010")">2010 Football</a><br />
			<a href="@Url.Content("~/Season/Contents/basketball201011")">2010-11 Men's Basketball</a><br />
			<br />
			<a href="@Url.Content("~/Home/Archive")">Archived Seasons</a>
		</div>
		<div id="Twitter">
			<a class="twitter-timeline" href="https://twitter.com/mattsarz" data-widget-id="345373301071298561">
				Tweets by @@mattsarz
			</a>
			<script type="text/javascript">
				!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");
			</script>
		</div>
	</div>
	<p>
		Check out my <a href="http://mattsarzsports.blogspot.com/">blog</a>. Discussing
		college sports and how we're watching the games.
	</p>
	<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FMatts-College-Sports-on-TV%2F190222480988805&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=recommend&amp;colorscheme=light&amp;height=80"
			id="Facebook" scrolling="no" allowtransparency="true"></iframe>
	<p>
		Got a question, complaint, comment or know a game not listed here? <a href="mailto:footballsked@gmail.com">
			Send it here
		</a>
	</p>
</div>

@section scripts {
    <script defer="defer" type="text/javascript">
		$(document).ready(function () {
			$("#Twitter, #content").css("height", $("#Links").height());
			$(".twitter-timeline").attr("height", $("#Links").height());
			$("#Facebook").css("max-width", $(window).width - 6);
			$("#Main").css("padding-top", $(".navbar").height());
		});
</script>

}

@section styles{
	<style type="text/css">#imgtitle{max-width:100%;padding-bottom:5px}#Links,#Twitter{float:left;display:inline}#Facebook{border:0;overflow:hidden}</style>
	<style media="all and (min-width: 641px)" type="text/css">#Facebook{height:80px;width:450px;}#Links{width: 45%;min-height:250px}#Twitter{width: 55%;}</style>
    <style type="text/css" media="only screen and (max-width: 640px)">#Facebook{height:100px;width:300px;}#Links{ width: 39%;min-height: 250px}#Twitter{ width: 61%;}</style>
}

