@{
    ViewBag.Title = "Matt's College Sports on TV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav class="navbar DONTPrint">
	<div class="container">
		<div>
			@Html.Partial("AddThis/AddThis")
			@Html.Partial("AddThis/AddThisVar")
		</div>
		<div style="clear:both; padding-bottom: 5px"></div>
	</div>
</nav>
<div id="Main">
    <div>
        <img alt="Matt's College Sports" id="imgtitle" src="@Url.Content("~/images/logo.jpg")" /><br />
    </div>
    <div id="content">
        <div id="Links">
            <a href="@Url.Content("~/Season/Contents/football2020r")">2020 Football - Revised</a><br />
            <a href="@Url.Content("~/Season/Contents/football2020")">2020 Football - Pre-Conference Only Announcements</a><br />
            <br />
            <a href="@Url.Content("~/Season/Contents/football2019")">2019 Football</a><br />
            <a href="@Url.Content("~/Season/Contents/basketball201920")">2019-20 Men's Basketball</a><br />
            <br />
            <a href="@Url.Content("~/Season/Contents/football2018")">2018 Football</a><br />
            <a href="@Url.Content("~/Season/Contents/basketball201819")">2018-19 Men's Basketball</a><br />
            <br />
            <a href="@Url.Content("~/Season/Contents/football2017")">2017 Football</a><br />
            <a href="@Url.Content("~/Season/Contents/basketball201718")">2017-18 Men's Basketball</a><br />
            <br />
            <a href="@Url.Content("~/Season/Contents/football2016")">2016 Football</a><br />
            <a href="@Url.Content("~/Season/Contents/basketball201617")">2016-17 Men's Basketball</a><br />
            <br />
            <a href="@Url.Content("~/Home/Archive")">Archived Seasons</a>
            <p>
                Check out my <a href="http://mattsarzsports.blogspot.com/">blog</a>. Discussing
                college sports and how we're watching the games.
            </p>
        </div>
        <div id="Twitter">
            <a class="twitter-timeline" href="https://twitter.com/mattsarz" data-height="300">
                Tweets by @@mattsarz
            </a>
            <script type="text/javascript">
                !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");
            </script>
        </div>
    </div>
    <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FMatts-College-Sports-on-TV%2F190222480988805&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=recommend&amp;colorscheme=light&amp;height=80"
            id="Facebook" scrolling="no" allowtransparency="true"></iframe>
    <p>
        Got a question, complaint, comment or know a game not listed here? <a href="mailto:footballsked@gmail.com">
            Send it here
        </a>
    </p>
    @Html.Partial("Google/GoogleSearchBar")
</div>

@section scripts {
    <script async type="text/javascript">
		$(document).ready(function () {
			$("#content").css("height", $("#Links").height());
			$("#Facebook").css("max-width", $(window).width - 6);
		});
</script>

}

@section styles{
	<style type="text/css">#imgtitle{max-width:100%;padding-bottom:5px}#Links,#Twitter{float:left;display:inline}#Facebook{border:0;overflow:hidden}#Main{padding-top:49px}</style>
	<style media="all and (min-width: 641px)" type="text/css">#Facebook{height:80px;width:450px;}#Links{width: 45%;min-height:250px}#Twitter{width: 55%;}</style>
    <style type="text/css" media="only screen and (max-width: 640px)">body{font-size:.85em;}#Facebook{height:100px;width:300px;}#Links {width: 100%;min-height: 250px}#Twitter {width: 100%;}#Main{padding-top:60px}</style>
}

