<div id="RSNLists" style="display:none">
    <div class="closer">
        <a>Click here to close</a><br />
        <br />
    </div>
    <div id="basketball201213week9A">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        California at UCLA
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Detroit<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br />
                        ROOT Sports Rocky Mountain<br />
                        MSG PLUS<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201213week9B">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        California at USC
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Detroit<br />
                        FOX Sports Cincinnati<br>
                        FOX Sports Florida<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br>
                        SportSouth<br />
                        FOX Sports Southwest<sup>+</sup><br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        ROOT Sports Northwest<br />
                        ROOT Sports Pittsburgh<br>
                        ROOT Sports Rocky Mountain<br>
                        MSG PLUS<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201213week9C">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Tulsa at SMU
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Cincinnati<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports North<br />
                        FOX Sports Ohio<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201213week9D">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Oregon at Oregon St.
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Detroit (JIP)<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest<br />
                        FOX Sports North<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        FOX Sports West<br />
                        FOX Sports Wisconsin<br />
                        ROOT Sports Northwest<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201213week9E">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        South Carolina St. at South Carolina
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona<br />
                        FOX Sports Detroit PLUS<br />
                        Sun Sports<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201213week9F">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Florida St. at Clemson
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Detroit PLUS<br />
                        FOX Sports Florida<br />
                        FOX Sports North PLUS<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        Prime Ticket<br />
                        FOX Sports Wisconsin<br />
                        Comcast SportsNet Mid-Atlantic<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="basketball201213week9G">
        @Html.Partial("CoverageNotes/CenterLabel")
        <table class="FSNtable">
            <tbody>
                <tr>
                    <th class="FSNrow">
                        Florida St. at Auburn
                    </th>
                </tr>
                <tr>
                    <td class="FSNrow">
                        FOX Sports Arizona PLUS<br />
                        FOX Sports Florida<br />
                        FOX Sports Midwest PLUS<br />
                        FOX Sports San Diego<br />
                        FOX Sports South<br />
                        FOX Sports Southwest<br />
                        Prime Ticket<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
