<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="basketball201617week9A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Boston College at Wake Forest
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Detroit PLUS<br />
						FOX Sports Florida<br />
						FOX Sports North PLUS<br />
						FOX Sports San Diego<br />
						FOX Sports South<br />
						FOX Sports Southwest<sup>+</sup><br />
						FOX Sports Wisconsin<br />
						NESN<br />
						Prime Ticket<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week9B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Dayton at St. Bonaventure
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast Network Philadelphia<br />
						CSN Chicago PLUS<br />
						CST<br />
						NESNplus<br />
						SNY<br />
						and <a href="http://americansportsnet.com/schedule/" target="_blank">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week9C">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Miami (FL) at Syracuse
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports North PLUS<br />
						FOX Sports San Diego<br />
						FOX Sports South<br />
						FOX Sports Sun<br />
						NESN<br />
						Prime Ticket<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week9D">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Virginia at Pittsburgh
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports North<br />
						FOX Sports South<br />
						NESN<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week9E">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						East Carolina at Temple
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast Network Philadelphia<br />
						CSN Bay Area<br />
						CSN Chicago PLUS<br />
						CSN Mid Atlantic<br />
						CST<br />
						NESNplus<br />
						SNY<br />
						and <a href="http://americansportsnet.com/schedule/" target="_blank">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week9F">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Boston College at Duke
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports Arizona<br />
						FOX Sports Detroit<br />
						FOX Sports Florida<br />
						FOX Sports Midwest PLUS<br />
						FOX Sports North PLUS<br />
						FOX Sports San Diego<br />
						FOX Sports South<br />
						FOX Sports Southwest<br />
						NESNplus<br />
						Prime Ticket<br />
						ROOT Sports Pittsburgh<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week9G">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						FIU at FAU
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude<br />
						Comcast Network Philadelphia<br />
						CSN Bay Area<br />
						CSN Chicago PLUS<br />
						CSN New England<br />
						CST<br />
						MASN2<br />
						and <a href="http://americansportsnet.com/schedule/" target="_blank">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week9H">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Gonzaga at Portland
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<sup>+</sup><br />
						ROOT Sports Southwest<br />
						Spectrum SportsNet<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week9I">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Memphis at Tulane
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude<br />
						CSN California<br />
						CSN Chicago<br />
						CST<br />
						and <a href="http://americansportsnet.com/schedule/" target="_blank">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week9J">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						San Diego at Pepperdine
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN California<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
						Spectrum SportsNet<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week9K">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Pacific at San Diego
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Bay Area<br />
						Prime Ticket<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	@Html.Partial("Google/GooglePartialAd")
</div>
