<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="basketball201617week10A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						George Mason at St. Joseph's
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude<br />
						Comcast Network Philadelphia<br />
						CSN Mid Atlantic PLUS<br />
						CST<br />
						SNY<br />
						and <a href="http://americansportsnet.com/game-finder">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week10B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Pittsburgh at Louisville
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic PLUS<br />
						FOX Sports Arizona<br />
						FOX Sports Detroit<br />
						FOX Sports North PLUS<br />
						FOX Sports San Diego<br />
						FOX Sports South<br />
						FOX Sports Sun<br />
						FOX Sports Wisconsin PLUS<br />
						NESN<br />
						Prime Ticket<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week10C">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						NC State at Boston College
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic PLUS<br />
						FOX Sports Arizona<br />
						FOX Sports Detroit<br />
						FOX Sports North PLUS<br />
						FOX Sports South<br />
						FOX Sports Southwest PLUS (JIP)<br />
						FOX Sports Sun<br />
						FOX Sports Wisconsin PLUS<br />
						NESN<br />
						ROOT Sports Pittsburgh<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week10D">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Clemson at Georgia Tech
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports Florida<br />
						FOX Sports Midwest<br />
						FOX Sports North PLUS<br />
						FOX Sports South<br />
						FOX Sports Southwest<br />
						FOX Sports West<br />
						FOX Sports Wisconsin<br />
						NESNplus<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
						SportsTime Ohio<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week10E">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Seton Hall at Providence
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Cox RI - Ocean State Networks<br />
						FOX Sports Arizona<br />
						FOX Sports Detroit<br />
						FOX Sports Florida<br />
						FOX Sports Midwest<br />
						FOX Sports North PLUS<br />
						FOX Sports Ohio<br />
						FOX Sports Southeast<br />
						FOX Sports Southwest<br />
						FOX Sports West<br />
						FOX Sports Wisconsin PLUS<br />
						MASN2<br />
						YES<br />
						WCIU-DT2 / WMEU-CD - Chicago<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week10F">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Miami (FL) at Pittsburgh
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest PLUS<br />
						FOX Sports South<br />
						FOX Sports Southwest PLUS<br />
						FOX Sports Sun<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
						SportsTime Ohio<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week10G">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Little Rock at Coastal Carolina
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude<br />
						CSN California<br />
						CSN Chicago PLUS<br />
						CST<br />
						and <a href="http://americansportsnet.com/game-finder/" target="_blank">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week10H">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						DePaul at Marquette
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Arizona PLUS<br />
						FOX Sports Detroit<br />
						FOX Sports Florida<br />
						FOX Sports Midwest PLUS<br />
						FOX Sports North<br />
						FOX Sports Ohio<br />
						FOX Sports Southeast<br />
						FOX Sports Southwest<br />
						FOX Sports West<br />
						FOX Sports Wisconsin<br />
						MASN2<br />
						ROOT Sports Pittsburgh<br />
						WCIU-DT2 / WMEU-CD - Chicago<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week10I">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Boston College at Syracuse
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest PLUS<sup>+</sup><br />
						FOX Sports South<br />
						FOX Sports Sun<br />
						FOX Sports West<br />
						FOX Sports Wisconsin PLUS<br />
						NESNplus<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week10J">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Louisiana Tech at Old Dominion
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude2<br />
						Comcast Network Philadelphia<br />
						CSN California<br />
						CSN Chicago PLUS<br />
						CSN Northwest<br />
						CST<br />
						and <a href="http://americansportsnet.com/game-finder/" target="_blank">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week10K">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Iowa St. at TCU
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Arizona PLUS<br />
						FOX Sports Detroit PLUS (JIP)<br />
						FOX Sports Florida<br />
						FOX Sports Midwest (JIP in some areas)<br />
						FOX Sports North PLUS<br />
						FOX Sports Southeast (or PLUS)<sup>+</sup><br />
						FOX Sports Southwest<br />
						FOX Sports West (JIP)<br />
						MASN<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week10L">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Western Kentucky at Middle Tennessee
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN California<br />
						CSN Chicago PLUS<br />
						CSN Northwest<br />
						CST<br />
						NESNplus<br />
						and <a href="http://americansportsnet.com/game-finder/" target="_blank">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week10M">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Loyola Marymount at Gonzaga
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN California<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
						ROOT Sports Southwest<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week10N">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Santa Clara at Pepperdine
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Bay Area<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<sup>+</sup><br />
						Spectrum SportsNet<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>
