<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="basketball201617week15A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Wake Forest at Clemson
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports Detroit<br />
						FOX Sports Florida/Sun<sup>+</sup><br />
						FOX Sports Midwest<br />
						FOX Sports South<br />
						FOX Sports Southwest PLUS<br />
						FOX Sports West<br />
						NESN<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week15B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						San Francisco at Gonzaga
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN California<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
						Spectrum SportsNet<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week15C">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Clemson at Miami (FL)
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic PLUS<br />
						FOX Sports Arizona<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest PLUS<br />
						FOX Sports San Diego<br />
						FOX Sports South<br />
						FOX Sports Southwest<br />
						FOX Sports Sun<br />
						NESN<br />
						Prime Ticket<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week15D">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Pacific at Gonzaga
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN California<br />
						KHQ-Spokane<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
						Spectrum SportsNet<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week15E">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						UNC Wilmington at Hofstra
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude<br />
						CSN Chicago PLUS<br />
						CSN Mid Atlantic PLUS<br />
						CST<br />
						NESNplus<br />
						SNY<br />
						and <a href="http://americansportsnet.com/game-finder" target="_blank">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week15F">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Penn at Yale
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast Network Philadelphia<br />
						CSN Chicago PLUS<br />
                        CSN Northwest<br />
						CST<br />
						NESNplus<br />
						SNY<br />
						and <a href="http://americansportsnet.com/game-finder" target="_blank">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	@Html.Partial("Google/GooglePartialAd")
</div>
