<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
	</div>
	<div id="basketball201617week1A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Fairleigh Dickinson at Seton Hall
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Cox RI - Ocean State Networks<br />
						FOX Sports Arizona<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Florida<sup>+</sup><br />
						FOX Sports North<br />
						FOX Sports Southeast<br />
						FOX Sports Wisconsin<br />
						MASN2<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week1B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Georgia at Clemson
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports North PLUS<br />
						FOX Sports South<br />
						FOX Sports Sun<br />
						NESNplus<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<sup>+</sup><br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week1C">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						UMKC at Creighton
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Cox RI - Ocean State Networks<br />
						FOX Sports Arizona<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest PLUS<sup>+</sup><br />
						FOX Sports North PLUS<br />
						FOX Sports Southeast<br />
						FOX Sports Wisconsin<br />
						MASN2<br />
						SportsTime Ohio<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week1D">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						USC Upstate at Georgetown
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Cox RI - Ocean State Networks<br />
						FOX Sports Arizona<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest PLUS<br />
						FOX Sports North PLUS<br />
						FOX Sports San Diego<br />
						FOX Sports South<br />
						FOX Sports Southwest PLUS<br />
						FOX Sports Sun<br />
						MASN2<br />
						Prime Ticket<br />
						ROOT Sports Pittsburgh<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week1E">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Grand Canyon at Duke
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports Arizona PLUS<br />
						FOX Sports Midwest PLUS<br />
						FOX Sports San Diego<br />
						FOX Sports South<br />
						FOX Sports Southwest PLUS<br />
						FOX Sports Sun<br />
						FOX Sports West<br />
						FOX Sports Wisconsin<br />
						NESN<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week1F">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Bethune-Cookman at St. John's
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports North<br />
						FOX Sports South<br />
						FOX Sports Sun<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	@Html.Partial("Google/GooglePartialAd")
</div>
