<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="basketball201516week12A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Abilene Christian at Sam Houston St.
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude2<br />
						CSN Chicago PLUS<br />
						CST<br />
						MASN<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week12B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						La Salle at Duquesne
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude<br />
						Comcast Network Philadelphia<br />
						CSN California<br />
						CST<br />
						MASN<br />
						SNY<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week12C">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Pittsburgh at Clemson
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Florida<br />
						FOX Sports North PLUS<br />
						FOX Sports South<br />
						FOX Sports West<br />
						FOX Sports Wisconsin<br />
						MSG Plus<br />
						NESN<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<sup>+</sup><br />
						SportsTime Ohio<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week12D">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Fordham at Rhode Island
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude2<br />
						Comcast Network Philadelphia<br />
						CSN California<br />
						CSN Chicago PLUS<br />
						CST<br />
						MASN<br />
						NESNplus<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week12E">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Charlotte at FIU
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude2<br />
						CSN Chicago PLUS<br />
						CST<br />
						MASN<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week12F">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Santa Clara at Gonzaga
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN California<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
						ROOT Sports Southwest<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week12G">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Princeton at Brown
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Chicago PLUS<br />
						CST<br />
						MASN<br />
						NESNplus<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week12H">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Clemson at Florida St.
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports Arizona<br />
						FOX Sports Detroit<br />
						FOX Sports Midwest<br />
						FOX Sports North PLUS<br />
						FOX Sports San Diego / Prime Ticket<br />
						FOX Sports South<br />
						FOX Sports Southwest<br />
						FOX Sports Sun<br />
						FOX Sports West<br />
						MSG<br />
						NESN<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
						SportsTime Ohio<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week12I">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Delaware at Towson
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast Network Philadelphia<br />
						CSN New England<br />
						CSN Northwest<br />
						CSN Mid Atlantic<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week12J">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Charlotte at FAU
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude<br />
						CSN Chicago<br />
						CST<br />
						MASN<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week12K">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Hofstra at Drexel
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude<br />
						Comcast Network Philadelphia<br />
						CSN Mid Atlantic<br />
						CSN Northwest<br />
						CST<br />
						NESNplus<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week12L">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Duquesne at Saint Louis
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Chicago PLUS<br />
						CSN Northwest<br />
						CST<br />
						MASN<br />
						NESNplus<br />
						SNY<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week12M">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Seton Hall at Creighton
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Detroit PLUS<br />
						FOX Sports Florida<br />
						FOX Sports Midwest<br />
						FOX Sports North<br />
						FOX Sports Ohio<br />
						FOX Sports South<br />
						FOX Sports Southwest PLUS<br />
						FOX Sports West<br />
						FOX Sports Wisconsin<br />
						MASN2<br />
						MSG Plus<br />
						ROOT Sports Pittsburgh<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week12N">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Richmond at St. Bonaventure
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude<br />
						Comcast Network Philadelphia<br />
						CSN California<br />
						CSN Chicago<br />
						CSN Mid Atlantic<br />
						CST<br />
						NESNplus<br />
						SNY<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week12O">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						UTEP at Louisiana Tech
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Detroit<br />
						FOX Sports Florida / Sun PLUS<br />
						FOX Sports Midwest<br />
						FOX Sports North PLUS<br />
						FOX Sports Ohio<br />
						FOX Sports Southeast<sup>+</sup><br />
						FOX Sports Southwest<br />
						FOX Sports West<br />
						FOX Sports Wisconsin<br />
						MASN2<br />
						MSG Plus<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week12P">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						James Madison at William &amp; Mary
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN California<br />
						CSN Mid Atlantic<br />
						CSN Philadelphia<br />
						SNY<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week12Q">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Oakland at Milwaukee
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Chicago PLUS<br />
						CST<br />
						MASN<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week12R">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Penn at Brown
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Chicago PLUS<br />
						CSN Philadelphia<br />
						NESNplus<br />
						SNY<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	@Html.Partial("Google/GooglePartialAd")
</div>
