<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="basketball201617week17A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Chattanooga at The Citadel
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude<br />
						CSN California<br />
						CSN Chicago PLUS<br />
						CST<br />
						and <a href="http://americansportsnet.com/schedule/" target="_blank">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week17B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Georgia Southern at Little Rock
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude<br />
						CSN California<br />
						CSN Chicago PLUS<br />
						CST<br />
						and <a href="http://americansportsnet.com/schedule/" target="_blank">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week17C">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						St. Bonaventure at Davidson
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude2<br />
						Comcast Network Philadelphia<br />
						CSN California<br />
						CSN Chicago PLUS<br />
						SNY<br />
						and <a href="http://americansportsnet.com/schedule/" target="_blank">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week17D">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Louisville at Wake Forest
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic PLUS<br />
						FOX Sports Arizona<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Florida/Sun<sup>+</sup><br />
						FOX Sports Midwest PLUS<br />
						FOX Sports South<br />
						FOX Sports Southwest (or PLUS)<sup>+</sup><br />
						FOX Sports West<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<sup>+</sup><br />
						SportsTime Ohio<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week17E">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Xavier at DePaul
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Arizona<br />
						FOX Sports Detroit<br />
						FOX Sports Ohio<br />
						FOX Sports South<br />
						MASN2<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
						WMEU / WCIU-DT2 - Chicago<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week17F">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Wake Forest at Virginia Tech
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports South<br />
						FOX Sports Southwest<br />
						FOX Sports Sun<br />
						NESNplus<br />
						ROOT Sports Pittsburgh<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week17G">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						CAA Semifinal #1
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast Network Philadelphia<br />
						CSN Chicago<br />
						CSN Mid Atlantic<br />
						CSN Northwest<br />
						SNY<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week17H">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						CAA Semifinal #2
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast Network Philadelphia<br />
						CSN Chicago<br />
						CSN Mid Atlantic PLUS<br />
						CSN Northwest<br />
						SNY<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	@Html.Partial("Google/GooglePartialAd")
</div>
