<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="basketball201516week14A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Houston Baptist at TAMU-Corpus Christi
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude2<br />
						CSN Chicago PLUS<br />
						CST<br />
						MASN<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week14B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Duquesne at Dayton
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast Network Philadelphia<br />
						CST<br />
						MASN<br />
						NESNplus<br />
						SNY<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week14C">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Wake Forest at Georgia Tech
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports South<br />
						FOX Sports Sun<br />
						FOX Sports West<br />
						MSG<br />
						NESN<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<sup>+</sup><br />
						SportsTime Ohio<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week14D">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Austin Peay at Eastern Illinois
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude2<br />
						CSN Chicago PLUS<br />
						CST<br />
						MASN<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week14E">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Middle Tennessee at Louisiana Tech
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Chicago PLUS<br />
						CST<br />
						MASN<br />
						NESNplus<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week14F">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Wake Forest at NC State
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports Detroit<br />
						FOX Sports Midwest<br />
						FOX Sports North PLUS<br />
						FOX Sports San Diego<br />
						FOX Sports South<br />
						FOX Sports Southwest<br />
						FOX Sports Sun<br />
						NESN<br />
						Prime Ticket<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week14G">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						UAB at Louisiana Tech
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Arizona PLUS<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Florida<br />
						FOX Sports Midwest<br />
						FOX Sports North PLUS<br />
						FOX Sports Ohio<br />
						FOX Sports Southeast<br />
						FOX Sports Southwest PLUS<br />
						FOX Sports West<br />
						MASN2<br />
						MSG<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week14H">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Georgia Tech at Clemson
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports Detroit<br />
						FOX Sports San Diego<br />
						FOX Sports South<br />
						FOX Sports Sun<br />
						NESN<br />
						Prime Ticket<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week14I">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						BYU at Santa Clara
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						BYUtv<br />
						CSN California<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
						Time Warner SportsNet<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week14J">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						North Texas at Charlotte
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude<br />
						CSN Chicago PLUS<br />
						MASN2<br />
						NESNplus<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week14K">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						William &amp; Mary at Towson
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Bay Area<br />
						CSN Mid Atlantic<br />
						CSN Northwest<br />
						CSN Philadelphia<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week14L">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						UTEP at FAU
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude<br />
						CSN Bay Area<br />
						CSN Chicago PLUS<br />
						MASN<br />
						NESNplus<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week14M">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Creighton at Marquette
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Cox RI-Ocean State Networks<br />
						FOX Sports Detroit<br />
						FOX Sports Florida/Sun<sup>+</sup><br />
						FOX Sports Midwest<br />
						FOX Sports North<br />
						FOX Sports Southeast<br />
						FOX Sports Southwest PLUS<br />
						FOX Sports West<br />
						FOX Sports Wisconsin<br />
						MASN2<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						SportsTime Ohio<br />
						YES<br />
						WMEU / WCIU-DT2 - Chicago<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week14N">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						La Salle at St. Joseph's
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude2<br />
						CSN Chicago<br />
						CSN Mid Atlantic PLUS<br />
						CSN Philadelphia<br />
						NESNplus<br />
						SNY<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week14O">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Utah Valley at CS Bakersfield
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude2<br />
						CSN Chicago PLUS<br />
						CSN Northwest<br />
						MASN<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week14P">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Chattanooga at East Tennessee St.
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports San Diego<br />
						FOX Sports Southwest<br />
						SportsTime Ohio<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week14Q">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Massachusetts at Duquesne
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN California<br />
						CSN Chicago PLUS<br />
						CSN Mid Atlantic<br />
						CSN New England<br />
						CSN Northwest<br>
						CSN Philadelphia<br />
						SNY<br />
						and <a href="http://americansportsnet.com/schedule">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	@Html.Partial("Google/GooglePartialAd")
</div>
