<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="basketball201617week5A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						East Carolina at Virginia
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic PLUS<br />
						FOX Sports South<br />
						FOX Sports West<br />
						NESNplus<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week5B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Lamar at DePaul
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Cox RI - Ocean State Networks<br />
						FOX Sports Ohio<br />
						FOX Sports South<br />
						FOX Sports West<br />
						MASN2<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
						WCIU-DT2 / WMEU-CD - Chicago<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week5C">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Southern Illinois at Louisville
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest<br />
						FOX Sports San Diego<br />
						FOX Sports South<br />
						NESNplus<br />
						Prime Ticket<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week5D">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Oral Roberts at Oklahoma
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Arizona PLUS<br />
						FOX Sports Detroit PLUS (JIP)<br>
						FOX Sports Florida/Sun<sup>+</sup><br />
						FOX Sports North PLUS<br />
						FOX Sports Midwest<br />
						FOX Sports Southwest/Oklahoma (or PLUS)<br />
						MASN2<br />
						MSG Plus<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	@Html.Partial("Google/GooglePartialAd")
</div>
