<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="basketball201516week17A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Stephen F. Austin at Incarnate Word
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude2<br />
						CSN Chicago PLUS<br />
						CST<br />
						MASN<br />
						and <a href="http://americansportsnet.com/schedule/" target="_blank">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week17B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						George Mason at George Washington
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						NESNplus<br />
						SNY<br />
						and <a href="http://americansportsnet.com/schedule/" target="_blank">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week17C">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Boston College at NC State
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic (JIP)<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports South<br />
						FOX Sports Southwest or PLUS<sup>+</sup><br />
						FOX Sports Sun<br />
						MSG Plus<br />
						NESN<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<sup>+</sup><br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week17D">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Seton Hall at DePaul
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Cox RI-Ocean State Networks<br />
						FOX Sports Arizona<br />
						FOX Sports Detroit<br />
						FOX Sports Florida<br />
						FOX Sports Midwest PLUS<br />
						FOX Sports Ohio<br />
						FOX Sports Southeast<br />
						FOX Sports Southwest or PLUS<sup>+</sup><br />
						FOX Sports Wisconsin<br />
						FOX Sports West<br />
						MASN2<br />
						MSG<br />
						WMEU / WCIU-DT2 - Chicago<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week17E">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Clemson at Boston College
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic PLUS<br />
						FOX Sports South<br />
						FOX Sports Sun<br />
						MSG Plus<br />
						NESNplus<br />
						ROOT Sports Northwest<br />
						ROOT Sports Pittsburgh<br />
						ROOT Sports Rocky Mountain<br />
						SportsTime Ohio<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week17F">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						CAA Quarterfinal #1
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Chicago PLUS<br />
						CSN Mid Atlantic<br />
						CSN New England<br />
						CSN Philadelphia<br />
						SNY<br />
                        WWAY-2 - Wilmington, NC<br />
                        WXII-2 - Greensboro, NC (if Elon advances)<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week17G">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Marquette at Butler
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Arizona PLUS<br />
						FOX Sports Detroit<br />
						FOX Sports Florida<br />
						FOX Sports Midwest PLUS/Indiana<br />
						FOX Sports Ohio<br />
						FOX Sports Southeast<br />
						FOX Sports Southwest or PLUS<sup>+</sup><br />
						FOX Sports Wisconsin<br />
						MASN2<br />
						MSG<br />
						WMEU / WCIU-DT2 - Chicago<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week17H">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						CAA Quarterfinal #2
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Chicago PLUS<br />
						CSN Mid Atlantic<br />
						CSN New England<br />
						CSN Philadelphia<br />
						SNY<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week17I">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						CAA Quarterfinal #3
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast Network Philadelphia<br />
						CSN Chicago PLUS<br />
						SNY<br />
                        WWAY-2 - Wilmington, NC<br />
                        WCIV-2 - Charleston, SC<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week17J">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						CAA Quarterfinal #4
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast Network Philadelphia<br />
						CSN Chicago PLUS<br />
						SNY<br />
                        WBAL-2 - Baltimore, MD<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201516week17K">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Temple at Tulane
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic<br />
						CST<br />
						NESNplus<br />
						and <a href="http://americansportsnet.com/schedule/" target="_blank">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	@Html.Partial("Google/GooglePartialAd")
</div>
