<div id="RSNLists" style="display:none">
	<div class="closer">
		<a>Click here to close</a><br />
		<br />
	</div>
	<div id="basketball201617week11A">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Notre Dame at Florida St.
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic PLUS<br />
						FOX Sports South<br />
						FOX Sports Sun<br />
						FOX Sports West<br />
						FOX Sports Wisconsin PLUS<br />
						NESNplus<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week11B">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						TCU at Texas Tech
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						FOX Sports Arizona PLUS<br />
						FOX Sports Detroit PLUS<br />
						FOX Sports Midwest PLUS<br />
						FOX Sports North PLUS<br />
						FOX Sports Ohio<br />
						FOX Sports San Diego<br />
						FOX Sports Southwest (or PLUS)<sup>+</sup><br />
						MASN2<br />
						MSG Plus<br />
						Prime Ticket<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week11C">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Georgia Tech at Virginia Tech
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Mid Atlantic PLUS<br />
						FOX Sports Detroit PLUS (JIP)<br />
						FOX Sports South<br />
						FOX Sports Southwest (JIP)<br />
						FOX Sports Sun<br />
						FOX Sports West<br />
						FOX Sports Wisconsin PLUS<br />
						NESNplus<br />
						SportsTime Ohio<br />
						YES<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week11D">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Loyola Marymount at Santa Clara
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN California<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<br />
						Spectrum SportsNet<br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week11E">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Western Kentucky at Marshall
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude<br />
						CST<br />
						CSN California<br />
						CSN Chicago<br />
						MASN<br />
						and <a href="http://americansportsnet.com/game-finder/" target="_blank">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week11F">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						Portland at Gonzaga
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						CSN Bay Area<br />
						ROOT Sports Northwest<br />
						ROOT Sports Rocky Mountain<sup>+</sup><br />
						ROOT Sports Southwest<sup>+</sup><br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week11G">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						George Mason at Richmond
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Comcast Network Philadelphia<br />
						CSN California<br />
						CSN Chicago<br />
						CSN Mid Atlantic PLUS<br />
						CST<br />
						SNY<br />
						and <a href="http://americansportsnet.com/game-finder/" target="_blank">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="basketball201617week11H">
		@Html.Partial("CoverageNotes/CenterLabel")
		<table class="FSNtable">
			<tbody>
				<tr>
					<th class="FSNrow">
						UIC at Valparaiso
					</th>
				</tr>
				<tr>
					<td class="FSNrow">
						Altitude<br />
						CSN California<br />
						CSN Chicago<br />
						CST<br />
						and <a href="http://americansportsnet.com/game-finder/" target="_blank">local stations</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	@Html.Partial("Google/GooglePartialAd")
</div>
