@model IEnumerable<MSS.Models.ConfGame>
<table class="noTVTable">
    <tbody>
        <tr class="header">
            <th>
                Game
            </th>
            <th>
                Network
            </th>
            <th>
                Time
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="game">
                    @if (!String.IsNullOrEmpty(item.GameTitle))
                    {
                        <label><b><i>@item.GameTitle</i></b></label><br />
                    }
                    @if (!String.IsNullOrEmpty(item.Location))
                    {
                        if (!String.IsNullOrEmpty(item.VisitingTeam))
                        {
                            <label>@item.VisitingTeam vs. @item.HomeTeam</label><br />
                        }
                        <label>(at @item.Location)</label><br />
                    }
                    else
                    {
                        if (!String.IsNullOrEmpty(item.VisitingTeam))
                        {
                            <label>@item.VisitingTeam at @item.HomeTeam</label>
                        }
                    }
                </td>
                <td class="network">@Html.Raw(item.Network)
                </td>
                <td class="time">@Html.Raw(item.Time)
                </td>
            </tr>   
        }
    </tbody>
</table>
