@model MSS.Models.ConferenceModel
@if (Model.ConferenceName.ToLower() != "independents")
{
    if (Model.ConferenceGames.Any(x => x.MediaIndicator == "T" && x.TvType.TrimEnd() == "N"))
    {
        var games = Model.ConferenceGames.Where(x => x.MediaIndicator == "T" && x.TvType.TrimEnd() == "N");
        <div id="networkDiv">
            @Html.Label("Network telecasts")
            @Html.Partial("ConferenceTable", games)
        </div>
        <br />
    }
    if (Model.ConferenceGames.Any(x => x.MediaIndicator == "T" && (x.TvType.TrimEnd() == "NC" || x.TvType.TrimEnd() == "C")))
    {
        var games = Model.ConferenceGames.Where(x => x.MediaIndicator == "T" && (x.TvType.TrimEnd() == "NC" || x.TvType.TrimEnd() == "C"));
        <div id="PrimaryCableDiv">
            @Html.Label("Primary National Cable Telecasts")
            @Html.Partial("ConferenceTable", games)
        </div>
        <br />
    }
    if (Model.ConferenceGames.Any(x => x.MediaIndicator == "T" && x.TvType == "RS"))
    {
        var games = Model.ConferenceGames.Where(x => x.MediaIndicator == "T" && x.TvType.TrimEnd() == "RS");
        <div id="WidelySyndicatedDiv">
            @Html.Label("Broadly Syndicated and/or Secondary National Cable Telecasts")
            @Html.Partial("ConferenceTable", games)
        </div>
        <br />
    }
    if (Model.ConferenceGames.Any(x => x.MediaIndicator == "T" && x.TvType == "NV"))
    {
        var games = Model.ConferenceGames.Where(x => x.MediaIndicator == "T" && x.TvType.TrimEnd() == "NV");
        <div id="WidelySyndicatedDiv">
            @Html.Label("Navy Telecasts")
            @Html.Partial("ConferenceTable", games)
        </div>
        <br />
    }
    if (Model.ConferenceGames.Any(x => (x.MediaIndicator == "T" || x.MediaIndicator == "W") && x.TvType.TrimEnd() == "R" &&
        (x.Conference.Contains("Big 12") && (Model.Year == "2020r" || int.Parse(Model.Year) >= 2012))))
    {
        var games = Model.ConferenceGames.Where(x => (x.MediaIndicator == "T" || x.MediaIndicator == "W") && x.TvType.TrimEnd() == "R");
        <div id="RegionalDiv">
            @Html.Label("Member Retained Telecasts or Internet Exclusives")
            @Html.Partial("ConferenceTable", games)
        </div>
        <br />
    }
    if (Model.ConferenceGames.Any(x => x.MediaIndicator == "T" && x.TvType.TrimEnd() == "R" &&
        (!x.Conference.Contains("Big 12") || (x.Conference.Contains("Big 12") && (Model.Year != "2020r" && int.Parse(Model.Year) < 2012)))))
    {
        var games = Model.ConferenceGames.Where(x => x.MediaIndicator == "T" && x.TvType.TrimEnd() == "R");
        <div id="RegionalDiv">
            @Html.Label("Regional Telecasts")
            @Html.Partial("ConferenceTable", games)
        </div>
        <br />
    }
    if (Model.ConferenceGames.Any(x => x.MediaIndicator == "T" && x.TvType == string.Empty))
    {
        var games = Model.ConferenceGames.Where(x => x.MediaIndicator == "T" && x.TvType == string.Empty);
        <div id="NetworkToBeDeterminedDiv">
            @Html.Label("Network or Platform To Be Determined")
            @Html.Partial("ConferenceTable", games)
        </div>
        <br />
    }
    if (Model.ConferenceGames.Any(x => x.MediaIndicator.TrimEnd() == "W" && x.TvType.TrimEnd() != "R"))
    {
        var games = Model.ConferenceGames.Where(x => x.MediaIndicator.TrimEnd() == "W" && x.TvType.TrimEnd() != "R");
        <div id="InternetPPVDiv">
            @Html.Label("Internet Exclusives")
            @Html.Partial("ConferenceTable", games)
        </div>
        <br />
    }
}
else
{
    if (Model.ConferenceGames.Any(x => x.Conference.TrimEnd() == "Army"))
    {
        var games = Model.ConferenceGames.Where(x => x.MediaIndicator == "T" && x.Conference.TrimEnd() == "Army");
        <div id="ArmyDiv">
            @Html.Label("Army West Point telecasts")
            @Html.Raw(Model.ContractTexts.Where(x => x.Conference == "Army").Select(y => y.ContractXmlText).First())
            @Html.Partial("ConferenceTable", games)
        </div>
        <br />
    }
    if (Model.ConferenceGames.Any(x => x.Conference.TrimEnd() == "BYU"))
    {
        var games = Model.ConferenceGames.Where(x => x.Conference.TrimEnd() == "BYU");
        <div id="BYUDiv">
            @Html.Label("BYU telecasts")
            @Html.Raw(Model.ContractTexts.Where(x => x.Conference == "BYU").Select(x => x.ContractXmlText).First())
            @Html.Partial("ConferenceTable", games)
        </div>
        <br />
    }
    if (Model.ConferenceGames.Any(x => x.Conference.TrimEnd() == "UConn"))
    {
        var games = Model.ConferenceGames.Where(x => x.Conference.TrimEnd() == "UConn");
        <div id="NotreDameDiv">
            @Html.Label("UConn telecasts")
            @Html.Raw(Model.ContractTexts.Where(x => x.Conference == "UConn").Select(y => y.ContractXmlText).First())
            @Html.Partial("ConferenceTable", games)
        </div>
        <br />
    }
    if (Model.ConferenceGames.Any(x => x.Conference.TrimEnd() == "Idaho"))
    {
        var games = Model.ConferenceGames.Where(x => x.Conference.TrimEnd() == "Idaho");
        <div id="IdahoDiv">
            @Html.Label("Idaho telecasts")
            @Html.Raw(Model.ContractTexts.Where(x => x.Conference == "Idaho").Select(y => y.ContractXmlText).First())
            @Html.Partial("ConferenceTable", games)
        </div>
        <br />
    }
    if (Model.ConferenceGames.Any(x => x.Conference.TrimEnd() == "Liberty"))
    {
        var games = Model.ConferenceGames.Where(x => x.Conference.TrimEnd() == "Liberty");
        <div id="LibertyDiv">
            @Html.Label("Liberty telecasts")
            @Html.Raw(Model.ContractTexts.Where(x => x.Conference == "Liberty").Select(y => y.ContractXmlText).First())
            @Html.Partial("ConferenceTable", games)
        </div>
        <br />
    }
    if (Model.ConferenceGames.Any(x => x.Conference.TrimEnd() == "UMass"))
    {
        var games = Model.ConferenceGames.Where(x => x.Conference.TrimEnd() == "UMass");
        <div id="NavyDiv">
            @Html.Label("UMass telecasts")
            @Html.Raw(Model.ContractTexts.Where(x => x.Conference == "UMass").Select(y => y.ContractXmlText).First())
            @Html.Partial("ConferenceTable", games)
        </div>
        <br />
    }
    if (Model.ConferenceGames.Any(x => x.Conference.TrimEnd() == "Navy"))
    {
        var games = Model.ConferenceGames.Where(x => x.Conference.TrimEnd() == "Navy");
        <div id="NavyDiv">
            @Html.Label("Navy telecasts")
            @Html.Raw(Model.ContractTexts.Where(x => x.Conference == "Navy").Select(y => y.ContractXmlText).First())
            @Html.Partial("ConferenceTable", games)
        </div>
        <br />
    }
    if (Model.ConferenceGames.Any(x => x.Conference.TrimEnd() == "NMSt"))
    {
        var games = Model.ConferenceGames.Where(x => x.Conference.TrimEnd() == "NMSt");
        <div id="NewMexicoStDiv">
            @Html.Label("NM State telecasts")
            @Html.Raw(Model.ContractTexts.Where(x => x.Conference == "NMSt").Select(y => y.ContractXmlText).First())
            @Html.Partial("ConferenceTable", games)
        </div>
        <br />
    }
    if (Model.ConferenceGames.Any(x => x.Conference.TrimEnd() == "Notre Dame"))
    {
        var games = Model.ConferenceGames.Where(x => x.Conference.TrimEnd() == "Notre Dame");
        <div id="NotreDameDiv">
            @Html.Label("Notre Dame telecasts")
            @Html.Raw(Model.ContractTexts.Where(x => x.Conference == "NotreDame").Select(y => y.ContractXmlText).First())
            @Html.Partial("ConferenceTable", games)
        </div>
        <br />
    }
    if (Model.ConferenceGames.Any(x => x.Conference.TrimEnd() == "Temple"))
    {
        var games = Model.ConferenceGames.Where(x => x.Conference.TrimEnd() == "Temple");
        <div id="TempleDiv">
            @Html.Label("Temple telecasts")
            @Html.Raw(Model.ContractTexts.Where(x => x.Conference == "Temple").Select(y => y.ContractXmlText).First())
            @Html.Partial("ConferenceTable", games)
        </div>
        <br />
    }
}
