@model IEnumerable<MSS.Models.ConfGame>
<table class="noTVTable">
    <tbody>
        <tr class="header">
            <th>
                Game
            </th>
            <th>
                Network
            </th>
            <th>
                Time
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="game">
                    @if (!String.IsNullOrEmpty(item.GameTitle))
                    {
                        <label><b><i>@item.GameTitle</i></b></label><br />
                    }
                    @if (!String.IsNullOrEmpty(item.Location))
                    {
                        if (item.VisitingTeam.Count() == 1 && String.IsNullOrEmpty(item.VisitingTeam[0]))
                        {

                        }
                        else if (item.VisitingTeam.Count() == 1 && !String.IsNullOrEmpty(item.VisitingTeam[0]))
                        {
                            <label>@item.VisitingTeam[0] vs. @item.HomeTeam[0]</label><br />
                        }
                        else
                        {
                            string game = string.Format(@"{0} vs. {1}", item.VisitingTeam[0], item.HomeTeam[0]);
                            for (int i = 1; i < item.VisitingTeam.ToArray().Length; i++)
                            {
                                game = game + string.Format(@"<br>OR {0} vs. {1}", item.VisitingTeam[i], item.HomeTeam[i]);
                            }
                            <label>
                                @Html.Raw(game)
                            </label>
                        }
                        <label>(at @item.Location)</label><br />
                    }
                    else
                    {
                        if (item.VisitingTeam.Count() == 1 && String.IsNullOrEmpty(item.VisitingTeam[0]))
                        {

                        }
                        else if (item.VisitingTeam.Count() == 1 && !String.IsNullOrEmpty(item.VisitingTeam[0]))
                        {
                            <label>@item.VisitingTeam[0] at @item.HomeTeam[0]</label>
                        }
                        else
                        {
                            string game = string.Format(@"{0} at {1}", item.VisitingTeam[0], item.HomeTeam[0]);
                            for (int i = 1; i < item.VisitingTeam.ToArray().Length; i++)
                            {
                                game = game + string.Format(@"<br>OR {0} at {1}", item.VisitingTeam[i], item.HomeTeam[i]);
                            }
                            <label>
                                @Html.Raw(game)
                            </label>

                        }
                    }
                </td>
                <td class="network">@Html.Raw(item.Network)
                </td>
                <td class="time">@Html.Raw(item.Time)
                </td>
            </tr>   
        }
    </tbody>
</table>
